.ratingValueText0 {
  color: #000;
  font-weight: 600 !important;
}
.ratingValueBg0 {
  background-color: #aff1ee;
}

.ratingValueText1 {
  color: #d8d1d2;
  font-weight: 600 !important;
}
.ratingValueBg1 {
  background-color: #d8354b;
}

.ratingValueText2 {
  color: #e6e991 !important;
  font-weight: 600 !important;
}
.ratingValueBg2 {
  background-color: #3580d8;
}

.ratingValueText3 {
  color: #fe0e3f;
  font-weight: 600 !important;
}
.ratingValueBg3 {
  background-color: #40d835;
}
.customer-rating {
  padding: 0;
  border-radius: 0.875rem;
}
.list-group-item {
  border: 1px solid #e9ecef00;
  padding: 2rem 1rem;
}

/*-- Laptop Non-Retina Screens --*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .col-md-9 .list-group-item {
    border: 1px solid #e9ecef00;
    padding: 2.25rem 1rem;
  }
}

/*-- Laptop Retina Screens --*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .col-md-9 .list-group-item {
    border: 1px solid #e9ecef00;
    padding: 2.25rem 1rem;
  }
}
