<!-- 
<span *ngFor="let item of dashboardInfo">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
  
    </ng-template>
</span>
<br>
<span *ngFor="let item of dashboardInfo1">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>

    </ng-template>
</span>
<br>
<span *ngFor="let item of dashboardInfo2">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>

    </ng-template>
</span>
<br>
<span *ngFor="let item of dashboardInfo3">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>

    </ng-template>
</span>
<br>
<span *ngFor="let item of dashboardInfo4">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
    </ng-template>
</span>
<br>
<span *ngFor="let item of dashboardInfo5">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
        
    </ng-template>

</span>
<br>
<span *ngFor="let item of dashboardInfo6">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
       
    </ng-template>

</span>
<br>
<span *ngFor="let item of dashboardInfo7">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
        
    </ng-template>
   
</span>
<br>
<span *ngFor="let item of dashboardInfo8">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>

    </ng-template>
    
</span>
<br>
<span *ngFor="let item of dashboardInfo9">
    <span *ngIf="item.customerRatingValue === 0; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 1; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 2; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
        </div>
    </span>
    <span *ngIf="item.customerRatingValue === 3; else elseBlock">
        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
        </div>
    </span>
    <ng-template #elseBlock>
    </ng-template>
</span>
<br> -->

<div class="card shadow">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <h3 [style.color]="'blue'" [style.fontWeight]="'900'">Recently Accessed Customers</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" *ngFor="let item of customeraccesslist">
                <li class="list-group-item text-nowrap">
                    <span>{{ item.customerNumber }} &nbsp;&nbsp;&nbsp; {{ item.customerName }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                    
                        </ng-template>
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo1">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo2">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo3">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo4">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        </ng-template>
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo5">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                            
                        </ng-template>
        
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo6">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        
                        </ng-template>
        
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo7">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                            
                        </ng-template>
                    
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo8">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                        
                    </span>
                </li>
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo9">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        </ng-template>
                    </span>
                </li>
            </ul>
            
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo1">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo2">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo3">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo4">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        </ng-template>
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo5">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                            
                        </ng-template>
        
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo6">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        
                        </ng-template>
        
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo7">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                            
                        </ng-template>
                    
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo8">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
        
                        </ng-template>
                        
                    </span>
                </li>
            </ul> -->
            <!-- <ul class="list-group">
                <li class="list-group-item">
                    <span *ngFor="let item of dashboardInfo9">
                        <span *ngIf="item.customerRatingValue === 0; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 1; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 2; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <span *ngIf="item.customerRatingValue === 3; else elseBlock">
                            <span class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                            </span>
                        </span>
                        <ng-template #elseBlock>
                        </ng-template>
                    </span>
                </li>
            </ul> -->
        </div>
    </div>

    
</div>