<div class="card">
    <div class="card-body">
        <h2>Incentive Entry</h2>
        {{incentiveEntry}}
        <form [formGroup]="incentiveEntryForm" (ngSubmit)="onSubmit(incentiveEntryForm)">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Customer</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="customer" formControlName="Customer">
                            <span class="pl-4" (click)="routeToNewCustomer()">
                                <i class="fas fa-plus-circle"></i>
                                New Customer
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Site</label>
                            <div class="dropdown">
                                <select formControlName="Site" class="form-control col-sm-12" [(ngModel)]="selectedValue" (ngModelChange)="updateSystem($event)">
                                    <option *ngFor="let site of listsitesforcustomer" value="{{ site.customer_Site_id }}" [ngValue]="site.customer_Site_id">
                                        {{ site.siteName }}
                                    </option>
                                </select>
                            </div>
                            <span class="pl-4" (click)="routeToNewSite()">
                                <i class="fas fa-plus-circle"></i>
                                New Site
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">System</label>
                            <div class="dropdown">
                                <select formControlName="System" class="form-control col-sm-12">
                                    <option *ngFor="let system of listSystemsForSite" value="{{ system.customer_System_id }}" [ngValue]="system.customer_System_id">
                                        {{ system.systemType }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline form-check">
                            <label class="col-sm-2 col-form-label form-check-label">This is a new system</label>
                            <input type="checkbox" class="form-control form-check-input" [(ngModel)]="newSystem" formControlName="NewSystem">
                        </div>
                        <div class="form-group form-inline">
                            <p class="text-danger">Verify System Information!</p>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Account #</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="accountNumber" formControlName="AccountNumber">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Panel Type</label>
                            <div class="dropdown">
                                <select formControlName="PanelType" class="form-control col-sm-12" [(ngModel)]="panelType">
                                    <option *ngFor="let list of listpaneltypes" value="{{ list.panel_Type_Id }}" [ngValue]="list.panel_Type_Id">
                                        {{ list.panelName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Location</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="location" formControlName="Location">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Central Station</label>
                            <div class="dropdown">
                                <select formControlName="CentralStation" class="form-control col-sm-12" [(ngModel)]="centralStation">
                                    <option *ngFor="let station of listcentralstations" value="{{ station.centralStationID }}" [ngValue]="station.centralStationID">
                                        {{ station.csName }}
                                    </option>
                                </select>
                            </div>
                            <!-- <input type="text" class="form-control col-sm-5" [(ngModel)]="centralStation" formControlName="centralStation"> -->
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Additional Info</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="additionalInfo" formControlName="AdditionalInfo">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Upload Documents
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Invoice</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="invoiceUpload" formControlName="InvoiceUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Subscriber Form</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="subscriberFormUpload" formControlName="SubscriberFormUpload">
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Site Visit</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="siteVisitUpload" formControlName="SiteVisitUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="otherDocument1Upload" formControlName="OtherDocument1Upload">
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Contract</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <!-- <i class="far fa-play-circle"></i> -->
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="contractUpload" formControlName="ContractUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <!-- <i class="far fa-play-circle"></i> -->
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="otherDocument2Upload" formControlName="OtherDocument2Upload"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Incentive Information
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Invoice #</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <input type="text" class="form-control col-sm-10" [(ngModel)]="invoiceNumber" formControlName="InvoiceNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Total</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-8" [(ngModel)]="invoiceTotal" formControlName="InvoiceTotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Tax</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-10" [(ngModel)]="tax" formControlName="Tax">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Recurring (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToRecurring()"></i></label>
                                    <!-- (Enter Line Items)
                                    <a (click)="routeToRecurring()">
                                        <i class="fas fa-plus-circle pl-3"></i>
                                    </a> -->
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="recurring" formControlName="Recurring">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Equipment &amp; Materials (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToEquipMaterials()"></i></label>
                                    <!-- (Enter Line Items)
                                    <a (click)="routeToEquipMaterials()">
                                        <i class="fas fa-plus-circle pl-3"></i>
                                    </a> -->
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="equipmentAndMaterials" formControlName="EquipmentAndMaterials">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Labor Charges (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToLaborCharges()"></i></label>
                                    <!-- (Enter Line Items)
                                    <a (click)="routeToLaborCharges()">
                                        <i class="fas fa-plus-circle pl-3"></i>
                                    </a> -->
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="laborCharges" formControlName="LaborCharges">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-5 col-form-label pl-0 display-contents">Line Item Subtotal</label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="lineItemSubtotal" formControlName="LineItemSubtotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 col-form-label">Start Date</label>
                                    <input type="date" class="form-control col-sm-5" [(ngModel)]="startDate" formControlName="StartDate">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 col-form-label">Term</label>
                                    <input type="month" class="form-control col-sm-2 mr-3" [(ngModel)]="term" formControlName="Term">Months
                                </div>
                                <div class="form-group form-inline form-check">
                                    <label class="col-sm-5 col-form-label text-danger font-weight-bold form-check-label">Signals Tested!</label>
                                    <input type="checkbox" class="form-control form-check-input" [(ngModel)]="signalsTested" formControlName="SignalsTested">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-10 col-form-label">
                                        <small>I certify that all signals to and from the Central Station have been tested and the alarm system passed all of those tests.</small>
                                    </label>
                                </div>
                                <div class="col-md-4 offset-md-8">
                                    <div class="row justify-content-end">
                                        <button class="btn btn-primary btn-light-blue">Submit Incentive</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>