<div class="card">
    <div class="card-body">
        <h2>Incentive Entry</h2>
        {{incentiveEntry}}
        <form [formGroup]="incentiveEntryForm" (ngSubmit)="onSubmit(incentiveEntryForm)">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Customer</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="customer" formControlName="Customer">
                            <span class="ml-2" (click)="openSearchCustomerModal(content)">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="pl-4" (click)="routeToNewCustomer()">
                                <i class="fas fa-plus-circle"></i>
                                New Customer
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Site</label>
                            <div class="dropdown">
                                <select formControlName="Site" class="form-control col-sm-12" [(ngModel)]="selectedValue" (ngModelChange)="updateSystem($event)">
                                    <option *ngFor="let site of listsitesforcustomer" value="{{ site.customer_Site_id }}" [ngValue]="site.customer_Site_id">
                                        {{ site.siteName }}
                                    </option>
                                </select>
                            </div>
                            <span class="ml-2">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="pl-4" (click)="routeToNewSite()">
                                <i class="fas fa-plus-circle"></i>
                                New Site
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">System</label>
                            <div class="dropdown">
                                <select formControlName="System" class="form-control col-sm-12">
                                    <option *ngFor="let system of listSystemsForSite" value="{{ system.customer_System_id }}" [ngValue]="system.customer_System_id">
                                        {{ system.systemType }}
                                    </option>
                                </select>
                            </div>
                            <span class="ml-2">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <div class="form-group form-inline form-check">
                            <label class="col-sm-2 col-form-label form-check-label">This is a new system</label>
                            <input type="checkbox" class="form-control form-check-input" [(ngModel)]="newSystem" formControlName="NewSystem">
                        </div>
                        <div class="form-group form-inline">
                            <p class="text-danger">Verify System Information!</p>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Account #</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="accountNumber" formControlName="AccountNumber">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Panel Type</label>
                            <div class="dropdown">
                                <select formControlName="PanelType" class="form-control col-sm-12" [(ngModel)]="panelType">
                                    <option *ngFor="let list of listpaneltypes" value="{{ list.panel_Type_Id }}" [ngValue]="list.panel_Type_Id">
                                        {{ list.panelName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Location</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="location" formControlName="Location">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Central Station</label>
                            <div class="dropdown">
                                <select formControlName="CentralStation" class="form-control col-sm-12" [(ngModel)]="centralStation">
                                    <option *ngFor="let station of listcentralstations" value="{{ station.centralStationID }}" [ngValue]="station.centralStationID">
                                        {{ station.csName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Additional Info</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="additionalInfo" formControlName="AdditionalInfo">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Upload Documents
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Invoice</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="invoiceUpload" formControlName="InvoiceUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Subscriber Form</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="subscriberFormUpload" formControlName="SubscriberFormUpload">
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Site Visit</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="siteVisitUpload" formControlName="SiteVisitUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="otherDocument1Upload" formControlName="OtherDocument1Upload">
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Contract</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="contractUpload" formControlName="ContractUpload">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input type="file" class="form-control col-sm-6" [(ngModel)]="otherDocument2Upload" formControlName="OtherDocument2Upload"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Incentive Information
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Invoice #</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <input type="text" class="form-control col-sm-10" [(ngModel)]="invoiceNumber" formControlName="InvoiceNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Total</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-8" [(ngModel)]="invoiceTotal" formControlName="InvoiceTotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Tax</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-10" [(ngModel)]="tax" formControlName="Tax">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Recurring (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToRecurring()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="recurring" formControlName="Recurring">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Equipment &amp; Materials (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToEquipMaterials()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="equipmentAndMaterials" formControlName="EquipmentAndMaterials">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0">Labor Charges (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToLaborCharges()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="laborCharges" formControlName="LaborCharges">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-5 col-form-label pl-0 display-contents">Line Item Subtotal</label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="lineItemSubtotal" formControlName="LineItemSubtotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 col-form-label">Start Date</label>
                                    <input type="date" class="form-control col-sm-5" [(ngModel)]="startDate" formControlName="StartDate">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 col-form-label">Term</label>
                                    <input type="month" class="form-control col-sm-2 mr-3" [(ngModel)]="term" formControlName="Term">Months
                                </div>
                                <div class="form-group form-inline form-check">
                                    <label class="col-sm-5 col-form-label text-danger font-weight-bold form-check-label">Signals Tested!</label>
                                    <input type="checkbox" class="form-control form-check-input" [(ngModel)]="signalsTested" formControlName="SignalsTested">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-10 col-form-label">
                                        <small>I certify that all signals to and from the Central Station have been tested and the alarm system passed all of those tests.</small>
                                    </label>
                                </div>
                                <div class="col-md-4 offset-md-8">
                                    <div class="row justify-content-end">
                                        <button class="btn btn-primary btn-light-blue">Submit Incentive</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a customer</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchValue">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="searchValue">
                </div> -->
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>
                    <div class="form-group">
                        <input 
                            [(ngModel)]="searchByCustomer"
                            [checked]="true"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCustomer($event.target.value)"
                        >
                        <label>Customer</label>
                    </div>
                    <div class="form-group">
                        <input
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToBilling($event.target.value)"
                        >
                        <label>Billing Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToSite($event.target.value)"
                        >
                        <label>Site Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCentralStation($event.target.value)"
                        >
                        <label>Central Station #</label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <h3>Cancelled Customers</h3>
                    <div class="radio-label-vertical-wrapper">
                        <div class="form-group">
                          <!-- <label>Rate Please<sup class="text-danger">* </sup></label> -->
                          <label class="radio-label-vertical">
                            <input type="radio" name="cancelledCustomers" value="0" required>Include</label>
                          <label class="radio-label-vertical">
                            <input type="radio" name="cancelledCustomers" value="1" required>Exclude</label>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerSearchList | filter:searchValue | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{ customer.customer_Number }}</td>
                    <td>{{ customer.customer_Name }}</td>
                    <td>{{ customer.customerStatus }}</td>
                    <td>{{ customer.address_1 }}</td>
                    <td>{{ customer.address_2 }}</td>
                    <td>{{ customer.address_3 }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zipCode }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="selectCustomer(customer.customer_id)">
                            Select
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
        <!-- <kendo-grid
            [kendoGridBinding]="gridData"
            kendoGridSelectBy="customer_id"
            [selectedKeys]="mySelection"
            [pageSize]="20"
            [pageable]="true"
            [sortable]="true"
            [groupable]="true"
            [reorderable]="true"
            [resizable]="true"
            [height]="480"
            [columnMenu]="{ filter: true }"
        >
            <ng-template kendoGridToolbarTemplate>
                <input 
                    placeholder="Search in all columns..." 
                    kendoTextBox 
                    (input)="onFilter($event.target.value)" 
                />
            </ng-template>
            <kendo-grid-column 
                field="customer_Number" 
                title="Customer Number" 
                [width]="220"
                filter="text">
            </kendo-grid-column>
            <kendo-grid-column
                field="customer_Name"
                title="Customer Name"
                [width]="100"
                [class]="{'text-center': true}"
                [resizable]="true"
                filter="text"
            >
            </kendo-grid-column>
            <kendo-grid-column
                field="customerStatus"
                title="Customer Status"
                [width]="100"
                [class]="{'text-center': true}"
                [resizable]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
                field="address_1"
                title="Address 1"
                [width]="110"
                [resizable]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
                field="address_2"
                title="Address 2"
                [width]="230"
                [resizable]="false"
                >
            </kendo-grid-column>
            <kendo-grid-column
                field="address_3"
                title="Address 3"
                [width]="100"
            >
            </kendo-grid-column>
            <kendo-grid-column field="city" title="City" [width]="130">
            </kendo-grid-column>
            <kendo-grid-column field="state" title="State" [width]="200">
            </kendo-grid-column>
            <kendo-grid-column field="zipCode" title="Zip Code" [width]="200">
            </kendo-grid-column>
        </kendo-grid> -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>