.display-contents {
  display:contents;
}
.form-inline label {
  justify-content: flex-start;
}
.btn-light-blue {
  border: 1px solid #707070;
  background-color: #34e5f2;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 16px;
  font-size: 15px;
}
.btn-light-green {
  border: 1px solid #707070;
  background-color: #6cf1af;
  color: black;
}
.btn-secondary {
  background-color: #5abd78;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 16px;
  font-size: 15px;
}
.btn-secondary:active {
  background-color: #28904b;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 16px;
  font-size: 15px;
}
.btn-error {
  background-color: #ca5856;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  line-height: 16px;
  font-size: 15px;
}
.text-error {
  color: #ca5856;
}
/* The next style breaks the other modals, ie. Call Summary. Needs another way to achieve desired result*/
/* ::ng-deep .modal {
  text-align: center;
} */
/*
::ng-deep .my-class .modal-dialog { 
  text-align: left; 
  max-width: 100%;
  width: auto !important;
  display: inline-block;
} */

/* .recurring .modal-content {
  max-width: 1450px !important; */
  /*max-width: 1250px !important;*/
  /* width: 1450px;
} */
/* ::ng-deep .modal-dialog {
  max-width: 1450px !important; */
  /*max-width: 1250px !important;*/
  /* width: 1450px;
} */
.radio-label-vertical-wrapper {
  padding-bottom: 13px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.radio-label-vertical-wrapper:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 30px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.radio-label-vertical-wrapper label:not(.radio-label-vertical) {
  display: block;
  width: 100%;
}
.radio-label-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  text-align: center;
}
.radio-label-vertical input {
  position: absolute;
  top: 28px;
  left: 50%;
  margin-left: -6px;
  display: block;
  cursor: pointer;
}
.btn-outline-secondary {
  color: #000;
}
.btn-outline-secondary:hover {
  background-color: #fff;
}
.form-group {
  margin-bottom: 1.1rem;
}
#search-border {
  border: 1px solid #cad1d7;
}
.incentive-header {
  color: #1b5eac;
}
.company {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
}
.shadow {
  border: 1px solid black;
  /* margin-bottom: 2.1rem; */
  padding: .1rem .8rem;
}

.fullWidthSelect {
  /* width: calc(17vw - 20px); */
  width: calc(15vw - 20px);
}

.fullWidthInput {
  width: calc(17vw - 20px);
}

.footer-logo {
  color: #1B5EAC;
}
.mt-25 {
  margin-top: 25px;
}
.mt-1_8 {
  margin-top: 1.8rem;
}
.pl-6 {
  padding-left: 6rem !important;
}
.uploaded-file {
  border: 1px solid #cad1d7;
  border-radius: .375rem;
  padding: .625rem .75rem;
  color: #8898aa;
  height: calc(2.75rem + 2px);
}
.recurring-header-bg,
.equipmat-header-bg,
.incentivelabor-header-bg {
	/* background-color: #34e5f2; */
	background-color: #eae8e8;
	border: 1px solid #707070;
}
/* .equipmat-header-bg {
	background-color: #eae8e8;
	border: 1px solid #707070;
}
.incentivelabor-header-bg {
	background-color: #eae8e8;
	border: 1px solid #707070;
} */
header, .row {
	display: flex;  /* aligns all child elements (flex items) in a row */
} 
.col {
	flex: 1;        /* distributes space on the line equally among items */
}
.center-block {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.row-entry-margin {
	margin: 10px auto;
}
.row-entry-padding {
	padding: 10px 10px 10px 10px;
}
.row-entry-multiple-select {
	width: 140px;
}
.btn-submit {
	background-color: #1ade13;
	color: #fff;
}
.btn-add {
	background-color: #1B5EAC;
	color: #fff;
}
::ng-deep .k-numerictextbox .k-numeric-wrap .k-input {
  color: #8898aa;
}

/*SAMPLE AUTOSUGGEST*/
/* .customer-list {
  width: 50%;
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  left: 25%;
  max-height: calc(50% - 15px);
  overflow-y: auto;
  background: #fff;
}*/
.customer-select-list {
  cursor: pointer;
  padding: 5px 10px;
}
/*.customer-name {
  display: inline-block;
  position: absolute;
}
.customer-select-list:hover {
  background: #c0c0c0;
  color: #fff;
} */

/* .ng-autocomplete {
  width: 280px;
  height: 40px;
  box-shadow: none;
  border: 1px solid #cad1d7;
  border-radius: 10px;
} */

.ng-autocomplete {
  width: 280px;
}
.pl-25 {
  padding-left: 25px;
}
.description {
  width: 320px; /*Use to adjust description width. Will require updates to other fields*/
}
  
.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
}
  
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  font-size: 0.875rem;
  display: block;
  /* height: 2.1875rem; */
  height: calc(2.75rem + 2px);
  padding: 0.375rem 1rem;
  font-weight: 400;
  line-height: 1.52857143;
  /*color: #495057;*/
  /*border: 1px solid #dde6e9; */
  /*border-radius: 0.25rem;*/
  color: #8898aa;
  border: 1px solid #cad1d7;
  border-radius: .375rem;
}
  
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
  padding: 0.5rem 1rem;
}
  
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
  border: 0;
}
.w-54 {
  width: 54% !important;
}

/*Progress Bar*/
/* .progress {
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  border: 1px solid #000;
}

.progress span {
  margin: 0%;
  font-size: 40px;
  font-family: system-ui;
  position: absolute;
  color: #c5c5c5;
}

.bar {
  background: #24292e;
  height: inherit;
  margin: 0%;
  transition: all 0.5s ease-out ; 
} */