<div class="card">
    <div class="card-body">
        <div class="row ml-0">
            <div class="col-md-12">
                <div class="row">
                    <h1 class="incentive-header">Incentive Entry | 
                        <span class="company">{{ companyName }} - {{ partnerCode }}</span>
                    </h1>
                </div>
            </div>
        </div>
        <form [formGroup]="incentiveDashboardForm" (ngSubmit)="onSubmit(incentiveDashboardForm)">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Customer</label>
                            <input 
                                type="text"
                                class="form-control col-sm-5" 
                                [(ngModel)]="customer" 
                                formControlName="CustomerID"
                            >
                            
                            <!-- <input 
                                type="text" 
                                class="form-control col-sm-12" 
                                [(ngModel)]="systemCode" 
                                formControlName="SystemCode"
                            > -->

                            <span class="ml-2" (click)="openSearchCustomerModal(content)">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="pl-4" (click)="routeToNewCustomer()">
                                <i class="fas fa-plus-circle"></i>
                                New Customer
                            </span>
                        </div>
                        <!-- <p>{{id}}</p> -->
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Site</label>

                            <div *ngIf="isSiteSelectionFirst">
                                <input 
                                    type="text" 
                                    class="form-control col-sm-12" 
                                    [(ngModel)]="siteName" 
                                    formControlName="CustomerSiteID"
                                >
                            </div>
                            <!-- <input 
                                type="text" 
                                class="form-control col-sm-5" 
                                [(ngModel)]="siteName" 
                                formControlName="Site"
                            > -->
                            <div *ngIf="isRemoveDropdown">
                                <div class="dropdown">
                                    <select 
                                        formControlName="CustomerSiteID" 
                                        class="form-control col-sm-12" 
                                        [(ngModel)]="siteName" 
                                        (ngModelChange)="updateSite($event)">
                                        <option *ngFor="let site of listsitesforcustomer" value="{{ site.customer_Site_id }}" [ngValue]="site.customer_Site_id">
                                            {{ site.siteName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="dropdown">
                                <select 
                                    formControlName="Site" 
                                    class="form-control col-sm-12" 
                                    [(ngModel)]="siteName" 
                                    (ngModelChange)="updateSite($event)">
                                    <option *ngFor="let site of listsitesforcustomer" value="{{ site.customer_Site_id }}" [ngValue]="site.customer_Site_id">
                                        {{ site.siteName }}
                                    </option>
                                </select>
                            </div> -->
                            <span class="ml-2" (click)="openSearchSiteModal(site)">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="pl-4" (click)="routeToNewSite()">
                                <i class="fas fa-plus-circle"></i>
                                New Site
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">System</label>

                            <div *ngIf="isSystemSelectionFirst">
                                <input 
                                    type="text" 
                                    class="form-control col-sm-12" 
                                    [(ngModel)]="systemCode" 
                                    formControlName="SystemCode"
                                >
                            </div>
                            <!-- <input 
                                type="text" 
                                class="form-control col-sm-12" 
                                [(ngModel)]="systemType" 
                                formControlName="SystemType"
                            > -->

                            <div *ngIf="isRemoveSystemDropdown">
                                <div class="dropdown">
                                    <select 
                                        formControlName="System" 
                                        class="form-control col-sm-12"
                                        [(ngModel)]="selectedValue"
                                        (ngModelChange)="updateSystem($event)"
                                    >
                                        <option *ngFor="let system of listSystemsForSite" value="{{ system.customer_System_id }}" [ngValue]="system.customer_System_id">
                                            {{ system.systemType }} - {{  system.alarmAccount }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="dropdown">
                                <select 
                                    formControlName="System" 
                                    class="form-control col-sm-12"
                                    [(ngModel)]="selectedValue"
                                    (ngModelChange)="updateSystem($event)"
                                >
                                    <option *ngFor="let system of listSystemsForSite" value="{{ system.customer_System_id }}" [ngValue]="system.customer_System_id">
                                        {{ system.systemType }}
                                    </option>
                                </select>
                            </div> -->
                            <span class="ml-2" (click)="openSearchSystemModal(system)">
                                <i class="fas fa-search"></i>
                            </span>
                            <input type="checkbox" class="form-control form-check-input ml-3" [(ngModel)]="newSystem" formControlName="NewSystem">
                            <label class="col-sm-2 col-form-label form-check-label">This is a new system</label>
                        </div>
                        <!-- <div class="form-group form-inline form-check">
                            <label class="col-sm-2 col-form-label form-check-label">This is a new system</label>
                            <input type="checkbox" class="form-control form-check-input" [(ngModel)]="newSystem" formControlName="NewSystem">
                        </div> -->
                        <div class="form-group form-inline">
                            <p class="text-danger">Verify System Information!</p>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Account #</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="alarmAccount" formControlName="AlarmAccount">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">System Type</label>
                            <div class="dropdown">
                                <select 
                                    formControlName="SystemType" class="form-control col-sm-12" 
                                    [(ngModel)]="systemType"
                                >
                                    <option *ngFor="let list of listsystemtypes" value="{{ list.system_Id }}" [ngValue]="list.system_Id">
                                        {{ list.systemName }}
                                    </option>
                                </select>
                            </div>
                            <span class="col-sm-4">
                                <small>If <b>Other</b> is selected, please describe in Comments Section</small>
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Panel Type</label>
                            <div class="dropdown">
                                <select 
                                    formControlName="PanelType" class="form-control col-sm-12" 
                                    [(ngModel)]="panelType"
                                >
                                    <option *ngFor="let list of listpaneltypes" value="{{ list.panel_Type_Id }}" [ngValue]="list.panel_Type_Id">
                                        {{ list.panelName }}
                                    </option>
                                </select>
                            </div>
                            <span class="col-sm-4">
                                <small>If <b>Other</b> is selected, please describe in Comments Section</small>
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Panel Location</label>
                            <input type="text" class="form-control col-sm-5" [(ngModel)]="panelLocation" formControlName="PanelLocation">
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Central Station</label>
                            <div class="dropdown">
                                <select 
                                    formControlName="CentralStationID" class="form-control col-sm-12" 
                                    [(ngModel)]="centralStationID"
                                >
                                    <option *ngFor="let station of listcentralstations" value="{{ station.centralStationID }}" [ngValue]="station.centralStationID">
                                        {{ station.csName }}
                                    </option>
                                </select>
                            </div>
                            <span class="col-sm-4">
                                <small>If <b>Other</b> is selected, please describe in Comments Section</small>
                            </span>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-2 col-form-label">Additional Info</label>
                            <input type="text" class="form-control col-sm-10" [(ngModel)]="additionalInfo" formControlName="AdditionalInfo">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Upload Documents
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Invoice</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="invoiceUpload" 
                                        formControlName="InvoiceUpload"
                                        (change)="getFileDetails($event)"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Subscriber Form</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="subscriberFormUpload" formControlName="SubscriberFormUpload"
                                        (change)="getFileDetails($event)"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Site Visit</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="siteVisitUpload" formControlName="SiteVisitUpload"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="otherDocument1Upload" formControlName="OtherDocument1Upload"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row form-inline mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label pl-0">Contract</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="contractUpload" formControlName="ContractUpload"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-form-label">Other Document</label>
                                    <i class="fas fa-upload pr-3"></i>
                                    <input 
                                        type="file" 
                                        class="form-control col-sm-6" 
                                        [(ngModel)]="otherDocument2Upload" formControlName="OtherDocument2Upload"
                                    > 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Incentive Information
                                </h3>
                            </div>
                        </div>
                        <div class="row form-inline mb-4">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-sm-7 col-form-label pl-0">Invoice #</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <input 
                                            type="text" class="form-control col-sm-10" 
                                            [(ngModel)]="invoiceNumber" formControlName="PartnerInvoiceNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-sm-7 col-form-label pl-0">Invoice Date</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <input 
                                            type="date" class="form-control col-sm-12" 
                                            [(ngModel)]="invoiceDate" formControlName="PartnerInvoiceDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Total</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <!-- <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div> -->
                                        <input
                                            placeholder="$0.00"
                                            mask="separator.2" thousandSeparator=","
                                            prefix="$"
                                            type="text" class="form-control col-sm-8" [(ngModel)]="invoiceTotal"
                                            formControlName="InvoiceTotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-sm-3 col-form-label">Tax</label>
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-10" [(ngModel)]="tax" formControlName="Tax">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0 col-sm-9">Recurring (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToRecurring()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input 
                                            type="text" 
                                            class="form-control col-sm-6" 
                                            [(ngModel)]="recurring" formControlName="Recurring"
                                        >
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0 col-sm-9">Equipment &amp; Materials (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToEquipMaterials()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="equipmentAndMaterials" formControlName="EquipmentAndMaterials">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-form-label pl-0 col-sm-9">Labor Charges (Enter Line Items)<i class="fas fa-plus-circle pl-3" (click)="routeToLaborCharges()"></i></label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="laborCharges" formControlName="LaborCharges">
                                    </div>
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-5 col-form-label pl-0 display-contents">Line Item Subtotal</label>
                                    <div class="input-group col-sm-3 ml-auto">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control col-sm-6" [(ngModel)]="lineItemSubtotal" formControlName="LineItemSubtotal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-inline">
                                    <label class="col-sm-3 col-form-label">Start Date</label>
                                    <input type="date" class="form-control col-sm-5" [(ngModel)]="startDate" formControlName="ContractDate">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-2 col-form-label">Term</label>
                                    <input type="month" class="form-control col-sm-2 mr-3" formControlName="ContractTerm">Mo

                                    <label class="col-sm-3 col-form-label">Renewal</label>
                                    <input type="month" class="form-control col-sm-2 mr-3" formControlName="RenewalMonths">Mo
                                </div>
                                <div class="form-group form-inline form-check">
                                    <label class="col-sm-5 col-form-label text-danger font-weight-bold form-check-label">Signals Tested!</label>
                                    <input type="checkbox" class="form-control form-check-input" [(ngModel)]="signalsTested" formControlName="SignalsTested">
                                </div>
                                <div class="form-group form-inline">
                                    <label class="col-sm-10 col-form-label">
                                        <small>I certify that all signals to and from the Central Station have been tested and the alarm system passed all of those tests.</small>
                                    </label>
                                </div>
                                <div class="col-md-12 offset-md-0">
                                    <!-- <div class="row d-flex justify-content-between">
                                      <button class="btn btn-success">Add/View Comments</button>
                                      <button class="btn btn-primary btn-light-blue">Submit Incentive</button>
                                    </div> -->
                                    <button type="button" class="btn btn-success btn-light-green" (click)="openAddViewCommentsModal(comments)">Add/View Comments</button>
                                    <!-- <button type="button" class="btn btn-primary btn-light-blue" (click)="onSubmit(incentiveDashboardForm)">Submit Incentive</button> -->
                                    <button type="button" class="btn btn-primary btn-light-blue" (click)="onSubmit(incentiveDashboardForm)">Submit Incentive</button>
                                  </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search By Customer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a customer</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                    >
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="searchValue">
                </div> -->
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>
                    <div class="form-group">
                        <input 
                            [(ngModel)]="searchByCustomer"
                            [checked]="true"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCustomer($event.target.value)"
                        >
                        <label>Customer</label>
                    </div>
                    <div class="form-group">
                        <input
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToBilling($event.target.value)"
                        >
                        <label>Billing Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToSite($event.target.value)"
                        >
                        <label>Site Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCentralStation($event.target.value)"
                        >
                        <label>Central Station #</label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <div class="row">
                        <h3>Cancelled Customers</h3>
                        <div class="radio-label-vertical-wrapper">
                            <div class="form-group">
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="0" 
                                    required
                                    (change)="onItemChangeToInclude($event.target.value)"
                                >Include</label>
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="1" 
                                    required
                                    [checked]="true"
                                    (change)="onItemChangeToExclude($event.target.value)"
                                >Exclude</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerSearchList | filter:searchValue | paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectCustomer(customer.customer_id,customer.customer_Name)" click>
                    <td>{{ customer.customer_Number }}</td>
                    <td>{{ customer.customer_Name }}</td>
                    <td>{{ customer.customerStatus }}</td>
                    <td>{{ customer.address_1 }}</td>
                    <td>{{ customer.address_2 }}</td>
                    <td>{{ customer.address_3 }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zipCode }}</td>
                    <!-- <td>
                        <button 
                            class="btn btn-primary" 
                            (click)="selectCustomer(customer.customer_id,customer.customer_Name)"
                        >
                            Select
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #site let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search By Site</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a site</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                    >
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>
                    <div class="form-group">
                        <input 
                            [(ngModel)]="searchByCustomer"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCustomer($event.target.value)"
                        >
                        <label>Customer</label>
                    </div>
                    <div class="form-group">
                        <input
                            [checked]="true"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToBilling($event.target.value)"
                        >
                        <label>Billing Address</label>
                    </div>
                    <div class="form-group">
                        <input
                            [checked]="true" 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToSite($event.target.value)"
                        >
                        <label>Site Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCentralStation($event.target.value)"
                        >
                        <label>Central Station #</label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <div class="row">
                        <h3>Cancelled Customers</h3>
                        <div class="radio-label-vertical-wrapper">
                            <div class="form-group">
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="0" 
                                    required
                                    (change)="onItemChangeToInclude($event.target.value)"
                                >Include</label>
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="1" 
                                    required
                                    [checked]="true"
                                    (change)="onItemChangeToExclude($event.target.value)"
                                >Exclude</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Site Number</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">Site Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let site of customerSearchListSite | filterSite:searchValue | paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectSite(site.customer_id,site.customer_Name, site.siteName, site.customer_Site_Id)" click>
                    <td>{{ site.customer_Number }}</td>
                    <td>{{ site.customer_Name }}</td>
                    <td>{{ site.customerStatus }}</td>
                    <td>{{ site.address_1 }}</td>
                    <td>{{ site.address_2 }}</td>
                    <td>{{ site.address_3 }}</td>
                    <td>{{ site.city }}</td>
                    <td>{{ site.state }}</td>
                    <td>{{ site.zipCode }}</td>
                    <td>{{ site.site_Number }}</td>
                    <td>{{ site.siteName }}</td>
                    <td>{{ site.siteStatus }}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #system let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search By System/Central Station</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a system/Central Station</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                    >
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>
                    <div class="form-group">
                        <input 
                            [(ngModel)]="searchByCustomer"
                            [checked]="true"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCustomer($event.target.value)"
                        >
                        <label>Customer</label>
                    </div>
                    <div class="form-group">
                        <input
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToBilling($event.target.value)"
                        >
                        <label>Billing Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToSite($event.target.value)"
                        >
                        <label>Site Address</label>
                    </div>
                    <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCentralStation($event.target.value)"
                        >
                        <label>Central Station #</label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <div class="row">
                        <h3>Cancelled Customers</h3>
                        <div class="radio-label-vertical-wrapper">
                            <div class="form-group">
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="0" 
                                    required
                                    (change)="onItemChangeToInclude($event.target.value)"
                                >Include</label>
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="1" 
                                    required
                                    [checked]="true"
                                    (change)="onItemChangeToExclude($event.target.value)"
                                >Exclude</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Alarm Account</th>
                    <th scope="col">System Status</th>
                    <th scope="col">System Code</th>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Site Number</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">Site Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let station of customerSearchListCentralStation | filterCentralStation:searchValue | paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectCentralStation(station.customer_id, station.customer_Site_Id, station.customer_System_Id, station.alarmAccount, station.system_Code, station.customer_Name)" click>
                    <td>{{ station.alarmAccount }}</td>
                    <td>{{ station.systemStatus }}</td>
                    <td>{{ station.system_Code }}</td>
                    <td>{{ station.customer_Number }}</td>
                    <td>{{ station.customer_Name }}</td>
                    <td>{{ station.customerStatus }}</td>
                    <td>{{ station.address_1 }}</td>
                    <td>{{ station.address_2 }}</td>
                    <td>{{ station.address_3 }}</td>
                    <td>{{ station.city }}</td>
                    <td>{{ station.state }}</td>
                    <td>{{ station.zipCode }}</td>
                    <td>{{ station.site_Number }}</td>
                    <td>{{ station.siteName }}</td>
                    <td>{{ station.siteStatus }}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #comments let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Search By System/Central Station</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>This space is provided for details, additional information and clarifications for your incentive. All information provided will be available to the incentive processing team!</h2>
                </div>
                
            </div> -->
            <div class="col-md-12">
                <form [formGroup]="incentiveDashboardForm">
                    <div class="form-group">
                        <label class="d-block text-center">
                            <div class="col-sm-7 m-auto">
                                <i class="text-center">This space is provided for details, additional information and clarifications for your incentive. All information provided will be available to the incentive processing team!</i>
                            </div>
                        </label>
                        <textarea class="form-control" rows="12" formControlName="PartnerComments"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>