.card {
  border-radius: 0.875rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  filter: drop-shadow(3px 0px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(1px 0 2px rgba(0, 0, 0, 0.12))
    drop-shadow(1px 0 1px rgba(0, 0, 0, 0.14));
}
.card-header {
  padding: 0rem 0rem;
}
.card-body {
  background-color: rgb(249, 249, 167);
}
a:nth-child(1) {
  border-radius: 6px;
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  pre {
    font-family: "Open Sans";
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    max-width: 100%;
    height: calc(52vh - 16px);
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  pre {
    font-family: "Open Sans";
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    max-width: 100%;
    height: calc(42vh - 16px);
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  pre {
    font-family: "Open Sans";
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    max-width: 100%;
    height: calc(42vh - 16px);
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  pre {
    font-family: "Open Sans";
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    max-width: 100%;
    height: calc(56vh - 16px);
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  pre {
    font-family: "Open Sans";
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    max-width: 100%;
    height: calc(40vh - 16px);
  }
}
/**********************************************
End New Layout CSS (see dashboard.component.html)
**********************************************/
