<div *ngFor="let item of dashboardinfo">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <button class="btn btn-success mt-4 mb-4" (click)="refreshDashboard()">Refresh</button>
                <p id="partnerKeyWords" class="afa-text-red text-center font-italic" style="display:inline;margin-left:42%;position:absolute;margin-top:-1rem;">{{ item.partnerKeyWords }}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="card-header" id="afa-card-header" style="padding-left: 15px;">
        <div class="row">
            <div class="col-sm-2">
                <h3 style="font-size:1.3rem;font-weight:700">
                    #<span id="customerNumber">{{ item.customerNumber }}</span>
                </h3>
            </div>
            <div class="col-sm-4">
                <span id="customerName" style="font-size:1.3rem;font-weight:700">{{ item.customerName }}</span>
            </div>
            <div class="col-sm-1">
                <span *ngIf="item.specialFlag === '3G'" else non3GBlock>
                    <!-- Open Special Flag 3G Modal -->
                    <h2 class="special-flag-text" id="specialFlag" (click)="open3GModal()" [ngClass]="'underlineDashed'">{{ item.specialFlag }}</h2>
                </span>
                <ng-template #non3GBlock>
                    <h2 class="special-flag-text" id="specialFlag">{{ item.specialFlag }}</h2>
                </ng-template>
                

            </div>
            <div class="col-sm-5">
                <p id="partnerKeyWords" class="afa-text-red">{{ item.partnerKeyWords }}</p>
            </div>
        </div>
    </div>
    <div class="card-body padding-left15 padding-right0 padding-top0 padding-bottom0">
        <div class="currentCustomerInvoiceRating-bg note-padding">
            <div class="row">
                <div class="col-sm-3">
                    <!--conditionally render customer rating-->
                    <div *ngIf="item.customerRatingValue === 0; else elseBlock">
                        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                            <span id="customerRating" [ngClass]="'ratingValueText0'">{{ item.customerRating }}</span>
                        </div>
                    </div>

                    <div *ngIf="item.customerRatingValue === 1;">
                        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                            <span id="customerRating" [ngClass]="'ratingValueText1'">{{ item.customerRating }}</span>
                        </div>
                    </div>

                    <div *ngIf="item.customerRatingValue === 2;">
                        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                            <span id="customerRating" [ngClass]="'ratingValueText2'">{{ item.customerRating }}</span>
                        </div>
                    </div>

                    <div *ngIf="item.customerRatingValue === 3;">
                        <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                            <span id="customerRating" [ngClass]="'ratingValueText3'">{{ item.customerRating }}</span>
                        </div>
                    </div>

                    <ng-template #elseBlock>
                        <!-- There was an error. Please contact an administrator -->
                    </ng-template>
                    
                </div>
                <div class="col-sm-3">
                    <h3 class="rmr-text">$<span id="totalRMR">{{ item.totalRMR }}</span>/Month</h3>
                    <p id="billFrequency" class="mb-0">{{ item.billFrequency }}</p>
                    <p id="nextCycleOn"></p>
                </div>
                <div class="col-sm-3">
                    <h3 id="guaranteeStatus" class="guarantee-status-text">{{ item.guaranteeStatus }}</h3>
                    <!-- <h3 id="guaranteeStatus" class="guarantee-status-text" [ngbTooltip]="htmlContent">{{ item.guaranteeStatus }}</h3>
                    <ng-template #htmlContent>
                        <h4 [style.color]="'#fd5338'" >
                            {{ view.columnA }}
                        </h4>
                        <span [style.display]="'block'">Lowest Cost Upgrade with Basic Interactive-Alula BAT Connect​ ​</span>
                        <span [style.display]="'block'">(like for like) Existing manufacturer cell upgrade to LTE </span>
                        <span [style.display]="'block'">Alula BAT Connect  with Slim-Line Touchpad</span>
                        <span [style.display]="'block'">Qolsys Interactive​ complete system upgrade</span>
                        <h4 [style.color]="'#fd5338'">
                            {{ view.columnB }}
                        </h4>
                        <span [style.display]="'block'">$99 customer payment and/or an RMR increase of a minimum of $5.00 a month RMR. </span>
                        <span [style.display]="'block'">$99 customer payment and/or an RMR increase of a minimum of $5.00 a month RMR. </span>
                        <span [style.display]="'block'">$199-to-$399 customer payment and an RMR increase of $10.00 to $15.00 a month RMR.</span>
                        <span [style.display]="'block'">This option will justify a substantial upfront payment and increase in RMR to cover installation costs & new services.</span>
                      </ng-template> -->
                </div>
                <div class="col-sm-3">
                    <!-- <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                        BOC?
                    </button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-no-border" style="padding-top:8px;padding-bottom:8px;">
                            
                            <span *ngIf="(item.invoicesArePrinted === 1) && (item.invoicesAreEmailed == 0) && (item.emailAddress == '')">Invoices are printed. No email address on file.</span>
                            <span *ngIf="(item.invoicesArePrinted === 1) && (item.invoicesAreEmailed == 0) && (item.emailAddress)">Invoices are printed. Email address on file, @{{item.emailAddress}}</span>
                            <span *ngIf="(item.invoicesArePrinted === 1) && (item.invoicesAreEmailed == 1) && (item.emailAddress == '')">Invoices are printed and also sent via mail. <mark>No email address on file!</mark></span>
                            <span *ngIf="(item.invoicesArePrinted === 1) && (item.invoicesAreEmailed == 1) && (item.emailAddress)">Invoices are printed and also sent via email to @{{item.emailAddress}}</span>
                            <span *ngIf="(item.invoicesArePrinted === 0) && (item.invoicesAreEmailed == 1) && (!item.emailAddress)">Invoices are sent via mail. <mark>No email address on file!</mark></span>
                            <span *ngIf="(item.invoicesArePrinted === 0) && (item.invoicesAreEmailed == 1) && (item.emailAddress)">Invoices are sent via email to @{{item.emailAddress}}</span>
                            <span *ngIf="(item.invoicesArePrinted === 0) && (item.invoicesAreEmailed == 0) && (item.emailAddress)">No invoice delivery method chosen. Email address on file is @{{item.emailAddress}}</span>

                            <!-- <span *ngIf="item.invoicesArePrinted === 1;"> are printed. No email address on file. </span>
                            <span *ngIf="item.invoicesArePrinted === 0;"> are not printed</span>
                        
                            <span *ngIf="item.invoicesAreEmailed === 1;"> received via email {{ item.invoicesAreEmailed }}</span> 
                            <span *ngIf="item.invoicesAreEmailed === 0;"></span>
                            <span id="emailAddress">- {{ item.emailAddress }}</span> 
                            <span *ngIf="item.noEmail === 1">No email on file</span> -->
                        </li>

                        <!-- notActive is a reference to else -->
                        <!-- <p *ngIf="displayElement; else showThis">Magic element!</p>
                        <ng-template #showThis>      
                            Another magic element!
                        </ng-template> -->

                        <li class="list-group-item list-no-border" style="padding-top:8px;padding-bottom:8px;"> <span id="autoPaymentMessage">{{ item.autoPaymentMessage }}</span> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <!-- <div *ngIf="expression">
                        <span id="hasSeparateSiteAddress" class="float-right" [ngClass]="'bill-to-address-btn'">{{ item.hasSeparateSiteAddress }}</span>
                    </div> -->
                    <div *ngIf="item.hasSeparateSiteAddress === 'Separate Bill-to and Site Address';">
                        <div class="customer-rating" id="customerRatingBg" [ngClass]="'bill-to-address-btn'">
                            {{ item.hasSeparateSiteAddress }}
                        </div>
                    </div>
                    <!-- <span id="hasSeparateSiteAddress" class="float-right" [ngClass]="'bill-to-address-btn'">{{ item.hasSeparateSiteAddress }}</span> -->
                </div>
            </div>
        </div>
        <div class="serviceInfo-bg note-padding">
            <h2 class="pl-2">Service Info</h2>
            <ul class="padding-left0 mb-0">
                <li class="list-group-item" style="padding-top:8px;padding-bottom:8px;">
                    Serviced by: <span id="servicedBy">{{ item.servicedBy }}</span> 
                    <span *ngIf="item.alternateServiceCompanyActive === 1">
                        <span id="alternateServiceCompanyActive">{{ item.alternateServiceCompanyActive }}</span>
                    </span>
                    <!-- <span id="alternateServiceCompanyActive">{{ item.alternateServiceCompanyActive }}</span> -->
                </li>
                <!-- Service Ticket - Last Service Visit -->
                <li class="list-group-item padding-left0" style="padding-top:8px;padding-bottom:8px;">
                    <a class="text-blue mx-auto mb-0" id="showTicketInfoModal" (click)="showTicketInfoModal()"> <i class="ni ni-fat-add" id="add-icon-blue"></i> </a> <span id="lastVisitInfo">{{ item.lastVisitInfo }}</span>
                </li>
                <li class="list-group-item" style="padding-top:8px;padding-bottom:8px;">The customer has had <span id="ticketsLastSixMonths">{{ item.ticketsLastSixMonths }}</span> service tickets in the last 6 months</li>
            </ul>
        </div>
    </div>
</div>
<!-- Special Flag 3G Modal -->
<div class="modal fade" id="threeGModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card border-0">
                    <div class="card-body p-0" id="">
                        <div class="table-responsive">
                            <table class="table align-items-center" *ngFor="let item of basicUpgradeInfo">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            {{item.upgradeOptions}}
                                        </th>
                                        <th scope="col">
                                            {{item.requirements}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>{{item.upgradeOption1}}</th>
                                        <th>{{item.requirement1}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption2}}</th>
                                        <th>{{item.requirement2}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption3}}</th>
                                        <th>{{item.requirement3}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption4}}</th>
                                        <th>{{item.requirement4}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Service Info/Ticket Info Modal -->
<div class="modal fade" id="ticketInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content" *ngFor="let item of serviceTicketInfo2">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-3">
                    <h2 class="modal-title" id="exampleModalLabel">Ticket #{{ item.ticket_Number }}</h2>
                </div>
                <!-- <div class="col-md-3">
                    <h2 class="modal-title">Created On: {{ item.creationDate }}</h2>
                </div> -->
                <div class="col-md-5">
                    <p class="modal-title">Created On: {{ item.creationDate }}</p>
                    <p class="modal-title">By: {{ item.entered_By }}</p>
                </div>
                <div class="col-md-4">
                    <p class="modal-title">Ticket Status: {{ item.ticketStatus }}</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card border-0">
                    <div class="card-body p-0" id="ticketInfoContent">
                        <div class="row  pt-3">
                            <div class="col-md-3">
                                <p>System: {{ item.alarmAccount }}</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{ item.system_Code }}</p>
                            </div>
                            <div class="col-md-4">
                                <p>System Status: {{ item.systemStatus }}</p>
                            </div>
                            <!-- <p>Service performed by {{ item.service_Company_Code }}</p>     -->        
                            <!-- <div class="col-md-3">
                                <p>{{ item.system_Code }}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{ item.ticket_Number }}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{ item.system_Code }}</p>
                            </div>
                            <div class="col-md-3">
                                <p>{{ item.systemStatus }}</p>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="list-style-type-none padding-left0">
                                    <p>Address: {{ item.addressLine }}</p>
                                    <p>Requested by: {{ item.requested_By }} <span class="pl-3">{{ item.requested_By_Phone | phone }}</span> </p>
                                    <p>Service performed by: {{ item.service_Company_Code }}</p>
                                    <p>Problem Code: {{ item.problem_Code }}</p>
                                    <p>Paid by Alarm Connections: {{ item.afaPayment | currency }}</p>
                                </div>
                            </div>
                            <div class="col-md-6" [style.display]="'flex'" [style.margin-top]="'auto'">
                                <div class="list-style-type-none padding-left0">
                                    <p>Resolution: {{ item.resolution_Code }}</p>
                                    <p>Paid by Customer: {{ item.customerPayment }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Customer Comments</h3>
                                <div class="afa-bg-tan note-padding">
                                    <p>{{ item.customerComments }}</p>
                                    <!-- <p *ngIf="item.customerComments = null">There's nothing to display</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3 pb-3">
                                <button class="btn btn-primary boc-btn ml-0 mb-0" (click)="openServiceTicketNotesModal()">
                                    Notes
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Last Service Note</h3>
                                <div class="afa-bg-tan note-padding">
                                    <p>{{ item.lastTicketNote }}</p>
                                    <!-- <p *ngIf="item.lastTicketNote = null">There's nothing to display</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Balance Of Contract Modal. Content availablity TBD -->
<div class="modal fade" id="bocModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <p>Header TBD</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body" id="bocContent">
                        <div class="row">
                            <p>Coming Soon -> show the customer’s balance of contract info</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Service Ticket Notes Modal -->
<div class="modal fade" id="serviceTicketNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <p>Ticket Note</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table align-items-center table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Enter Date</th>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Entered By</th>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Note</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of serviceTicketNotes">
                                    
                                    <td>{{ item.enterDate }}</td>
                                    <td>{{ item.enteredBy }}</td>
                                    <td>{{ item.notes }}</td>
                                    
                                </tbody>
                            </table>
                        </div>

                        <!-- <div class="row" *ngFor="let item of serviceTicketNotes">
                            <p>{{ item.enterDate }}</p>
                            <p>{{ item.enteredBy }}</p>
                            <p>{{ item.notes }}</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideServiceTicketNotesModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner>
