<div class="card">
    <!-- <div class="col-md-12">
        <h2>Incentive Entry</h2>
    </div> -->
    <a routerlink="/incentive-dashboard" ng-reflect-router-link="/incentive-dashboard" href="/incentive-dashboard">
    <button class="btn return-btn mt-5 ml-4">Return to Incentive Entry</button>
    </a>
    <div class="card-body">
        <div class="row ml-0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h1 class="incentive-header">Incentive Entry
                            <!-- <span class="company">{{ companyName }} - {{ partnerCode }}</span> -->
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <span class="mr-5 font-weight-bold">Invoice #</span>
                        <span class="ml-5 font-weight-bold">Customer Name</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <span class="font-weight-bold">Customer Site Information</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <span class="font-weight-bold">Customer System Information</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h3 class="incentive-header">Labor Entry</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6 offset-md-4">
                <span class="mr-5">Invoice #</span>
                <span class="ml-5">Customer Name</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <span>Customer Site Information</span>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <span>Customer System Information</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Labor Entry</h3>
            </div>
        </div> -->

        <section>
            <header class="incentivelabor-header-bg">
                <div class="col">
                    <span class="align-middle">
                        Item
                    </span>
                </div>
                <div class="col">
                    <span class="align-middle">
                        Description
                    </span>
                </div>
                <div class="col">
                    <span class="align-middle">
                        Hours
                    </span>
                </div>
                <div class="col">
                    <span class="align-middle">
                        Cost per Hour
                    </span>
                </div>
                <div class="col">
                    <span class="align-middle">
                        Total
                    </span>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </header>
            <form [formGroup]="incentiveLaborChargesEntryForm" (ngSubmit)="onSubmit(incentiveLaborChargesEntryForm)">
                <div formArrayName="entryRows">
                    <div class="row-entry-padding" *ngFor="let entryRow of incentiveLaborChargesEntryForm.controls.entryRows['controls']; let i=index" [formGroupName]="i">
                        <div class="row">
                            <div class="col">
                                <div class="dropdown">
                                    <select formControlName="ItemID" class="form-control">
                                        <option *ngFor="let item of listLaborItems" value="{{item.item_id}}" [ngValue]="item.item_id">{{ item.itemName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <input 
                                    type="text" 
                                    formControlName="Description" 
                                    class="form-control"
                                >
                            </div>
                            <div class="col">
                                <input 
                                    type="number" 
                                    formControlName="Hours" 
                                    class="form-control"
                                >
                            </div>
                            <div class="col">
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="CostPerHour" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                            <div class="col">
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="Total" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                            <div class="col">
                                <button class="btn btn-add">
                                    <i class="fas fa-plus pr-1"></i>Add
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-submit" (click)="onSubmit(incentiveLaborChargesEntryForm)">
                                    <i class="fas fa-upload pr-1"></i>Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- <form [formGroup]="incentiveLaborChargesEntryForm" (ngSubmit)="onSubmit(incentiveLaborChargesEntryForm)">
            <div formArrayName="entryRows">
                <div *ngFor="let entryRow of incentiveLaborChargesEntryForm.controls.entryRows['controls']; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Description</label>
                                <input 
                                    type="text" 
                                    formControlName="Description" 
                                    class="form-control"
                                >
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Hours</label>
                                <input 
                                    type="text" 
                                    formControlName="Hours" 
                                    class="form-control"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Cost per Hour</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="CostPerHour" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Total</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="Total" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form> -->
        <!-- <div style="overflow: auto;">
            <div class="table table-recurring">
                <div class="thead">
                    <div class="tr">
                        <div class="td">Item</div>
                        <div class="td">Description</div>
                        <div class="td">Hours</div>
                        <div class="td">Cost per Hour</div>
                        <div class="td">Total</div>
                        <div class="td"></div>
                    </div>
                </div>
                <div class="tbody">
                    <form class="tr" [formGroup]="incentiveLaborChargesEntryForm" (ngSubmit)="onSubmit(incentiveLaborChargesEntryForm)">
                        <div class="td">
                            <input type="text" formControlName="Item">
                        </div>
                        <div class="td">
                            <input type="text" [(ngModel)]="description" formControlName="Description">
                        </div>
                        <div class="td">
                            <input type="text" formControlName="Hours">
                        </div>
                        
                        <div class="td">
                            <input type="text" formControlName="CostPerHour">
                        </div>
                        <div class="td">
                            <input type="text" formControlName="Total">
                        </div>
                        <div class="td action">
                            <button type="button" (click)="onSubmit(incentiveLaborChargesEntryForm)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>


