/* .table-recurring {
	display:table;
	border-collapse:separate;
	border-spacing:2px;
}
.thead {
	display:table-header-group;
	color:white;
	font-weight:bold;
	background-color:grey;
}
.tbody {
	display:table-row-group;
}
.tr {
	display:table-row;
}
.td {
	display:table-cell;
	border:1px solid black;
	padding:1px;
}
.tr.editing .td INPUT {
	width:100px;
}
.dropdown {
	display: ruby;
} */

.return-btn {
	background-color: #1B5EAC;
	color: #fff;
}

header, .row {
	display: flex;  /* aligns all child elements (flex items) in a row */
}
  
.col {
	flex: 1;        /* distributes space on the line equally among items */
}
.center-block {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.row-entry-margin {
	margin: 10px auto;
}
.row-entry-padding {
	padding: 10px 10px 10px 10px;
}
.row-entry-multiple-select {
	width: 140px;
}
.incentivelabor-header-bg {
	/* background-color: #34e5f2; */
	background-color: #eae8e8;
	border: 1px solid #707070;
}
.btn-submit {
	background-color: #1ade13;
	color: #fff;
}
.btn-add {
	background-color: #1B5EAC;
	color: #fff;
}
.incentive-header {
	color: #1B5EAC;
}

.footer-logo {
	color: #1B5EAC;
  }
  .mt-25 {
	margin-top: 25px;
  }