<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h5 class="headline-5 high-emphasis">Partner Invoice List</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <button (click)="exportexcel()">Export to Excel</button>

            <table class="table table-striped" id="excel-table">
                <thead>
                    <tr>
                        <th scope="col">Your Invoice #</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Invoice Amount</th>
                        <th scope="col">Customer #</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Alarm Connections #</th>
                        <th scope="col">Date Entered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approved Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of partnerInvoiceListing | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <td id="{{ item.incentiveID }}" class="hyperlink" (click)="onOpenPartnerInvoiceListingModal(item.ticketID, item.incentiveID, item.vendorInvoiceNumber, item.invoiceAmount, item.invoiceDate, item.approvedAmount, item.dateEntered, item.heldReason, item.checkNumber, item.checkDate, item.amountPaid, item.creditAmount, item.creditDate, item.determination, item.customer_Number, item.customer_Name, item.relevantMemo, item.relevantComment, item.address_1, item.address_2, item.address_3, item.city, item.state, item.zipCode, item.ticketNumber, item.csAccount)">{{ item.vendorInvoiceNumber }}</td>
                      <td>{{ item.invoiceDate }}</td>
                      <td>{{ item.invoiceAmount | currency }}</td>
                      <td>{{ item.customer_Number }}</td>
                      <td>{{ item.customer_Name }}</td>
                      <td>{{ item.ticketNumber }}</td>
                      <td>{{ item.dateEntered }}</td>
                      <td>{{ item.determination }}</td>
                      <td *ngIf="item.approvedAmount === 'On Hold' || item.approvedAmount === 'Pending' || item.approvedAmount === 'Denied'; else dollarAmountAvailBlock">{{ item.approvedAmount }}</td>
                      <ng-template #dollarAmountAvailBlock>
                        <td>${{ item.approvedAmount }}</td>
                      </ng-template>
                    </tr>
                  </tbody>
            </table>
            <ngb-pagination
                [collectionSize]="partnerInvoiceListing?.length"
                [(page)]="page" 
                [maxSize]="5" 
                [rotate]="true" 
                [ellipses]="false" 
                [boundaryLinks]="true"
                class="d-flex justify-content-center mt-5">
            </ngb-pagination>
        </div>
    </div>
</div> -->

<div class="card">
    <div class="card-body">
        <kendo-grid
            [kendoGridBinding]="gridData"
            [pageSize]="$any(foo).take"
            [skip]="$any(foo).skip"
            [sort]="$any(foo).sort"
            [filter]="$any(foo).filter"
            [sortable]="{
                allowUnsort: true,
                mode: 'multiple'
            }"
            [pageable]="{
                pageSizes: [5,10,15,25,50,100,150,200]
            }"
            [filterable]="true"
            [resizable]="true"
            [pageSize]="pageSize"
            [groupable]="true"
            [columnMenu]="true"
            [selectable]="true"
            (selectionChange)="onOpenPartnerInvoiceListingModal($event, ticketID, incentiveID, vendorInvoiceNumber, invoiceAmount, invoiceDate, approvedAmount, dateEntered, heldReason, checkNumber, checkDate, amountPaid, creditAmount, creditDate, determination, customer_Number, customer_Name, relevantMemo, relevantComment, address_1, address_2, address_3, city, state, zipCode, ticketNumber, csAccount)"
            kendoGridSelectBy="incentiveID"
            [selectedKeys]="mySelection"
            #dateTime
            class="cursorPointer"
        >
        <ng-template kendoGridToolbarTemplate>
            <button 
              type="button" 
              kendoGridExcelCommand 
              icon="file-excel"
            >Export to Excel
            </button>
          </ng-template>
          <kendo-grid-column-group
            [title]="today"
            [autoSize]="true"
            #dateTime>
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <p [innerHTML]="today" class="mb-0"></p>
            </ng-template>
            <kendo-grid-column field="incentiveID" title="Incentive Id" [hidden]="true"></kendo-grid-column>
            <kendo-grid-column 
                field="vendorInvoiceNumber" 
                title="Your Invoice #" 
                [style]="{color: '#ca5856'}"
                [width]="30"
            >
            </kendo-grid-column>
            <!-- <kendo-grid-column field="customer_Number" title="Customer Number"></kendo-grid-column> -->
            <kendo-grid-column field="invoiceDate" title="Invoice Date"></kendo-grid-column>
            <kendo-grid-column field="invoiceAmount" title="Invoice Amount" format="{0:c}"></kendo-grid-column>
            <kendo-grid-column field="customer_Number" title="Customer #"></kendo-grid-column>
            <kendo-grid-column field="customer_Name" title="Customer Name"></kendo-grid-column>
            <kendo-grid-column field="ticketNumber" title="Alarm Connections #"></kendo-grid-column>
            <kendo-grid-column field="dateEntered" title="Date Entered"></kendo-grid-column>
            <kendo-grid-column field="determination" title="Status"></kendo-grid-column>
            <kendo-grid-column field="approvedAmount" title="Approved Amount"></kendo-grid-column>
        </kendo-grid-column-group>
        <kendo-grid-excel fileName="partnerinvoicelisting" [fetchData]="allData">
        </kendo-grid-excel>
        </kendo-grid>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner>

<!-- Partner Invoice Listing Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-1160">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12 mb-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body pt-0">
                <div class="card p-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Your Invoice #</span> 
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ vendorInvoiceNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Alarm Connections Reference</span> 
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ ticketNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Approved Amount</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ approvedAmount }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Hold Reason</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ heldReason }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Invoice Date</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ invoiceDate }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Date Entered</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ dateEntered }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Amount Submitted</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ invoiceAmount }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Processing Status</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ determination }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-block btn-secondary" (click)="onOpenMessageModal()"><i class="fas fa-plus pr-2"></i>Message</button>
                                <p *ngIf="incentiveID === 0; else incentiveIDAvailBlock" class="body-2 mt-4">There is no incentive available</p>
                                <ng-template #incentiveIDAvailBlock>
                                    <!-- <button type="submit" class="btn btn-block btn-secondary mt-4" (click)="onAddDocument()"><i class="fas fa-plus pr-2"></i>Upload File</button> -->
                                    <button class="btn btn-block btn-secondary mt-4" (click)="openComingSoonModal(comingSoon)" ><i class="fas fa-plus pr-2"></i>Upload File</button>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row border-invoice-status">
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Check Number</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ checkNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Credit Amount Taken</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ creditAmount | currency }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Check Date</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ checkDate }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Credit Date</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ creditDate }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Amount Paid</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ amountPaid | currency }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col border-invoice-status mr-1 rounded">
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">Customer Information</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ customer_Number }} </span>
                                    <span class="body-2 medium-emphasis">{{ customer_Name }}</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ address_1 }}</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ city }}, {{ state }} {{ zipCode }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2 high-emphasis">CS Account #</span>
                                </p>
                                <p>
                                    <span class="body-2 medium-emphasis">{{ csAccount }}</span>
                                </p>
                            </div>
                            <div class="col border-invoice-status ml-1 rounded">
                                <div class="tabs mt-3" id="padding0">
                                    <div class="tab-button-outer">
                                        <ul id="tab-button">
                                            <li class="menu" (click)="toggleShow('tab-1')"><a href="#tab01">Comments</a></li>
                                            <li class="menu" (click)="toggleShow('tab-2')"><a href="#tab02">Memo</a></li>
                                        </ul>
                                    </div>
                            
                                    <div class="tabs-stage" [ngSwitch]="activeTab">
                                        <div id="tab-1" *ngSwitchCase="'tab-1'" [style.background-color]="'#f9f9a7'" [style.padding]="'0.5em 0em 7.5em'">
                                          <pre id="relevantComment">
                                            {{ relevantComment }}
                                          </pre>
                                          <!-- <pre [innerHTML]="relevantComment" id="relevantComment"></pre> -->
                                        </div>
                                        <div id="tab-2" *ngSwitchCase="'tab-2'" [style.background-color]="'#f9f9a7'" [style.padding]="'0.5em 0em 7.5em'">
                                          <pre id="relevantMemo">
                                            {{ relevantMemo }}
                                          </pre>
                                          <!-- <pre [innerHTML]="relevantMemo" id="relevantMemo"></pre> -->
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Memo Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12 mb-2">
                    <!-- <h2 class="modal-title" id="exampleModalLabel">Memo</h2> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body pt-0">
                <div class="card p-3">
                    <div class="card-body p-0">
                      <form [formGroup]="partnerInvoiceListingForm">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label headline-6 medium-emphasis">Memo</label>
                              <textarea 
                                formControlName="Memo"
                                class="form-control" 
                                cols="30" 
                                rows="10">
                              </textarea>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <button type="submit" class="btn btn-secondary" (click)="onSubmitMessage(partnerInvoiceListingForm);clicked = true;" [disabled]="clicked"><i class="fas fa-plus pr-2"></i>Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<ng-template #comingSoon>
    <div class="modal-header">
        <!-- <button class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
            <span aria-label="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <div class="card">
          <div class="card-header border-0 paddingBottom-14px">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-1 mt-1 text-center headline-5">Document Upload Coming Soon</h5>
              </div>
            </div>
          </div>
          <div class="card-body paddingTop-14px">
            <div class="row">
              <div class="col-md-12 pt-2 pb-4">
              </div>
            </div>
          </div>
        </div>
    </div>
</ng-template>
