<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h5 class="headline-5 high-emphasis">Partner Invoice List</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">IncentiveID</th> -->
                        <th scope="col">Your Invoice #</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Invoice Amount</th>
                        <th scope="col">Customer #</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Alarm Connections #</th>
                        <th scope="col">Date Entered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approved Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of partnerInvoiceListing | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <!-- <td scope="row" >{{ item.incentiveID }}</td> -->
                      <td id="{{ item.incentiveID }}" (click)="onOpenPartnerInvoiceListingModal(item.incentiveID, item.vendorInvoiceNumber, item.invoiceAmount, item.invoiceDate, item.approvedAmount, item.dateEntered, item.heldReason, item.checkNumber, item.checkDate, item.amountPaid, item.creditAmount, item.creditDate, item.determination, item.customer_Number, item.customer_Name, item.relevantMemo, item.relevantComment, item.address_1, item.address_2, item.address_3, item.city, item.state, item.zipCode, item.ticketNumber)">{{ item.vendorInvoiceNumber }}</td>
                      <td>{{ item.invoiceDate }}</td>
                      <td>${{ item.invoiceAmount }}</td>
                      <td>{{ item.customer_Number }}</td>
                      <td>{{ item.customer_Name }}</td>
                      <td>{{ item.ticketNumber }}</td>
                      <td>{{ item.dateEntered }}</td>
                      <td>{{ item.determination }}</td>
                      <td *ngIf="item.approvedAmount === 'On Hold' || item.approvedAmount === 'Pending'; else dollarAmountAvailBlock">{{ item.approvedAmount }}</td>
                      <ng-template #dollarAmountAvailBlock>
                        <td>${{ item.approvedAmount }}</td>
                      </ng-template>
                      <!-- <td>${{ item.approvedAmount }}</td> -->
                    </tr>
                  </tbody>
            </table>
            <ngb-pagination
                [collectionSize]="partnerInvoiceListing?.length"
                [(page)]="page" 
                [maxSize]="5" 
                [rotate]="true" 
                [ellipses]="false" 
                [boundaryLinks]="true"
                class="d-flex justify-content-center mt-5">
            </ngb-pagination>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner>

<!-- Partner Invoice Listing Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-1160">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12">
                    <!-- <h2 class="modal-title" id="exampleModalLabel">Memo</h2> -->
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card p-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Your Invoice #</span> 
                                </p>
                                <p>
                                    <span class="body-2">{{ vendorInvoiceNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Alarm Connections Reference</span> 
                                </p>
                                <p>
                                    <span class="body-2">{{ ticketNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Approved Amount</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ approvedAmount }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Hold Reason</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ heldReason }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Invoice Date</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ invoiceDate }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Date Entered</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ dateEntered }}</span>
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Amount Submitted</span>
                                </p>
                                <p>
                                    <span class="body-2">${{ invoiceAmount }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Processing Status</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ determination }}</span>
                                </p>
                                <!-- <p>Amount Submitted</p>
                                <p>Processing Status {{ determination }}</p> -->
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-block btn-secondary" (click)="onOpenMemo()"><i class="fas fa-plus pr-2"></i>Message</button>
                                <p *ngIf="incentiveID === 0; else incentiveIDAvailBlock" class="body-2 mt-4">There is no incentive available</p>
                                <ng-template #incentiveIDAvailBlock>
                                    <button type="submit" class="btn btn-block btn-secondary mt-4" (click)="onAddDocument()"><i class="fas fa-plus pr-2"></i>Upload File</button>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row border-invoice-status">
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Check Number</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ checkNumber }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Credit Amount Taken</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ creditAmount }}</span>
                                </p>

                                <!-- <p>Check Number</p>
                                <p>Credit Amount Taken</p> -->
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Check Date</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ checkDate }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">Credit Date</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ creditDate }}</span>
                                </p>

                                <!-- <p>Check Date</p>
                                <p>Credit Date</p> -->
                            </div>
                            <div class="col">
                                <p class="mb-0">
                                    <span class="subtitle-2">Amount Paid</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ amountPaid }}</span>
                                </p>

                                <!-- <p>Amount Paid</p> -->
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col border-invoice-status mr-1 rounded">
                                <p class="mb-0">
                                    <span class="subtitle-2">Customer Information</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ customer_Number }} </span>
                                    <span class="body-2">{{ customer_Name }}</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ address_1 }}</span>
                                </p>
                                <p>
                                    <span class="body-2">{{ city }}, {{ state }} {{ zipCode }}</span>
                                </p>
                                <p class="mb-0">
                                    <span class="subtitle-2">CS Account #</span>
                                </p>
                                <p>
                                    <span class="body-2">????</span>
                                </p>
                            </div>
                            <div class="col border-invoice-status ml-1 rounded">
                                <div class="tabs mt-3" id="padding0">
                                    <div class="tab-button-outer">
                                        <ul id="tab-button">
                                            <li class="menu" (click)="toggleShow('tab-1')"><a href="#tab01">Comments</a></li>
                                            <li class="menu" (click)="toggleShow('tab-2')"><a href="#tab02">Memo</a></li>
                                        </ul>
                                    </div>
                            
                                    <div class="tabs-stage" [ngSwitch]="activeTab">
                                        <div id="tab-1" *ngSwitchCase="'tab-1'" [style.background-color]="'#f9f9a7'" [style.padding]="'0.5em 0em 7.5em'">
                                          <pre id="relevantComment">
                                            {{ relevantComment }}
                                          </pre>
                                        </div>
                                        <div id="tab-2" *ngSwitchCase="'tab-2'" [style.background-color]="'#f9f9a7'" [style.padding]="'0.5em 0em 7.5em'">
                                          <pre id="relevantMemo">
                                            {{ relevantMemo }}
                                          </pre>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
