<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h5 class="headline-5 high-emphasis">Partner Invoice List</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">IncentiveID</th> -->
                        <th scope="col">Your Invoice #</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Invoice Amount</th>
                        <th scope="col">Customer #</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Alarm Connections #</th>
                        <th scope="col">Date Entered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Approved Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of partnerInvoiceListing | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <!-- <td scope="row" >{{ item.incentiveID }}</td> -->
                      <td id="{{ item.incentiveID }}" (click)="onOpenPartnerInvoiceListingModal(item.incentiveID)">{{ item.vendorInvoiceNumber }}</td>
                      <td>{{ item.invoiceDate }}</td>
                      <td>${{ item.invoiceAmount }}</td>
                      <td>{{ item.customer_Number }}</td>
                      <td>{{ item.customer_Name }}</td>
                      <td>{{ item.ticketNumber }}</td>
                      <td>{{ item.dateEntered }}</td>
                      <td>{{ item.determination }}</td>
                      <td>${{ item.approvedAmount }}</td>
                    </tr>
                  </tbody>
            </table>
            <ngb-pagination
                [collectionSize]="partnerInvoiceListing?.length"
                [(page)]="page" 
                [maxSize]="5" 
                [rotate]="true" 
                [ellipses]="false" 
                [boundaryLinks]="true"
                class="d-flex justify-content-center mt-5">
            </ngb-pagination>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner>

<!-- Partner Invoice Listing Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12">
                    <!-- <h2 class="modal-title" id="exampleModalLabel">Memo</h2> -->
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card p-3">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-6" *ngFor="let item of partnerInvoiceListing">
                                <p>{{ item.incentiveID }}</p>
                                <!-- <p> 
                                    <span class="subtitle-2">Customer #: </span> 
                                    <span class="body-2">{{ customer_Number }}</span></p>
                                <p>
                                    <span class="subtitle-2">Customer Name: </span>
                                    <span class="body-2"> {{ customer_Name }}</span>
                                    
                                </p>
                                <p>
                                    <span class="subtitle-2">Reason for cancellation: </span>
                                    <span class="body-2">{{ rmR_Reason_Code }}</span>
                                     
                                </p>
                                <p>
                                    <span class="subtitle-2">Cancelled RMR: </span>
                                    <span class="body-2">{{ cancelledRMR | currency }}</span>
                                     
                                </p>
                                <p>
                                    <span class="subtitle-2">Balance of Contract: </span>
                                    <span class="body-2">{{ site.balance_Of_Contract | currency }}</span>
                                     
                                </p>
                                <p>
                                    <span class="subtitle-2">Notice provided on: </span>
                                    <span class="body-2">{{ notice_Date | date }}</span>
                                     
                                </p>
                                <p>
                                    <span class="subtitle-2">Cancellation effective: </span>
                                    <span class="body-2">{{ effective_Date | date }}</span>
                                    
                                </p>
                                <p>
                                    <span class="subtitle-2">Phone #: </span>
                                    <span class="body-2">{{ site.primaryPhone }}</span>
                                      <span *ngIf="site.alternatePhone">
                                        <span class="subtitle-2">| Alternate Phone:</span>  
                                        <span class="body-2">{{ site.alternatePhone }}</span>     
                                    </span>
                                </p>
                                <p>
                                    <span class="subtitle-2">Email: </span>
                                    <span class="body-2">
                                        <a href="mailto:{{e_Mail}}">{{ e_Mail }}</a>
                                    </span>
                                   
                                </p>
                                <p>
                                    <span class="subtitle-2"></span>
                                    <span class="body-2">{{ site.address_1 }}</span>
                                    
                                </p>
                                <p *ngIf="site.address_2">
                                    <span class="subtitle-2">Address 2: </span>
                                    <span class="body-2">{{ site.address_2 }}</span>
                                     
                                </p>
                                <p>
                                    <span class="subtitle-2"></span>
                                    <span class="body-2">{{ site.city }}, {{ site.state }} {{ site.zipCode }}</span>
                                    
                                </p> 
                                <p>
                                    <span class="subtitle-2">Cancellation Type: </span>
                                    <span class="body-2">{{ full_Cancel }}</span>
                                     
                                </p> -->
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <button type="submit" class="btn btn-block btn-secondary" (click)="onOpenMemo()"><i class="fas fa-plus pr-2"></i>Message</button>
                                </div>
                                
                                <!-- <div class="card mt-5">
                                    <div class="card-body">
                                        <p class="subtitle-2">Customer's Comment</p>
                                        <p *ngIf="memo === ''; else noCommentBlock" class="body-2">There are no comments available for this customer.</p>
                                        <ng-template #noCommentBlock>
                                            <p class="body-2">{{ memo }}</p>
                                        </ng-template>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div ngbDropdown class="d-inline-block">
                                    <label class="d-block">Business Name:</label>
                                    <select class="form-control form-control-md" id="callSummarySiteSelect" style="height: calc(1.5em + 1.3rem);" >
                                        <option *ngFor="let site of cancelQueueSiteList" value="{{ site.cancel_Queue_Site_Id }}" [ngValue]="site.cancel_Queue_Site_Id" (change)="onChangeBusinessName($event)">
                                            <span class="body-2">{{ site.business_Name }} </span>
                                            <span class="body-2">{{ site.address_1 }}, </span>
                                            <span *ngIf="site.address_2" class="body-2">{{ site.address_2 }}, </span> 
                                            <span class="body-2">{{ site.city}}, {{ site.state }}  {{ site.zipCode}}</span>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
