<!-- <p>dashboard works!</p> -->
<div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card" id="afa-card">
            <app-customercaredashboardinfo></app-customercaredashboardinfo>
        </div>
    </div>
    <div class="col-xl-4">
        <app-callsummary></app-callsummary>
        <app-suggestedtopics></app-suggestedtopics>
        <app-criticalmessage></app-criticalmessage>
    </div>
</div>
<div class="row mt-4">
    <div class="padding-left15" style="width: 100%;">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <app-systeminfo></app-systeminfo>
        </div>
    </div>
</div>
