.view {
  font-weight: 500;
  letter-spacing: 1.15px;
}

/* .bg-gradient-cc-dashboard {
  background: #23036a;
} */
.bg-dashboard {
  filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(-1px 0 2px rgba(0, 0, 0, 0.12))
    drop-shadow(1px 0 1px rgba(0, 0, 0px, 0.14));
}
.card {
  border-radius: 0.875rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  filter: drop-shadow(3px 0px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(1px 0 2px rgba(0, 0, 0, 0.12))
    drop-shadow(1px 0 1px rgba(0, 0, 0, 0.14));
}
