.return-btn {
  background-color: #1b5eac;
  color: #fff;
}

header,
.row {
  display: flex; /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1; /* distributes space on the line equally among items */
}
.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.row-entry-margin {
  margin: 10px auto;
}
.row-entry-padding {
  padding: 10px 10px 10px 10px;
}
.row-entry-multiple-select {
  width: 140px;
}
.recurring-header-bg {
  /* background-color: #34e5f2; */
  background-color: #eae8e8;
  border: 1px solid #707070;
}
.btn-submit {
  background-color: #1ade13;
  color: #fff;
}
.btn-add {
  background-color: #1b5eac;
  color: #fff;
}
.incentive-header {
  color: #1b5eac;
}

.footer-logo {
  color: #1b5eac;
  text-align: right;
}
.mt-25 {
  margin-top: 25px;
}
