<div class="card">
    <a routerlink="/incentive-dashboard" ng-reflect-router-link="/incentive-dashboard" href="/incentive-dashboard">
    <button class="btn return-btn mt-5 ml-4">Return to Incentive Entry</button>
    </a>
    <div class="card-body">
        <div class="row ml-0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h1 class="incentive-header">Incentive Entry
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <span class="mr-5 font-weight-bold">Invoice #</span>
                        <span class="ml-5 font-weight-bold">Customer Name</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <span class="font-weight-bold">Customer Site Information</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <span class="font-weight-bold">Customer System Information</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h3 class="incentive-header">Recurring Item Entry</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6 offset-md-4">
                <span class="mr-5">Invoice #</span>
                <span class="ml-5">Customer Name</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <span>Customer Site Information</span>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-4">
                <span>Customer System Information</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Recurring Item Entry</h3>
            </div>
        </div> -->
        <!-- <form [formGroup]="incentiveRecurringEntryForm" (ngSubmit)="onSubmit(incentiveRecurringEntryForm)">
            <div formArrayName="entryRows">
                <div *ngFor="let entryRow of incentiveRecurringEntryForm.controls.entryRows['controls']; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Service Provided</label>
                                <div class="dropdown">
                                    <select formControlName="Item" class="form-control">
                                        <option *ngFor="let item of listRecurringItems" value="{{item.item_id}}" [ngValue]="item.item_id">{{ item.itemName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Description</label>
                                <input 
                                    type="text" 
                                    formControlName="Description" 
                                    class="form-control"
                                >
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Bill Cycle</label>
                                <div class="dropdown">
                                    <select 
                                        formControlName="BillCycle" 
                                        class="form-control">
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">RMR</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName="RMR" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Pass Through</label>
                                <input 
                                    type="text" 
                                    class="form-control"
                                    formControlName="PassThrough" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Billing Starts</label>
                                <input 
                                    type="date"
                                    class="form-control"
                                    formControlName="BillingStarts"
                                >
                            </div>
                            <div class="form-group" style="margin-top:4rem;margin-bottom: 1.9rem;">
                                <label class="col-form-label">Add to an Existing RMR Item</label>
                                <input 
                                    type="checkbox"
                                    class=""
                                    formControlName="AddToAnExistingRMRItem"
                                >
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Multiple</label>
                                <div class="dropdown">
                                    <select class="form-control" formControlName="Multiple">
                                        <option
                                            *ngFor="let m of listMultiples" 
                                            value="{{m.multiple}}" 
                                            [ngValue]="m.multiple"
                                        >{{ m.multiple }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Total</label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    formControlName="Total" 
                                    placeholder="$0.00"
                                    mask="separator.2" thousandSeparator=","
                                    prefix="$"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary">Submit</button>
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form> -->
        
        <!-- <div style="overflow: auto;">
            <div class="table table-recurring">
                <div class="thead">
                    <div class="tr">
                        <div class="td">Service Provided</div>
                        <div class="td">Description</div>
                        <div class="td">Bill Cycle</div>
                        <div class="td">RMR</div>
                        <div class="td">Pass Through</div>
                        <div class="td">Billing Starts</div>
                        <div class="td">Add to an Existing RMR Item</div>
                        <div class="td">Multiple</div>
                        <div class="td">Total</div>
                        <div class="td"></div>
                        <div class="td"></div>
                    </div>
                </div>
                <div class="tbody">
                    <form class="tr" [formGroup]="incentiveRecurringEntryForm" (ngSubmit)="onSubmit(incentiveRecurringEntryForm)">
                        <div class="td">
                            <div class="dropdown">
                                <select formControlName="Item" class="form-control">
                                    <option *ngFor="let item of listRecurringItems" value="{{item.item_id}}" [ngValue]="item.item_id">{{ item.itemName }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="td">
                            <input 
                                type="text"
                                class="form-control" 
                                formControlName="Description"
                            >
                        </div>
                        <div class="td">
                            <div class="dropdown">
                                <select formControlName="BillCycle" class="form-control">
                                    
                                    <option value="monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                        <div class="td">
                            <input 
                                type="text"
                                class="form-control"
                                formControlName="RMR"
                                placeholder="$0.00"
                                mask="separator.2" thousandSeparator=","
                                prefix="$"
                            >
                        </div>
                        <div class="td">
                            <input 
                                type="text"
                                class="form-control" 
                                formControlName="PassThrough"
                                placeholder="$0.00"
                                mask="separator.2" thousandSeparator=","
                                prefix="$"
                            >
                        </div>
                        <div class="td">
                            <input 
                                type="date"
                                class="form-control" 
                                formControlName="BillingStarts"
                            >
                        </div>
                        <div class="td">
                            <input 
                                type="checkbox" 
                                style="margin-right: 10rem;" 
                                formControlName="AddToAnExistingRMRItem"
                            >
                        </div>
                        <div class="td">
                            <div class="dropdown">
                                <select formControlName="Multiple" class="form-control">
                                    <option
                                        *ngFor="let m of listMultiples" 
                                        value="{{m.multiple}}" 
                                        [ngValue]="m.multiple"
                                    >{{ m.multiple }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="td">
                            <input 
                                type="text"
                                class="form-control"
                                formControlName="Total"
                                placeholder="$0.00"
                                mask="separator.2" thousandSeparator=","
                                prefix="$"
                            >
                        </div>
                        <div class="td action">
                            <button type="button" class="btn btn-primary" (click)="addNewItem()">Add</button>
                        </div>
                        <div class="td action">
                            <button type="button" class="btn btn-success" (click)="onSubmit(incentiveRecurringEntryForm)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        
        <section>
            <header class="recurring-header-bg">
              <div class="col">
                  <span class="align-middle">Service Provided</span>
              </div>
              <div class="col">
                <span class="align-middle">Description</span>  
              </div>
              <div class="col">
                <span class="align-middle">Bill Cycle</span>
              </div>
              <div class="col">
                <span class="align-middle">RMR</span>
              </div>
              <div class="col">
                <span class="align-middle">Pass Through</span>
              </div>
              <div class="col">
                <span class="align-middle">Billing Starts</span>
              </div>
              <div class="col text-center">
                <span class="align-middle">Add to an Existing RMR Item</span>
              </div>
              <div class="col text-center">
                <span class="align-middle">Multiple</span>
              </div>
              <div class="col text-center">
                <span class="align-middle">Total</span>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </header>

            <form [formGroup]="incentiveRecurringEntryForm" (ngSubmit)="onSubmit(incentiveRecurringEntryForm)">
                <div formArrayName="entryRows">
                    <div class="row-entry-padding" *ngFor="let entryRow of incentiveRecurringEntryForm.controls.entryRows['controls']; let i=index" [formGroupName]="i">
                        <div class="row">
                            <div class="col">
                              <div class="dropdown">
                                  <select formControlName="ItemID" class="form-control">
                                      <option *ngFor="let item of listRecurringItems" value="{{item.item_id}}" [ngValue]="item.item_id">{{ item.itemName }}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col">
                              <input 
                                type="text"
                                class="form-control" 
                                formControlName="Description"
                            >
                            </div>
                            <div class="col">
                              <div class="dropdown">
                                  <select formControlName="BillCycle" class="form-control">
                                      
                                      <option value="monthly">Monthly</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col">
                              <input 
                                type="text"
                                class="form-control"
                                formControlName="RMR"
                                placeholder="$0.00"
                                mask="separator.2" 
                                thousandSeparator=","
                                prefix="$"
                                (change)="calculateRMR($event)"
                              >
                            </div>
                            <div class="col">
                              <input 
                                type="text"
                                class="form-control" 
                                formControlName="PassThrough"
                                placeholder="$0.00"
                                mask="separator.2" 
                                thousandSeparator=","
                                prefix="$"
                                (change)="calculatePassThrough($event)"
                              >
                            </div>
                            <div class="col">
                              <input 
                                type="date"
                                class="form-control" 
                                formControlName="BillingStartDate"
                              >
                            </div>
                            <div class="col">
                              <input
                                class="center-block"
                                type="checkbox" 
                                formControlName="Add2Item"
                                (change)="checkboxChanged($event)"
                                >
                            </div>
                            <div class="col text-center">
                              <div class="dropdown">
                                  <select 
                                    formControlName="Multiple"  class="form-control" (change)="calculateMultiple($event)">
                                      <option
                                          *ngFor="let m of listMultiples" 
                                          value="{{m.multiple}}" 
                                          [ngValue]="m.multiple"
                                      >{{ m.multiple }}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col">
                              <input 
                                type="text"
                                class="form-control"
                                formControlName="Total"
                                placeholder="$0.00"
                                mask="separator.2" 
                                thousandSeparator=","
                                prefix="$"
                                (change)="calculateTotal($event)"
                              >
                            </div>
                            <!-- <div class="col">
                                <button class="btn btn-add" (click)="addNewItem(incentiveRecurringEntryForm)">
                                    <i class="fas fa-plus pr-1"></i>Add
                                </button>
                            </div> -->
                            <div class="col">
                                <button class="btn btn-add" type="button" (click)="addNewItem()">
                                    <i class="fas fa-plus pr-1"></i>Add
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-add" type="button" (click)="removeNewItem(i)">
                                    <i class="fas fa-plus pr-1"></i>Remove
                                </button>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col">
                    <input type="submit" value="Submit" class="btn btn-submit">
                </div>
            </form>
          </section>
    </div>
</div>


