.card {
  margin-bottom: 10px;
}
/* .card {
  margin-bottom: 10px;
  border-radius: 0.875rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  filter: drop-shadow(3px 0px 1px rgba(0, 0, 0, 0.2))
    drop-shadow(1px 0 2px rgba(0, 0, 0, 0.12))
    drop-shadow(1px 0 1px rgba(0, 0, 0, 0.14));
} */
.card .table td {
  padding-left: 0;
  padding-right: 0;
}
.table thead th {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}
.table-bordered th,
.tabl td {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}
.table-hover tbody tr:hover {
  background-color: #e3f1fa;
}
.hyperlink {
  color: #2981d0;
}
.modal-body,
.card-body {
  background-color: #fbfbfb;
}
.ratingValueText0 {
  color: #000;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg0 {
  background-color: #aff1ee;
}
.ratingValueText1 {
  color: #d8d1d2;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg1 {
  background-color: #d8354b;
}

.ratingValueText2 {
  color: #e6e991 !important;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg2 {
  background-color: #3580d8;
}

.ratingValueText3 {
  color: #fe0e3f;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg3 {
  background-color: #40d835;
}
pre {
  font-family: "Open Sans";
  white-space: pre-line;
  font-size: inherit;
  overflow-y: scroll;
  /* height: 110px; */
  height: 15vh;
}
.underlineDashed {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.btn {
  font-weight: 500;
}
#systemInfoCustomerNumber {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
#systemInfoCustomerName {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
.alarmAccount {
  letter-spacing: 1.15px;
}
#alarmAccount {
  /* margin-right: 5%; */
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
.monitoredBy {
  letter-spacing: 1.15px;
}
#monitoredBy {
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
.no-support:before {
  font-family: "Font Awesome 5 Free";
  content: "\f12a";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #ca5856;
}
.text-error {
  color: #ca5856;
}
.high-emphasis {
  color: rgba(0, 0, 0, 0.87);
}
.medium-emphasis {
  color: rgba(0, 0, 0, 0.6);
}
.headline-4 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 24px;
  letter-spacing: 0.011rem;
}
.headline-5 {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 0.011rem;
}
.subtitle-2 {
  font-family: "SourceSansPro-SemiBold", sans-serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 0.938rem;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
}
.body-2 {
  font-family: "SourceSansPro-SemiBold", sans-serif !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}
.divider {
  border: 1px solid rgba(33, 33, 33, 0.35);
}
.divider-horizontal {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}
.nav-tabs .nav-link.active {
  color: #1b5eac;
  border-color: #dee2e600 #dee2e600 #f8f9fe00;
  background-color: #ecc76100;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef00 #e9ecef00 #dee2e600;
}
.toast {
  border-radius: 0.875rem;
  max-width: 450px;
  font-size: 1.175rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  filter: drop-shadow(3px 0 1px rgba(0, 0, 0, 0.2))
    drop-shadow(1px 0 2px rgba(0, 0, 0, 0.12))
    drop-shadow(1px 0 1px rgba(0, 0, 0, 0.14));
}
/*****Animated Ellipsis*****/
.loading {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
