.card {
  margin-bottom: 10px;
}
.card .table td {
  padding-left: 0;
  padding-right: 0;
}
.hyperlink {
  color: #2981d0;
}
.ratingValueText0 {
  color: #000;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg0 {
  background-color: #aff1ee;
}
.ratingValueText1 {
  color: #d8d1d2;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg1 {
  background-color: #d8354b;
}

.ratingValueText2 {
  color: #e6e991 !important;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg2 {
  background-color: #3580d8;
}

.ratingValueText3 {
  color: #fe0e3f;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg3 {
  background-color: #40d835;
}
pre {
  font-family: "Open Sans";
  white-space: pre-line;
  font-size: inherit;
  overflow-y: scroll;
  /* height: 110px; */
  height: 15vh;
}
.underlineDashed {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.btn {
  font-weight: 500;
}
#systemInfoCustomerNumber {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
#systemInfoCustomerName {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
.alarmAccount {
  letter-spacing: 1.15px;
}
#alarmAccount {
  /* margin-right: 5%; */
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
.monitoredBy {
  letter-spacing: 1.15px;
}
#monitoredBy {
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
.text-error {
  color: #ca5856;
}
.high-emphasis {
  color: rgba(0, 0, 0, 0.87);
}
.medium-emphasis {
  color: rgba(0, 0, 0, 0.6);
}
.subtitle-2 {
  font-family: "SourceSansPro-SemiBold", sans-serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 0.938rem;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
}
.body-2 {
  font-family: "SourceSansPro-SemiBold", sans-serif !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}
.divider {
  border: 1px solid rgba(33, 33, 33, 0.35);
}
.divider-horizontal {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}
.nav-tabs .nav-link.active {
  color: #4e4e4e;
  border-color: #dee2e600 #dee2e600 #f8f9fe00;
  background-color: #ecc76100;
}
/*****Animated Ellipsis*****/
.loading {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
