.card {
  margin-bottom: 10px;
}
.ratingValueText0 {
  color: #000;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg0 {
  background-color: #aff1ee;
}

.ratingValueText1 {
  color: #d8d1d2;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg1 {
  background-color: #d8354b;
}

.ratingValueText2 {
  color: #e6e991 !important;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg2 {
  background-color: #3580d8;
}

.ratingValueText3 {
  color: #fe0e3f;
  font-weight: 700 !important;
  font-size: 1.25rem;
}
.ratingValueBg3 {
  background-color: #40d835;
}
pre {
  font-family: "Open Sans";
  white-space: pre-line;
  font-size: inherit;
  overflow-y: scroll;
  /* height: 110px; */
  height: 15vh;
}
.underlineDashed {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.btn {
  font-weight: 500;
}
#systemInfoCustomerNumber {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
#systemInfoCustomerName {
  margin-right: 5%;
  letter-spacing: 1.15px;
}
.alarmAccount {
  letter-spacing: 1.15px;
}
#alarmAccount {
  /* margin-right: 5%; */
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
.monitoredBy {
  letter-spacing: 1.15px;
}
#monitoredBy {
  letter-spacing: 1.15px;
  margin-right: 1rem;
}
