<div class="">
    <div class="card">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col">
                    <a routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
                        <button class="btn btn-primary">Return to Customer View</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col card-deck">
                    <div class="col card">
                        <div class="card-block">
                            <p>
                                #<span #systemInfoCustomerNumber id="systemInfoCustomerNumber">{{ systemInfo.customerNumber }}</span>&nbsp;&nbsp;
                                <span id="systemInfoCustomerName">{{ systemInfo.customerName }}</span>&nbsp;&nbsp;
                            </p>
                            <div class="col-sm-8 pl-0" *ngIf="systemInfo.customerRatingValue === 0; else elseBlock">
                                <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg0'">
                                    <span id="customerRating" [ngClass]="'ratingValueText0'">{{ systemInfo.customerRating }}</span>
                                </div>
                            </div>
            
                            <div class="col-sm-8 pl-0" *ngIf="systemInfo.customerRatingValue === 1;">
                                <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg1'">
                                    <span id="customerRating" [ngClass]="'ratingValueText1'">{{ systemInfo.customerRating }}</span>
                                </div>
                            </div>
            
                            <div class="col-sm-8 pl-0" *ngIf="systemInfo.customerRatingValue === 2;">
                                <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg2'">
                                    <span id="customerRating" [ngClass]="'ratingValueText2'">{{ systemInfo.customerRating }}</span>
                                </div>
                            </div>
            
                            <div class="col-sm-8 pl-0" *ngIf="systemInfo.customerRatingValue === 3;">
                                <div class="customer-rating" id="customerRatingBg" [ngClass]="'ratingValueBg3'">
                                    <span id="customerRating" [ngClass]="'ratingValueText3'">{{ systemInfo.customerRating }}</span>
                                </div>
                            </div>
            
                            <ng-template #elseBlock>
                                <!-- There was an error. Please contact an administrator -->
                            </ng-template>
            
                            <p class="alarmAccount">
                                Account #<span id="alarmAccount">{{systemInfo.alarmAccount}}</span>&nbsp;&nbsp;
        
                                <span *ngIf="systemInfo.featureMessage === '3G'" else non3GBlock>
                                    <!-- Open Feature Message Modal -->
                                    <span id="featureMessage" class="special-flag-text" (click)="open3GModal()" [ngClass]="'underlineDashed'">{{systemInfo.featureMessage}}</span>
                                </span>
                                <ng-template #non3GBlock>
                                    <span id="featureMessage" class="special-flag-text">{{systemInfo.featureMessage}}</span>
                                </ng-template>
                            </p>
                            <p class="monitoredBy">
                                <span class="afa-text-dark-blue">
                                    Monitored by <span id="monitoredBy">{{systemInfo.monitoredBy}}</span>
                                </span>
                            </p>
                            <p>
                                <span id="addressLine">{{systemInfo.addressLine}}</span>
                            </p>
                            <p>
                                <span class="font-weight-400">
                                    Contract Started on <span id="originalContractDate">{{systemInfo.originalContractDate}}</span> for <span id="originalContractMonths">{{systemInfo.originalContractMonths}}</span> months
                                </span>
                            </p>
                            <p>
                                <span id="contractStatus" class="font-weight-400">{{systemInfo.contractStatus}}</span>
                            </p>
                            <p>
                                Serviced by <span id="serviceCompany">{{systemInfo.serviceCompany}}</span>
                            </p>
                            <p>
                                <!-- Last service ticket -->
                                <a class="text-blue mx-auto mb-0" id="showLastServiceTicketModal" (click)="showLastServiceTicketModal()"><i class="ni ni-fat-add" id="add-icon-blue"></i></a>
                                <span id="lastServiceTicketOn">{{systemInfo.lastServiceTicketOn}}</span>
                            </p>
                        </div>
                    </div>
            
                    <div class="col card text-center">
                        <div class="card-block">
                            <p class="afa-text-blue text-right">
                                <span id="systemType">{{systemInfo.systemType}}</span>
                            </p>
                            <p class="afa-text-blue text-right">
                                <span>Maintenance - <span id="maintenance">{{systemInfo.maintenance}}</span></span>
                            </p>
                            <p class="afa-text-blue text-right">
                                <span id="rmrValue">{{systemInfo.rmrValue | currency}}</span>/Month RMR
                            </p>
                            <p class="afa-text-blue text-right">
                                <span id="systemInfoBillFrequency">{{systemInfo.billFrequency}}</span>
                            </p>
                            <p class="afa-text-blue text-right">
                                <span id="systemInfoNextCycleOn">{{systemInfo.nextCycleOn}}</span>
                            </p>
                        </div>
                    </div>
            
                    <div class="col card">
                        <div class="card-block mt-2">
                            <div class="mb-3 afa-bg-panel-type system-notes-border system-notes-padding">
                                <!-- <p>Panel Type - <span id="panelType"></span></p> -->
                                <p>
                                    <span class="afa-text-dark-blue">Panel Type - </span>
                                    <span>{{systemInfo.panelType}}</span>
                                </p>
                                <p>
                                    <span class="afa-text-dark-blue">Cell Model - </span>
                                    <span id="cellModel">{{systemInfo.cellModel}}</span>
                                </p>
                                <p>
                                    <span class="afa-text-dark-blue">Carrier - </span>
                                    <span id="cellCarrier">{{systemInfo.cellCarrier}}</span>
                                </p>
                            </div>
                            <div class="afa-bg-tan system-notes-border system-notes-padding">
                                <h3 class="afa-text-blue">System Notes</h3>
                                <pre id="systemNotes">
                                    {{systemInfo.systemNotes}}
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Break this out into a separate component-->
            <div class="row">
                <div class="card-deck col">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item info-tab info-tab-bg">
                                <a class="nav-link body-2" id="home-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Information from <span id="centralStationMonitoredBy">{{systemInfo.monitoredBy}}</span></a>
                            </li>
                            <li class="nav-item info-tab info-tab-bg">
                                <a class="nav-link body-2" id="home-tab" data-toggle="tab" href="#contactlist" role="tab" aria-controls="contactlist" aria-selected="true" (click)="onClickGetContactList()">Contact List<span id="centralStationMonitoredBy"></span></a>
                            </li>
                            <li class="nav-item info-tab info-tab-bg">
                                <a class="nav-link body-2" id="home-tab" data-toggle="tab" href="#zonelist" role="tab" aria-controls="zonelist" aria-selected="true" (click)="onClickGetZonesList()">Zone List<span id="centralStationMonitoredBy"></span></a>
                            </li>
                            <li class="nav-item info-tab info-tab-bg">
                                <a class="nav-link body-2" id="home-tab" data-toggle="tab" href="#signals" role="tab" aria-controls="signals" aria-selected="true" (click)="onClickGetSignals()">Signals<span id="centralStationMonitoredBy"></span></a>
                            </li>
                            <li class="nav-item info-tab info-tab-bg">
                                <a class="nav-link body-2" id="home-tab" data-toggle="tab" href="#miscellaneous" role="tab" aria-controls="miscellaneous" aria-selected="true" (click)="onClickGetMiscellaneous()">Miscellaneous<span id="centralStationMonitoredBy"></span></a>
                            </li>
                        </ul>
                        <div class="tab-content info-tab-bg" id="myTabContent">
                            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                                <div class="card bg-transparent mb-3 shadow-none border-0">

                                    <!-- <div class="row pt-3 pb-3 divider-horizontal">
                                        <div class="col-md-12">
                                            <span class="subtitle-2 medium-emphasis">Site Name: </span>
                                            <span class="high-emphasis body-2">{{site_name}}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-3 divider-horizontal">
                                        <div class="col-md-12">
                                            <span class="subtitle-2 medium-emphasis">Site Status: </span>
                                            <span class="high-emphasis body-2">{{sitestat_id}}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-3 divider-horizontal">
                                        <div class="col-md-12">
                                            <span class="subtitle-2 medium-emphasis">Code Words: </span>
                                            <span class="high-emphasis body-2">{{codeword1}}</span>
                                            <span class="high-emphasis body-2">{{codeword2}}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-3 divider-horizontal">
                                        <div class="col-md-12">
                                            <span class="subtitle-2 medium-emphasis">Address: </span>
                                            <span class="high-emphasis body-2">{{site_addr1}}</span>
                                            <span class="high-emphasis body-2">{{site_addr2}}</span>
                                            <span class="high-emphasis body-2">{{city_name}} {{state_id}} {{zip_code}}</span>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-3 divider-horizontal">
                                        <div class="col-md-12">
                                            <span class="subtitle-2 medium-emphasis">Phone: </span>
                                            <span class="high-emphasis body-2">{{phone1 | phone}}<span *ngIf="ext1">ext. {{ext1}}</span></span>
                                            <span class="high-emphasis body-2">{{phone2 | phone}}<span *ngIf="ext2">ext. {{ext2}}</span></span>
                                        </div>
                                    </div> -->

                                    <div class="row align-items-center mt-1 mb-1 divider-horizontal">
                                        <div class="col-1">
                                            <p class="mb-1 subtitle-2 medium-emphasis">Site Name</p>
                                        </div>
                                        <div class="col">
                                            <!-- <p class="mb-1 loading" *ngIf="loading">Loading Central Station Information</p> -->
                                            <!-- <p class="mb-1 text-error" *ngIf="hasNoCentralStationData">{{systemInfo.monitoredBy}} not currently supported by the Customer Care Assistant</p> -->
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{site_name}}</p>
                                            <!-- <p class="mb-1 text-error">{{accountInactiveText}}</p> -->
                                            <!-- <p class="mb-1 text-error">{{accountNotFoundText}}</p> -->
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-1 divider-horizontal">
                                        <div class="col-1">
                                            <p class="mb-1 subtitle-2 medium-emphasis">Site Status</p>
                                        </div>
                                        <div class="col">
                                            <!-- <p class="mb-1 loading" *ngIf="loading">Loading Central Station Information</p> -->
                                            <!-- <p class="mb-1 text-error" *ngIf="hasNoCentralStationData">{{systemInfo.monitoredBy}} not currently supported by the Customer Care Assistant</p> -->
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{sitestat_id}} <span *ngIf="sitestat_id">= Active</span></p>
                                            <!-- <p class="mb-1 text-error">{{accountInactiveText}}</p> -->
                                            <!-- <p class="mb-1 text-error">{{accountNotFoundText}}</p> -->
                                        </div>
                                    </div>
                                    <div class="row mb-1 divider-horizontal">
                                        <div class="col-1">
                                            <p class="mb-1 subtitle-2 medium-emphasis">Code Words</p>
                                        </div>
                                        <div class="col">
                                            <!-- <p class="mb-1 loading" *ngIf="loading">Loading Central Station Information</p> -->
                                            <!-- <p class="mb-1 text-error" *ngIf="hasNoCentralStationData">{{systemInfo.monitoredBy}} not currently supported by the Customer Care Assistant</p> -->
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{codeword1}}</p>
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{codeword2}}</p>
                                            <!-- <p class="mb-1 text-error">{{accountInactiveText}}</p> -->
                                            <!-- <p class="mb-1 text-error">{{accountNotFoundText}}</p> -->
                                        </div>
                                    </div>
                                    <div class="row mb-1 divider-horizontal">
                                        <div class="col-1">
                                            <p class="mb-1 subtitle-2 medium-emphasis">Address</p>
                                        </div>
                                        <div class="col">
                                            <!-- <p class="mb-1 loading" *ngIf="loading">Loading Central Station Information</p> -->
                                            <!-- <p class="mb-1 text-error" *ngIf="hasNoCentralStationData">{{systemInfo.monitoredBy}} not currently supported by the Customer Care Assistant</p> -->
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{site_addr1}}</p>
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{site_addr2}}</p>
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{city_name}} {{state_id}} {{zip_code}}</p>
                                            <!-- <p class="mb-1 text-error">{{accountInactiveText}}</p> -->
                                            <!-- <p class="mb-1 text-error">{{accountNotFoundText}}</p> -->
                                        </div>
                                    </div>
                                    <div class="row mb-1 divider-horizontal">
                                        <div class="col-1">
                                            <p class="mb-1 subtitle-2 medium-emphasis">Phone</p>
                                        </div>
                                        <div class="col">
                                            <!-- <p class="mb-1 loading" *ngIf="loading">Loading Central Station Information</p> -->
                                            <!-- <p class="mb-1 text-error" *ngIf="hasNoCentralStationData">{{systemInfo.monitoredBy}} not currently supported by the Customer Care Assistant</p> -->
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{phone1 | phone}} <span *ngIf="ext1">ext. {{ext1}}</span></p>
                                            <p class="mb-1 high-emphasis body-2" *ngIf="!loading">{{phone2 | phone}} <span *ngIf="ext2">ext. {{ext2}}</span></p>
                                            <!-- <p class="mb-1 text-error">{{accountInactiveText}}</p> -->
                                            <!-- <p class="mb-1 text-error">{{accountNotFoundText}}</p> -->
                                        </div>
                                    </div>
                                </div>
                                <div style="position: absolute; top: 35%; left:35%; right: 0;">
                                    <ngb-toast *ngIf="accountInactiveText"  [autohide]="false">
                                        <h5 class="headline-5 text-center">This account is INACTIVE</h5>
                                    </ngb-toast>
                                </div>
                                <div style="position: absolute; top: 35%; left:35%; right: 0;">
                                    <ngb-toast *ngIf="hasNoCentralStationData" [autohide]="false">
                                        <h5 class="headline-4 text-center">{{systemInfo.monitoredBy}} is not currently supported by the Customer Care Assistant</h5>
                                    </ngb-toast>
                                </div>
                                <div style="position: absolute; top: 35%; left: 35%; right: 0;">
                                    <ngb-toast *ngIf="accountNotFoundText" [autohide]="false">
                                        <h5 class="headline-5 text-center">Account not found at {{centralStation}}</h5>
                                    </ngb-toast>
                                </div>
                                <div style="position: absolute; top: 35%; left:35%; right: 0;">
                                    <ngb-toast *ngIf="loading" [autohide]="false">
                                        <p class="loading">Loading Central Station Information</p>
                                    </ngb-toast>
                                </div>
                                <!-- <ng-template #noCentralStationContent let-modal>
                                    <p><i>Foo</i> not currently supported by the Customer Care Assistant</p>
                                </ng-template> -->
                            </div>
                            <div class="tab-pane fade" id="contactlist" role="tabpanel" aria-labelledby="contactlist-tab">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">Sequence #</th>
                                                <th scope="col" class="text-center">Name</th>
                                                <th scope="col" class="text-center">PIN</th>
                                                <th scope="col" class="text-center">Contact Type</th>
                                                <th scope="col" class="text-center">Relation</th>
                                                <th scope="col" class="text-center">Auth ID</th>
                                                <th scope="col" class="text-center">Phone Type</th>
                                                <th scope="col" class="text-center">Phone #'s</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of contactListData">
                                                <td class="text-center">{{item.cs_seqno}}</td>
                                                <td class="text-center">{{item.name}} 
                                                    <span *ngIf="item.first_name">{{item.first_name}}</span> 
                                                    <span *ngIf="item.last_name"> {{item.last_name}}</span>
                                                </td>
                                                <td class="text-center">{{item.pin}}</td>
                                                <td class="text-center">{{item.contact_type_desc}}
                                                    <span *ngIf="item.ctactype_id">{{item.ctactype_id}}</span>
                                                </td>
                                                <td class="text-center">{{item.relation_id}}</td>
                                                <td class="text-center">{{item.auth_id}}</td>
                                                <td class="text-center">{{item.phone_type_list}}
                                                    <span *ngIf="item.phonetype1">{{item.phonetype1}}</span>
                                                </td>
                                                <td class="text-center">
                                                    {{item.phn1}}
                                                    {{item.phn2}}
                                                    {{item.phn3}}
                                                    {{item.phn4}}
                                                    <span *ngIf="item.phone1">{{item.phone1}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="zonelist" role="tabpanel" aria-labelledby="zonelist-tab">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">Zone</th>
                                                <th scope="col" class="text-center">Location</th>
                                                <th scope="col" class="text-center">State</th>
                                                <th scope="col" class="text-center">Service Type</th>
                                                <th scope="col" class="text-center">Restore Required</th>
                                                <!-- <th scope="col" class="text-center">Restore Required (2)</th> -->
                                                <th scope="col" class="text-center">Trouble State Flag</th>
                                                <th scope="col" class="text-center">Trip Count</th>
                                                <th scope="col" class="text-center">Event Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of zonesData">
                                                <td class="text-center">{{item.zone_id}}</td>
                                                <td class="text-center">{{item.comment50s}}
                                                    <span *ngIf="item.comment">{{item.comment}}</span>
                                                </td>
                                                <td class="text-center">{{item.zonestate_descr}}
                                                    <span *ngIf="item.zonestate_id">{{item.zonestate_id}}</span>
                                                </td>
                                                <td class="text-center">{{item.servtype_id}}</td>
                                                <td class="text-center">{{item.restore_reqd_flag2}}
                                                    <span *ngIf="item.restore_reqd_flag">{{item.restore_reqd_flag}}</span>
                                                </td>

                                                <!-- <td class="text-center">{{item.restore_reqd_flag21}}</td> -->

                                                <!-- <td class="text-center">{{item.trouble_state_flag | date : 'MM/dd/yyyy hh:mm:ss a'}}</td> -->
                                                <td class="text-center">{{item.trouble_state_flag}}</td>
                                                <td class="text-center">{{item.trip_count}}</td>
                                                <td class="text-center">{{item.event_descr}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="signals" role="tabpanel" aria-labelledby="signals-tab">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">Event Date</th>
                                                <th scope="col" class="text-center">Event Class</th>
                                                <th scope="col" class="text-center">Event</th>
                                                <th scope="col" class="text-center">Zone ID</th>
                                                <th scope="col" class="text-center">User ID</th>
                                                <th scope="col" class="text-center">Username</th>
                                                <th scope="col" class="text-center">Operator</th>
                                                <th scope="col" class="text-center">Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of eventHistoryDateData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                                <td id="{{item.event_Date}}" class="text-center hyperlink" (click)="openEventHistoryDateDetails(item.event_Date, item.cS_Number, item.site_name, item.scheduled_Date, item.event, item.event_Class, item.zone_Id, item.user_Id, item.phone, item.userName, item.operator, item.comment, item.additional_Info, item.pascom)">{{item.event_Date | date : 'MM/dd/yyyy hh:mm:ss a'}}</td>
                                                <!-- <td class="text-center" (click)="onClickGetEventHistoryDateDetails()">{{item.event_Date}}</td> -->
                                                <td class="text-center">{{item.event_Class}}</td>
                                                <td class="text-center">{{item.event}}</td>
                                                <td class="text-center">{{item.zone_Id}}</td>
                                                <td class="text-center">{{item.user_Id}}</td>
                                                <td class="text-center">{{item.userName}}</td>
                                                <td class="text-center">{{item.operator}}</td>
                                                <td class="text-center">{{item.phone | phone}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mt-3">
                                        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
                                      </div>
                                </div>
                                <div style="position: absolute; top: 35%; left:35%; right: 0;">
                                    <ngb-toast *ngIf="err_msg" [autohide]="false">
                                        <h5 class="headline-5 text-center">{{err_msg}}</h5>
                                    </ngb-toast>
                                </div>
                                <!-- <div class="card bg-transparent mb-3 shadow-none border-0">
                                    <div class="row align-items-center mt-1 mb-1">
                                        <div class="col-1">
                                            <p class="mb-1">Signals</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="tab-pane fade" id="miscellaneous" role="tabpanel" aria-labelledby="miscellaneous-tab">
                                <div class="card bg-transparent mb-3 shadow-none border-0">
                                    <div class="row align-items-center mt-1 mb-1">
                                        <div class="col-1">
                                            <p class="mb-1">Misc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
  </ngx-spinner>

<!-- Feature Message Modal -->
<div class="modal fade" id="threeGModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-12"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card border-0">
                    <div class="card-body p-0" id="">
                        <div class="table-responsive">
                            <table class="table align-items-center" *ngFor="let item of basicUpgradeInfo">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            {{item.upgradeOptions}}
                                        </th>
                                        <th scope="col">
                                            {{item.requirements}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>{{item.upgradeOption1}}</th>
                                        <th>{{item.requirement1}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption2}}</th>
                                        <th>{{item.requirement2}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption3}}</th>
                                        <th>{{item.requirement3}}</th>
                                    </tr>
                                    <tr>
                                        <th>{{item.upgradeOption4}}</th>
                                        <th>{{item.requirement4}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Last Service Ticket Modal -->
<div class="modal fade" id="lastServiceTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content" *ngFor="let item of serviceTicketInfo2">
            <div class="modal-header pb-0 pl-2">
                <div class="col-md-3">
                    <h2 class="modal-title" id="exampleModalLabel">Ticket #{{ item.ticket_Number }}</h2>
                </div>
                <div class="col-md-5">
                    <p class="modal-title">Created On: {{ item.creationDate }}</p>
                    <p class="modal-title">By: {{ item.entered_By }}</p>
                </div>
                <div class="col-md-4">
                    <p class="modal-title">Ticket Status: {{ item.ticketStatus }}</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card border-0">
                    <div class="card-body p-0" id="ticketInfoContent">
                        <div class="row  pt-3">
                            <div class="col-md-3">
                                <p>System: {{ item.alarmAccount }}</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{ item.system_Code }}</p>
                            </div>
                            <div class="col-md-4">
                                <p>System Status: {{ item.systemStatus }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="list-style-type-none padding-left0">
                                    <p>Address: {{ item.addressLine }}</p>
                                    <p>Requested by: {{ item.requested_By }} <span class="pl-3">{{ item.requested_By_Phone | phone }}</span> </p>
                                    <p>Service performed by: {{ item.service_Company_Code }}</p>
                                    <p>Problem Code: {{ item.problem_Code }}</p>
                                    <p>Paid by AFA: {{ item.afaPayment | currency }}</p>
                                </div>
                            </div>
                            <div class="col-md-6" [style.display]="'flex'" [style.margin-top]="'auto'">
                                <div class="list-style-type-none padding-left0">
                                    <p>Resolution: {{ item.resolution_Code }}</p>
                                    <p>Paid by Customer: {{ item.customerPayment }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Customer Comments</h3>
                                <div class="afa-bg-tan note-padding">
                                    <p>{{ item.customerComments }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3 pb-3">
                                <button class="btn btn-primary boc-btn ml-0 mb-0" (click)="openServiceTicketNotesModal()">
                                    Notes
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Last Service Note</h3>
                                <div class="afa-bg-tan note-padding">
                                    <p>{{ item.lastTicketNote }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Service Ticket Notes Modal -->
<div class="modal fade" id="lastServiceTicketNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12">
                    <p>Ticket Note</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table align-items-center table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Enter Date</th>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Entered By</th>
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Note</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of serviceTicketNotes">
                                    <td>{{ item.enterDate }}</td>
                                    <td>{{ item.enteredBy }}</td>
                                    <td>{{ item.notes }}</td>      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideServiceTicketNotesModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Event History Date Details Modal -->
<div class="modal fade" id="eventHistoryDateDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0 pt-3">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row pt-3 pb-3 divider-horizontal">
                            <div class="col-md-4">
                                <!-- <p class="" id="exampleModalLabel">CS #: {{cS_Number}}</p> -->
                                <span class="subtitle-2 medium-emphasis">CS #: </span>
                                <span class="high-emphasis body-2">{{cS_Number}}</span>
                            </div>
                            <div class="col-md-5">
                                <!-- <p class="">Site Name: {{site_name}}</p> -->
                                <span class="subtitle-2 medium-emphasis">Site Name: </span>
                                <span class="high-emphasis body-2">{{site_name}}</span>
                            </div>
                            <div class="col-md-3">
                                <!-- <p class="">Scheduled Date: {{scheduled_Date}}</p> -->
                                <span class="subtitle-2 medium-emphasis">Scheduled Date: </span>
                                <span class="high-emphasis body-2" *ngIf="!showScheduled_Date">{{(scheduled_Date | date : 'MM/dd/yyyy hh:mm:ss a')}}</span>
                                <span class="high-emphasis body-2" *ngIf="showScheduled_Date">{{scheduled_Date | replaceNullWithText}}</span>
                            </div>
                        </div>
                        <div class="row pt-3 pb-3 divider-horizontal">
                            <div class="col-md-4">
                                <!-- <p>Event: {{ event }}</p> -->
                                <span class="subtitle-2 medium-emphasis">Event: </span>
                                <span class="high-emphasis body-2">{{event}}</span>
                            </div>
                            <div class="col-md-5">
                                <!-- <p>Event Date: {{ event_Date }}</p> -->
                                <span class="subtitle-2 medium-emphasis">Event Date: </span>
                                <span class="high-emphasis body-2">{{event_Date | date : 'MM/dd/yyyy hh:mm:ss a'}}</span>
                            </div>
                            <div class="col-md-3">
                                <!-- <p>Event Class: {{ event_Class }}</p> -->
                                <span class="subtitle-2 medium-emphasis">Event Class: </span>
                                <span class="high-emphasis body-2">{{event_Class}}</span>
                            </div>
                        </div>

                        <div class="row pt-3 pb-3 divider-horizontal">
                            <div class="col-md-4">
                                <span class="subtitle-2 medium-emphasis">Zone ID: </span>
                                <span class="high-emphasis body-2">{{zone_Id}}</span>
                            </div>
                            <div class="col-md-5">
                                <span class="subtitle-2 medium-emphasis">User ID: </span>
                                <span class="high-emphasis body-2">{{user_Id}}</span>
                            </div>
                            <div class="col-md-3">
                                <span class="subtitle-2 medium-emphasis">Phone: </span>
                                <span class="high-emphasis body-2">{{phone | phone}}</span>
                            </div>
                        </div>

                        <div class="row pt-3 pb-3 divider-horizontal">
                            <div class="col-md-4">
                                <!-- <p>Username: {{ userName }}</p> -->
                                <span class="subtitle-2 medium-emphasis">Username: </span>
                                <span class="high-emphasis body-2">{{userName}}</span>
                            </div>
                            <div class="col-md-5">
                                <!-- <p>Operator: {{ operator }}</p> -->
                                <span class="subtitle-2 medium-emphasis">Operator: </span>
                                <span class="high-emphasis body-2">{{operator}}</span>
                            </div>
                            <div class="col-md-3">
                                
                            </div>
                        </div>
                        <div class="row pt-3 divider-horizontal">
                            <div class="col">
                                <!-- <p>Comment</p>
                                <p>{{comment}}</p> -->
                                <p><span class="subtitle-2 medium-emphasis">Comment</span></p>
                                <p><span class="high-emphasis body-2">{{comment}}</span></p>
                            </div>
                        </div>
                        <div class="row pt-3 divider-horizontal">
                            <div class="col">
                                <!-- <p>Additional Info</p>
                                <p>{{additional_Info}}</p> -->
                                <p><span class="subtitle-2 medium-emphasis">Additional Info</span></p>
                                <p><span class="high-emphasis body-2">{{additional_Info}}</span></p>
                            </div>
                        </div>
                        <div class="row pt-3 divider-horizontal">
                            <div class="col">
                                <!-- <p>PassCom</p>
                                <p>{{pascom}}</p> -->
                                <p><span class="subtitle-2 medium-emphasis">PassCom</span></p>
                                <p><span class="high-emphasis body-2">{{pascom}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <button id="hideTicketInfoModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>