<div class="pr-5 pl-5 row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h3>Admin/SuperAdmin Dashboard</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">Only an admin or super admin can access this dashboard.</li>
                            <li class="list-group-item">Click the Edit User Password button to update a password</li>
                        </ul>
                    </div>
                </div>
                
              <div class="row">
                  <div class="col-md-12 pl-0 mt-2">
                    <div class="d-flex flex-row-reverse bd-highlight mb-2">
                      <div>
                        <div class="p-2 bd-highlight">
                          <button class="btn btn-primary">Export and Print Excel</button>
                        </div>
                      </div>
                      <div>
                        <div class="p-2 bd-highlight">
                          <!-- <select (change)="onTableSizeChange($event)" class="custom-select">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                              {{ size }}
                            </option>
                          </select> -->
                        </div>
                      </div>
                      <!-- <div class="mt-2">
                        <input type="text" class="form-control" placeholder="Search">
                      </div> -->
                    </div>
                    
                      
                    <div class="table-responsive">
                      <table class="table">
                          <thead>
                            <tr>
                              <!-- <th scope="col">ID</th> -->
                              <th scope="col">Username</th>
                              <!-- <th scope="col">email</th>
                              <th scope="col">phoneNumber</th> -->
                              <th scope="col">firstName</th>
                              <th scope="col">lastName</th>
                              <!-- <th scope="col">altEmail</th>
                              <th scope="col">cellPhoneNumber1</th> -->
                              <!-- <th scope="col">afauserLink</th> -->
                              <!-- <th scope="col">createdBy</th>
                              <th scope="col">creationDate</th> -->
                              <!-- <th scope="col">afaemployee</th>
                              <th scope="col">afaRole</th> -->
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of allUsers">
                              <!-- <th scope="row">{{item.id}}</th> -->
                              <td>{{ item.userName }}</td>
                              <!-- <td>{{ item.email }}</td>
                              <td>{{ item.phoneNumber }}</td> -->
                              <td>{{ item.firstName }}</td>
                              <td>{{ item.lastName }}</td>
                              <!-- <td>{{ item.altEmail }}</td>
                              <td>{{ item.cellPhoneNumber1 }}</td> -->
                              <!-- <td>{{ item.afauserLink }}</td> -->
                              <!-- <td>{{ item.createdBy }}</td>
                              <td>{{ item.creationDate }}</td> -->
                              <!-- <td>{{ item.afaemployee }}</td>
                              <td>{{ item.afaRole }}</td> -->
                              <td>
                                <button class="btn btn-primary" (click)="editCurrentUser(item.id)">
                                  <i class="fa fa-pencil pr-2"></i>Edit User Password
                                </button>
                                <button class="btn btn-danger float-right" (click)="deleteCurrentUser(item.id)" disabled>
                                  <i class="fa fa-trash pr-2"></i>Delete User
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                        <!-- <div class="d-flex justify-content-center">
                          <pagination-controls  
                            previousLabel="Prev" 
                            nextLabel="Next" 
                            (pageChange)="onTableDataChange($event)">
                          </pagination-controls>
                        </div> -->
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

