<div class="pr-5 pl-5 row">
  <div class="col-xl-12">
      <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <h3>Admin/SuperAdmin Dashboard</h3>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <ul class="list-group">
                          <li class="list-group-item">Only an admin or super admin can access this dashboard.</li>
                          <li class="list-group-item">Click the Edit User Password button to update a password</li>
                      </ul>
                  </div>
              </div>
              
            <div class="row">
                <div class="col-md-12 pl-0 mt-2">
                  <div class="d-flex flex-row-reverse bd-highlight mb-2">
                    <div>
                      <div class="p-2 bd-highlight">
                        <button class="btn btn-primary">Export and Print Excel</button>
                      </div>
                    </div>
                    <div>
                      <div class="p-2 bd-highlight">
                        <!-- <select (change)="onTableSizeChange($event)" class="custom-select">
                          <option *ngFor="let size of tableSizes" [ngValue]="size">
                            {{ size }}
                          </option>
                        </select> -->
                      </div>
                    </div>
                    <!-- <div class="mt-2">
                      <input type="text" class="form-control" placeholder="Search">
                    </div> -->
                  </div>
                  
                    
                  <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of allUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <!-- <th scope="row">{{item.id}}</th> -->
                            <td>{{ item.userName }}</td>
                            <td>{{ item.firstName }}</td>
                            <td>{{ item.lastName }}</td>
                            <td class="float-right">
                              <button class="btn btn-primary" (click)="editCurrentUser(item.id)">
                                <i class="fa fa-pencil pr-2"></i>Edit User Password
                              </button>
                              <button class="btn btn-primary" (click)="editCurrentUserSettings($event,item.id, item.userName)">
                                <i class="fa fa-pencil pr-2"></i>Edit User Settings
                              </button>
                              <button class="btn btn-error" (click)="deleteCurrentUserModal($event,item.id)">
                                <i class="fa fa-trash pr-2"></i>Delete User
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <ngb-pagination
                          [collectionSize]="allUsers?.length"
                          [(page)]="page" 
                          [maxSize]="5" 
                          [rotate]="true" 
                          [ellipses]="false" 
                          [boundaryLinks]="true"
                          class="d-flex justify-content-center mt-5">
                      </ngb-pagination>
                      <!-- <div class="d-flex justify-content-center">
                        <pagination-controls  
                          previousLabel="Prev" 
                          nextLabel="Next" 
                          (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div> -->
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

<!--Settings Modal-->


<!--begin test-->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" id="maxWidth-1160">
    <div class="modal-content">
        <div class="modal-header pb-0 pl-2">
            <div class="col-md-12 mb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        <div class="modal-body pt-0">
            <div class="card p-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">    
                          <form>                        
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access for 3G Conversion Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessFor3GConv($event)"
                                      value="1" 
                                      [(ngModel)]="selected1"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access for Pending Cancellations Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessForPendingCancel($event)"
                                      value="2"
                                      [(ngModel)]="selected2"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to Aging Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToAgingCard($event)"
                                      value="3"
                                      [(ngModel)]="selected3"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to the Aging Call to Action Report</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToAgingCallToAction($event)"
                                      value="4"
                                      [(ngModel)]="selected4"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to the Invoices & Incentives Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToInvIncentive($event)"
                                      value="5"
                                      [(ngModel)]="selected5"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to the Service Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToServiceCard($event)"
                                      value="6"
                                      [(ngModel)]="selected6"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to the Sales Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToSalesCard($event)"
                                      value="7"
                                      [(ngModel)]="selected7"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Access to the Attrition Card</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAccessToAttritionCard($event)"
                                      value="8"
                                      [(ngModel)]="selected8"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Able to Export 3G List to Excel</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAbleToExport3G($event)"
                                      value="9"
                                      [(ngModel)]="selected9"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group card">
                              <div class="row p-1">
                                <div class="col">
                                  <p class="d-inline">Able to Create an Invoice</p>
                                </div>
                                <div class="col">
                                  <label class="switch float-right mb-0">
                                    <input 
                                      type="checkbox" 
                                      (change)="onChangeAbleToCreateInvoice($event)"
                                      value="10"
                                      [(ngModel)]="selected10"
                                      [ngModelOptions]="{standalone: true}">
                                    <span class="slider round"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-block btn-secondary" (click)="onSaveSettings()"><i class="fas fa-plus pr-2"></i>Save</button>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
</div>
<!--end test-->

<!--Delete User Modal-->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" id="maxWidth-1160">
    <div class="modal-content">
        <div class="modal-header pb-0 pl-2">
            <div class="col-md-12 mb-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        <div class="modal-body pt-0">
            <div class="card p-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="headline-5 text-error">Delete user</h5>
                            <p class="body-2 high-emphasis">Once you delete this user, there is no going back. Please be certain</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <form class="mt-2" [formGroup]="deleteCurrentUserForm">
                          <div class="form-group card">
                            <div class="row p-1">
                              <div class="col">
                                <p class="d-inline">Delete This User</p>
                              </div>
                              <div class="col">
                                <label class="switch float-right mb-0">
                                  <input 
                                    type="checkbox" 
                                    value="id"
                                    formControlName="deleteCurrentUser"
                                    >
                                  <span class="slider round"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                              <button 
                                type="submit" 
                                class="btn btn-error" 
                                (click)="onSaveDeleteUser(id);clicked = true;"
                                [disabled]="clicked"
                                ><i class="fa fa-trash pr-2"></i>Delete this user</button>
                          </div>
                        </form>
                      </div>                      
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
</div>