<div class="">
    <div class="card" id="afa-card-border0">
        <!-- <a class="btn btn-primary btn-lg mt-5" routerLink="/dashboard">Back to Dashboard</a> -->
        <a routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="/dashboard">
            <button class="btn btn-primary mt-5 ml-4">Return to Customer View</button>
        </a>
        <div class="card-body" id="accountInfoContent">
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                
            </div>
            
            
            <div class="row">
                <div class="col-md-12 marginTopBottom-1rem">
                    <div class="afa-bg-tan system-notes-border system-notes-padding">
                        <h3 class="afa-text-blue"> Notes</h3>
                        <!-- <p id="systemNotes">{{systemInfo.systemNotes}}</p> -->
                        <pre id="systemNotes">
                            {{note}}
                        </pre>
                    </div>
                </div>
            </div>
            
        </div>
       <!-- <p>{{ customerContractNotes.notes }}</p> -->
    </div>
</div>
