<!-- <div class="container" *ngIf="user">
    <h2 class="page-header">{{ user.email }}</h2>
    <ul class="list-group">
        <li class="list-group-item">First Name: {{ user.firstName }}</li>
        <li class="list-group-item">Last Name: {{ user.lastName }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
    </ul>
</div> -->
<div class="container">
    <h2 class="page-header">{{ user.email }}</h2>
    <ul class="list-group">
        <li class="list-group-item">First Name: {{ user.firstName }}</li>
        <li class="list-group-item">Last Name: {{ user.lastName }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
    </ul>
</div>