<form>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Customer Name</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Residential</label>
                    <input type="checkbox" checked class="form-control col-sm-2">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Commercial</label>
                    <input type="checkbox" class="form-control col-sm-2">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Tax Exempt?</label>
                    <input type="checkbox" class="form-control col-sm-2">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Exempt #</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Email Address</label>
                    <input type="email" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Invoice Delivery:</label>
                    <label class="col-sm-2 col-form-label">Print</label>
                    <input type="checkbox" checked class="form-control col-sm-3">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <input type="checkbox" class="form-control col-sm-3">
                </div>
                
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Phone #</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Type</label>
                    <select>
                        <option>Cell</option>
                    </select>
                </div>

                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Secondary Phone</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Type</label>
                    <select>
                        <option>?</option>
                    </select>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">
                        Billing Address
                    </label>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Address Ln 1</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Address Ln 2</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Address Ln 3</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">City</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">State</label>
                    <select>
                        <option>Pennsylvania</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Zip Code</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 col-form-label">Country</label>
                    <input type="text" class="form-control col-sm-5">
                </div>
            </div>
            <div class="col-md-12">
                <h3>Customer Contacts</h3>
            </div> 
        </div>
    </div>
</form>
