<!-- <p>Hmm.</p>
<p>It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home</p>
<button>Back</button>
<button>Home</button> -->

<div class="col-md-12">
    <div class="card">
        <div class="col-md-12 mt-5 mb-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-image">
                        <img src="../../../assets/img/sad404.svg" style="height:300px;width:300px;">
        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-content">
                        <h2 class="card-title" [style.color]="'#039be5'" [style.font-size]="'3.1rem'">404 - PAGE NOT FOUND</h2>
                        <p [style.font-size]="'2rem'">Hmm.</p>
                        <p [style.font-size]="'2rem'">It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home</p>
                        <button class="btn btn-primary" (click)="backToPrevPage()">Back</button>
                        <button class="btn btn-primary" disabled>Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>