<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Add New RMR or Service</label>
                        <input type="checkbox" class="ml-3" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Client Visit</label>
                        <input type="checkbox" class="ml-3" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>LTE Upgrade</label>
                        <input type="checkbox" class="ml-3" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Service Also Performed</label>
                        <input type="checkbox" class="ml-3" checked>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Placeholder</label>
                        <input type="checkbox">
                    </div>
                </div>
            </div> -->
            <button class="btn btn-primary btn-light-blue" (click)="routeToIncentiveDashboard()">
                Start Incentive
            </button>
        </form>
    </div>
</div>
