<div class="card">
    <div class="card-body">
        <form [formGroup]="incentiveEntryForm" (ngSubmit)="onSubmit(incentiveEntryForm)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Customer Visit</label>
                        <input type="checkbox" [(ngModel)]="customerVisit" formControlName="CustomerVisit" class="form-check-input" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Contract Resign</label>
                        <input type="checkbox" [(ngModel)]="contractResign" formControlName="ContractResign" class="form-check-input" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Add Rate</label>
                        <input type="checkbox" [(ngModel)]="addRate" formControlName="AddRate" class="form-check-input" checked>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>LTE Upgrade</label>
                        <input type="checkbox" [(ngModel)]="lteUpgrade" formControlName="LteUpgrade" class="form-check-input" checked>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Landline to Cell Conversion</label>
                        <input [(ngModel)]="landlineToCellConversion" formControlName="LandlineToCellConversion" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>System Reprogram</label>
                        <input [(ngModel)]="systemReprogram" formControlName="SystemReprogram" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Service Performed</label>
                        <input [(ngModel)]="servicePerformed" formControlName="ServicePerformed" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Site Pick-Up</label>
                        <input [(ngModel)]="sitePickup" formControlName="SitePickup" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>New Site</label>
                        <input [(ngModel)]="newSite" formControlName="NewSite" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>System Transfer</label>
                        <input [(ngModel)]="systemTransfer" formControlName="SystemTransfer" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group btn-group">
                        <label>Other</label>
                        <input [(ngModel)]="other" formControlName="Other" class="form-check-input" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-light-blue" >Start Incentive</button>
                </div>
            </div>
            <!-- <button class="btn btn-primary btn-light-blue" (click)="routeToIncentiveDashboard()">
                Start Incentive
            </button> -->
        </form>
    </div>
</div>
