.btn-light-blue {
    border: 1px solid #707070;
    background-color: #34e5f2;
    color: black;
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: 18.25rem;
    /* margin-left: 5%; */
}
.form-check-populate {
    position: absolute;
    margin-top: .3rem;
    /* margin-left: 18.25rem; */
    margin-left: 5%;
}
.incentive-header {
    color: #6050A5;
}
.company {
    color: red;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.2;
    margin-top: 10px;
}
.entryColumn2 {
    position: relative;
    /* top: -335px; */
    top: -304px;
    left: 0px;
}
.entryColumn3 {
    position: relative;
    /* top: -610px; */
    top: -578px;
    left: 70%;
}
.pb-40 {
    padding-bottom:40px;
}

/*****
https://stackoverflow.com/questions/279421/can-you-style-an-html-radio-button-to-look-like-a-checkbox 
*****/
input[type="radio"]{
    appearance: none;
    /* border: 1px solid #d3d3d3; */
    border: 1px solid #000;
    /* width: 30px;
    height: 30px; */
    width: 15px;
    height: 15px;
    content: none;
    outline: none;
    margin: 0;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
 }
 
input[type="radio"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
}
 
input[type="radio"]:checked::before{
   position: absolute;
   color: green !important;
   content: "\00A0\2713\00A0" !important;
   border: 1px solid #d3d3d3;
   font-weight: bolder;
   /* font-size: 21px; */
   font-size: 10px;
}

.footer-logo {
    color: #1B5EAC;
}
.mt-25 {
    margin-top: 25px;
}