<div class="card">
    <div class="card-body">
        <div class="row ml-0">
            <div class="col-md-12">
                <div class="row" *ngFor="let item of installCompanyList">
                    <h1 class="incentive-header">Incentive Entry | </h1>
                    <span *ngIf="installCompanyList.length &lt; 2; else multipleCompanyNameBlock">
                        <p class="company">{{ item.companyName }} - {{ item.partnerCode}}</p>
                    </span>
                    <ng-template #multipleCompanyNameBlock>
                        <select name="" id="">
                            <option value="">Company one</option>
                            <option value="">Company two</option>
                            <option value="">Company three</option>
                            <option value="">Company four</option>
                        </select>
                    </ng-template>
                    <!-- <p class="company">{{ item.companyName }} - {{ item.partnerCode}}</p> -->
                </div>
            </div>
        </div>

        <form [formGroup]="incentiveEntryForm" (ngSubmit)="onSubmit(incentiveEntryForm)">
            <div class="row form-inline mt-5 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice #</label>
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="InvoiceNumber">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice Date</label>
                        <input
                            type="date" 
                            class="form-control"
                            formControlName="InvoiceDate"
                        >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice Total</label>
                        <kendo-numerictextbox
                            format="c2"
                            [value]="value"
                            placeholder="$0.00"
                            formControlName="InvoiceTotal"
                            [spinners]="false"
                        ></kendo-numerictextbox>
                        <!-- <input
                            type="text" 
                            class="form-control"
                            formControlName="InvoiceTotal"
                            placeholder="$0.00"
                            mask="separator.2" 
                            thousandSeparator=","
                            prefix="$"
                        > -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-sm-8">Was service performed as part of this incentive?</label>
                        Yes
                        <!-- <input 
                            type="checkbox" 
                            class="mr-2 ml-2" 
                            formControlName="ServiceIncluded"
                            (change)="onChangeServiceIncluded($event)"
                            [value]=""
                        > -->
                        <input 
                            type="radio" 
                            class="mr-2 ml-2" 
                            formControlName="ServiceIncluded"
                            name="ServiceIncluded"
                            (change)="onChangeServiceIncluded($event)"
                            value="y"
                        >
                        No
                        <!-- <input 
                            type="checkbox" 
                            class="mr-2 ml-2" 
                            formControlName="ServiceIncluded"
                            (change)="onChangeServiceIncluded($event)"
                            [value]=""
                        > -->
                        <input 
                            type="radio" 
                            class="mr-2 ml-2" 
                            formControlName="ServiceIncluded"
                            name="ServiceIncluded"
                            (change)="onChangeServiceIncluded($event)"
                            value="n"
                        >
                    </div>
                </div>
            </div>
            
            <ng-container *ngFor="let box of checkBoxIndex; let i=index">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div *ngIf="box.id&gt;0 && box.id&lt;=2">
                                <label>{{box.checkBoxName}}</label>
                                <input 
                                    type="checkbox" 
                                    name="{{box.id}}" 
                                    [value]="box.id"
                                    (change)="onChangeClientVisit($event)"
                                    class="form-check-populate"
                                    [checked]="selected === i"
                                    (change)="selected = i"
                                    [style.margin-bottom]="'0px'"
                                >
                            </div>
                            <div *ngIf="box.id&gt;3 && box.id&lt;=6">
                                <label>{{box.checkBoxName}}</label>
                                <input 
                                    type="checkbox" 
                                    name="{{box.id}}" 
                                    [value]="box.id"
                                    (change)="onChangeClientVisit($event)"
                                    class="form-check-populate"
                                    
                                >
                            </div>
                        </div>          
                    </div>
                    
                    <div class="col-md-4 entryColumn2">
                        <div class="form-group">
                            <div *ngIf="box.id&gt;6 && box.id&lt;11">
                                <label>{{box.checkBoxName}}</label>
                                <input 
                                    type="checkbox" 
                                    name="{{box.id}}" 
                                    [value]="box.id"
                                    (change)="onChangeClientVisit($event)"
                                    class="form-check-populate"
                                    [disabled]="box.id&gt;7"
                                >
                            </div>
                        </div>   
                    </div>

                   
                </div> 
            </ng-container>
            
            <div class="col-md-4 entryColumn3">
                <p>Customer Enrolled in Autopay?</p>
                <div class="form-group btn-group mt-3 mb-3">
                    <label>Credit Card</label>
                    <input 
                        type="checkbox"
                        formControlName="CreditCardAutoPay"
                        class="form-check-input"
                        (change)="onChangeCC($event)"
                        [value]="11"
                    >
                </div>
            </div>
            <div class="col-md-4 entryColumn3">
                <div class="form-group btn-group mt-3 mb-3">
                    <label>ACH</label>
                    <input 
                        type="checkbox"
                        formControlName="ACHAutopay"
                        class="form-check-input"
                        (change)="onChangeACH($event)"
                        [value]="12"
                    >
                </div>
            </div>
            
            <div class="row" [ngStyle]="{'position': 'relative', top: '-420px', left: '0px'}">
                <div class="col-md-4"></div>
                <div class="col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-primary btn-light-blue btn-block" (click)="onSubmit(incentiveEntryForm)" [disabled]="!incentiveEntryForm.valid">Start Incentive</button>
                </div>
            </div>
        </form>
        
        <!-- <div class="row ml-0">
            <div class="col-md-12">
                <div class="row" *ngFor="let item of installCompanyList">
                    <h1 class="incentive-header">Incentive Entry | <span class="company">{{ item.companyName }} - {{ item.partnerCode}}</span></h1>
                </div>
            </div>
        </div>
        <form [formGroup]="incentiveEntryForm" (ngSubmit)="onSubmit(incentiveEntryForm)" #IncentiveInfo="ngForm" *ngFor="let c of checkBoxIndex">
            {{checkBoxName}}
            <div class="row form-inline mt-5 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice #</label>
                        <input
                            formControlName="InvoiceNumber"
                            [(ngModel)]="invoiceNumber" 
                            type="text" 
                            class="form-control"
                        >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice Date</label>
                        <input
                            formControlName="InvoiceDate"
                            [(ngModel)]="invoiceDate" 
                            type="date" 
                            class="form-control"
                        >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="mr-2">Invoice Total</label>
                        <input
                            formControlName="InvoiceTotal"
                            [(ngModel)]="invoiceTotal"
                            type="text" 
                            class="form-control"
                            (blur)="transformAmount($event)"
                        >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-sm-8">Was service performed as part of this incentive?</label>
                        Yes<input type="checkbox" class="mr-2 ml-2">
                        No<input type="checkbox" class="mr-2 ml-2">
                    </div>
                </div>
            </div>
            <div class="row form-inline mt-5 mb-5 align-items-start">
                <div class="col-md-4">
                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Client Visit</label>
                        <input 
                            type="checkbox"
                            formControlName="ClientVisit"
                            class="form-check-input"
                            
                            (change)="onChangeClientVisit($event)"
                            [id]="c.id"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Adoption Visit</label>
                        <input 
                            type="checkbox"
                            formControlName="AdoptionVisit"
                            class="form-check-input"
                            [id]="c.id"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>No Phone No Problem</label>
                        <input 
                            type="checkbox"
                            formControlName="LandlineToCell"
                            class="form-check-input"
                            [id]="c.id"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Contract Resign</label>
                        <input 
                            type="checkbox"
                            formControlName="ContractResign"
                            class="form-check-input"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Reprogram</label>
                        <input 
                            type="checkbox"
                            formControlName="Reprogram"
                            class="form-check-input"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>LTE Upgrade</label>
                        <input 
                            type="checkbox"
                            formControlName="LteUpgrade"
                            class="form-check-input"
                        >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Add New RMR or Service</label>
                        <input 
                            type="checkbox"
                            formControlName="AddNewRMRorService"
                            class="form-check-input"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Pick Up</label>
                        <input 
                            type="checkbox"
                            formControlName="PickUp"
                            class="form-check-input"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>New Site</label>
                        <input 
                            type="checkbox"
                            formControlName="NewSite"
                            class="form-check-input"
                        >
                    </div>

                    <div class="form-group btn-group mt-3 mb-3">
                        <label>System Transfer</label>
                        <input 
                            type="checkbox"
                            formControlName="SystemTransfer"
                            class="form-check-input"
                        >
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Customer Enrolled in Autopay?</p>
                    <div class="form-group btn-group mt-3 mb-3">
                        <label>Credit Card</label>
                        <input 
                            type="checkbox"
                            formControlName="CreditCardAutoPay"
                            class="form-check-input"
                            (change)="onChangeCC($event)"
                        >
                    </div>
                    <div class="form-group btn-group mt-3 mb-3">
                        <label>ACH</label>
                        <input 
                            type="checkbox"
                            formControlName="ACHAutopay"
                            class="form-check-input"
                            (change)="onChangeACH($event)"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-primary btn-light-blue btn-block" (click)="onSubmit(IncentiveInfo.value)">Start Incentive</button>
                </div>
            </div>
        </form> -->
    </div>
</div>
<footer class="footer">
    <div class="ml-5 mr-5">
      <div class="row pb-3">
        <div class="col-md-3">
          <h2 class="font-weight-bolder footer-logo">The Partnership Connection</h2>
        </div>
        <div class="col-md-1">
          <p class="font-weight-bold footer-logo mb-0 mt-25">powered by </p>
        </div>
        <div class="col-md-8">
          <img src="../../../assets/img/AlarmConnections_Logo_Primary(With_Tag)_RGB.svg" id="afa-brand-logo">
        </div>
        <!-- <div class="col-sm-12">
          <h2 class="">The Partnership Connection</h2>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col-sm-12">
          <p class="">powered by Alarm Connections</p>
        </div>
      </div> -->
    </div>
  </footer>
