<form [formGroup]="incentiveDashboardTestForm">

    <!--CUSTOMER-->
    <div class="form-group form-inline">
        <label class="col-form-label">Customer</label>
        <div class="ng-autocomplete">
            <ng-autocomplete
                #customerRef
                [data]="results"
                formControlName="CustomerID"
                [(ngbTooltip)]="customer"
                [searchKeyword]="keyword"
                (selected)='selectEvent($event)'
                (inputChanged)='getServerResponse($event)' 
                (inputFocused)='onFocused($event)' 
                (inputCleared)="searchCleared()"
                [itemTemplate]="itemTemplate"
                historyIdentifier="results"
                [notFoundTemplate]="notFoundTemplate"
                [placeholder]="'Type a customer number...'"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.customer_Name"></a>
                <a [innerHTML]="item.customerNumber"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    
        <span class="ml-2" (click)="openSearchCustomerModal(content)">
            <i class="fas fa-search"></i>
        </span>
        <span class="pl-4" (click)="routeToNewCustomer()">
            <i class="fas fa-plus-circle"></i>
            New Customer
        </span>
    </div>
    
    <!--SITE-->
    <div class="form-group form-inline">
        <label>Site</label>
        <kendo-dropdownlist
            [data]="listsitesforcustomer"
            [disabled]="isSiteDisabled"
            [value]="customer_Site_id"
            [textField]="'siteName'"
            [valueField]="'customer_Site_id'"
            (valueChange)="onSiteChange($event)"
          >
          </kendo-dropdownlist>
    </div>

    <!--SYSTEM-->
    <div class="form-group form-inline">
        <label>System</label>
        <kendo-dropdownlist
            [disabled]="isSystemDisabled"
            [data]="listSystemsForSite"
            [value]="customer_System_id"
            [textField]="'customer_System_id'"
            [valueField]="'customer_System_id'"
            (valueChange)="onSystemChange($event)"
          >
          </kendo-dropdownlist>
    </div>

</form>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search By Customer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a customer</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                    >
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>

                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <div class="row">
                        <h3>Cancelled Customers</h3>
                        
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerSearchList |  paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectCustomer(customer.customer_id,customer.customer_Name)" click>
                    <td>{{ customer.customer_Number }}</td>
                    <td>{{ customer.customer_Name }}</td>
                    <td>{{ customer.customerStatus }}</td>
                    <td>{{ customer.address_1 }}</td>
                    <td>{{ customer.address_2 }}</td>
                    <td>{{ customer.address_3 }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zipCode }}</td>
                    
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<br>