<form [formGroup]="incentiveDashboardTestForm">
    <div class="form-group form-inline">
        <label>Customer</label>
        <input 
            type="text"
            class="form-control col-sm-5 fullWidthInput" 
            [(ngModel)]="customer"
            formControlName="CustomerID"
        >
        <span class="ml-2" (click)="openSearchCustomerModal(content)">
            <i class="fas fa-search"></i>
        </span>
        <!-- <kendo-dropdownlist
            [data]="customers"
            [value]="selectedCustomer"
            [textField]="'name'"
            [valueField]="'id'"
            (valueChange)="onCustomerChange($event)"
          >
          </kendo-dropdownlist> -->
        
    </div>
    <div class="form-group">
        <label>Site</label>
        <!-- <kendo-dropdownlist
            [data]="listsitesforcustomer"
            [value]="customer_Site_id"
            [textField]="'siteName'"
            [valueField]="'customer_Site_id'"
            (valueChange)="onSiteChange($event)"
          >
          </kendo-dropdownlist> -->
        
    </div>
    <div class="form-group">
        <label>System</label>
        <!-- <kendo-dropdownlist
            [data]="systems"
            [value]="selectedSystem"
            [textField]="'id'"
            [valueField]="'name'"
            (valueChange)="onSystemChange($event)"
          >
          </kendo-dropdownlist> -->
        
    </div>
</form>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Search By Customer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="col-sm-12">
                    <h2>Look up a customer</h2>
                </div>
                <div class="col-sm-12 input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                    >
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0" id="search-border" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                
            </div>
            <div class="col-md-4">
                <h2>Search By:</h2>
                <form>
                    <!-- <div class="form-group">
                        <input 
                            [(ngModel)]="searchByCustomer"
                            [checked]="true"
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCustomer($event.target.value)"
                        >
                        <label>Customer</label>
                    </div> -->
                    <!-- <div class="form-group">
                        <input
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToBilling($event.target.value)"
                        >
                        <label>Billing Address</label>
                    </div> -->
                    <!-- <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToSite($event.target.value)"
                        >
                        <label>Site Address</label>
                    </div> -->
                    <!-- <div class="form-group">
                        <input 
                            type="radio" 
                            name="searchBy" 
                            class="mr-3"
                            (change)="onItemChangeToCentralStation($event.target.value)"
                        >
                        <label>Central Station #</label>
                    </div> -->
                </form>
            </div>
            <div class="col-md-4">
                <h2>Options:</h2>
                <form>
                    <div class="row">
                        <h3>Cancelled Customers</h3>
                        <!-- <div class="radio-label-vertical-wrapper">
                            <div class="form-group">
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="0" 
                                    required
                                    (change)="onItemChangeToInclude($event.target.value)"
                                >Include</label>
                            <label class="radio-label-vertical">
                                <input 
                                    type="radio" 
                                    name="cancelledCustomers" 
                                    [value]="1" 
                                    required
                                    [checked]="true"
                                    (change)="onItemChangeToExclude($event.target.value)"
                                >Exclude</label>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Status</th>
                    <th scope="col">Address Line 1</th>
                    <th scope="col">Address Line 2</th>
                    <th scope="col">Address Line 3</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerSearchList |  paginate: { itemsPerPage: 10, currentPage: p }" (click)="selectCustomer(customer.customer_id,customer.customer_Name)" click>
                    <td>{{ customer.customer_Number }}</td>
                    <td>{{ customer.customer_Name }}</td>
                    <td>{{ customer.customerStatus }}</td>
                    <td>{{ customer.address_1 }}</td>
                    <td>{{ customer.address_2 }}</td>
                    <td>{{ customer.address_3 }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zipCode }}</td>
                    
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<br>
<!-- <header class="equipmat-header-bg">
    <div class="col">
        <span class="align-middle">
            Item
        </span>
    </div>
    <div class="col">
        <span class="align-middle">
            Description
        </span>
    </div>
    <div class="col">
        <span class="align-middle">
            Quantity
        </span>
    </div>
    <div class="col">
        <span class="align-middle">
            Cost
        </span>
    </div>
    <div class="col">
        <span class="align-middle">
            Total
        </span>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</header>
<form *ngIf="incentiveEquipMatEntryForm" [formGroup]="incentiveEquipMatEntryForm">
    <div formArrayName="entryRowsEquipMat">
        <div class="row-entry-padding" *ngFor="let entryRow of incentiveEquipMatEntryForm.controls.entryRowsEquipMat['controls']; let i = index">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <select 
                                formControlName="ItemID" class="form-control" 
                                (change)="getEquipMatItemName($event,i)"
                                name="something_{{i}}"
                            >
                                <option *ngFor="let item of listMatItems" value="{{item.item_id}}" [ngValue]="item.item_id">{{ item.itemCode }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="Description" 
                            name="something_{{i}}"
                        >
                    </div>
                    <div class="col">
                        <input 
                            type="number" 
                            formControlName="Quantity"
                            class="form-control"
                            
                        >
                    </div>
                    <div class="col">
                        <kendo-numerictextbox
                            format="c2"
                            placeholder="$0.00"
                            formControlName="Cost"
                            [spinners]="false"
                            [style.height]="'calc(1.5em + 1.3rem)'"
                            [style.width]="'80%'"
                        ></kendo-numerictextbox>
                    </div>
                    <div class="col">
                        <kendo-numerictextbox
                            format="c2"
                            placeholder="$0.00"
                            formControlName="Total"
                            [spinners]="false"
                            [style.height]="'calc(1.5em + 1.3rem)'"
                            [style.width]="'80%'"
                            [attr.disabled]="true"
                        ></kendo-numerictextbox>
                    </div>
                    <div class="col">
                        <button class="btn btn-add" type="button"(click)="addNewEquipMatItem()">
                            <i class="fas fa-plus pr-1"></i>Add
                        </button>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-add" type="button" (click)="removeNewEquipMatItem(i)">
                            <i class="fas fa-minus pr-1"></i>Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <input type="submit" value="Submit" class="btn btn-submit">
    </div>
    <p>Total is: ${{ totalSumEquipMat }}</p>
</form> -->