.home-container {
    position: relative;
}

.masthead {
    margin-bottom: 2rem;
}
.masthead-brand {
    margin-bottom: 0;
}
.cover-container {
  margin: 5rem auto;
}
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}