<div class="row">
    <div class="col-md-12">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <h3 class="mb-0">Update {{ user.firstName }}'s Profile</h3>
                </div>
            </div>
        </div>
        <a routerlink="/admin" ng-reflect-router-link="/admin" href="/admin">
            <button class="btn btn-primary mt-5 ml-4">Return to Admin</button>
        </a>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="updateAspNetUserProfileForm" (ngSubmit)="onSubmit(updateAspNetUserProfileForm)">
                        <input type="hidden" name="token" [value]="token" />
                        <input type="hidden" name="id" [value]="user.id" />
                        <input type="hidden" name="email" [value]="user.email" />
                        <input type="hidden" name="firstName" [value]="user.firstName" />
                        <input type="hidden" name="lastName" [value]="user.lastName" />
                        <input type="hidden" name="phoneNumber" [value]="user.phoneNumber" />
                        <input type="hidden" name="cellPhoneNumber1" [value]="user.cellPhoneNumber1" />
                        <input type="hidden" name="altEmail" [value]="user.altEmail" />
                        <input type="hidden" name="afaEmployee" [value]="user.afaEmployee" />
                        <input type="hidden" name="afaRole" [value]="user.afaRole" />
                        <input type="hidden" name="removeSplash" [value]="user.removeSplash" />
                        <div class="form-group">
                            <label>UserName</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="userName" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="email" />
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="firstName" />
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="lastName" />
                        </div>

                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control form-control-alternative" formControlName="phoneNumber" />
                        </div>
                        <div class="form-group">
                            <label>Cell Phone Number</label>
                            <input type="tel" class="form-control form-control-alternative" formControlName="cellPhoneNumber1" />
                        </div>
                        <div class="form-group">
                            <label>Alternate Email Address</label>
                            <input type="email" class="form-control form-control-alternative" formControlName="altEmail" />
                        </div>
                        <div class="form-group">
                            <label>Alarm Connections Employee</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="afaEmployee" />
                        </div>
                        <div class="form-group">
                            <label>Alarm Connections Role</label>
                            <input type="text" class="form-control form-control-alternative" formControlName="afaRole" />
                        </div>
                        <div class="form-group">
                            <label>Remove Instructions</label>
                            <input type="number" class="form-control form-control-alternative" formControlName="removeSplash" />
                        </div>

                        <!--password and password confirm change-->
                        <!-- <div class="form-group">
                            <label>Password</label>
                            <input 
                                type="password" 
                                class="form-control form-control-alternative" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                            />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input 
                                type="password" 
                                class="form-control form-control-alternative" formControlName="confirmPassword" 
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                            />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">
                                Confirm Password is required
                                </div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">
                                Passwords must match
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary boc-btn ml-0"><i class="fa fa-save pr-2"></i>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <p>{{user.id}}</p> -->
    </div>
</div>
