.table thead th {
    padding-top: 0;
    padding-bottom: 0;
}

/**********************************************
New Layout CSS (see dashboard.component.html)
**********************************************/
.card .table th {
    padding-right: 0;
    padding-left: 0;
}

.card .table td, .card .table th {
    padding-right: 0;
    padding-left: 0;
}

.table.align-items-center td, .table.align-items-center th {
    vertical-align: initial;
}