<!-- <div class="card shadow systemInfo-bg system-info-border">
    <div class="card-header border-0 systemInfo-bg pb-1">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <h3 class="mb-0">Central Station/System Info</h3>
                    <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                        BOC?
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="alarm_Account"></div>
    <div class="table-responsive">
        <table class="table align-items-center table-borderless">
            <thead class="systemInfo-bg">
                <tr>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Account</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">C/S</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Contract Date</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Expires</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Maint</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">RMR</th>
                </tr>
            </thead>
            <tbody id="systemInfo" #systemInfo *ngFor="let item of assistantsystems">
                <tr class="system-info-collection"></tr>
                <td class="system-info-collectionItem" data-id=" ' + {{item.customer_System_Id}} +' " (click)="showaccountInfoModal(item.customer_System_Id)">{{ item.alarm_Account }} <br> 
                    <span *ngIf="item?.featureMessage?.length > 0" [style.color]="'red'" [style.fontWeight]="'900'" class="pr-2">{{ item.featureMessage }}</span>
                    <span [style.color]="'black'" [style.fontWeight]="'500'" [style.fontSize]="'.8125rem'">{{ item.siteAddress }}</span></td>
                <td>{{ item.alarm_Company_Code }}</td>
                <td>{{ item.system_Code }}</td>
                <td>{{ item.contract_Start_Date }}</td>
                <td>{{ item.contractExpiration }}</td>
                <td>{{ item.contractExpirationMessage }}</td>
                <td>{{ item.warranty }}</td>
                <td>${{ item.rmrAmount }}</td>
            </tbody>
        </table>
    </div>
</div> -->

<!-- begin new layout -->
<div class="card shadow systemInfo-bg system-info-border ml-3 mt-3">
    <div class="card-header border-0 systemInfo-bg pb-1">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-md-4 pl-0">
                        <h3 class="mb-0" [style.padding-left]="'1rem'">Central Station/System Info</h3>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                            BOC?
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary boc-btn float-right" [style.margin-left]="'5rem'" id="showContractNotesModal" (click)="showContractNotesModal()">
                            Contract Notes
                        </button>
                    </div>
                    <!-- <h3 class="mb-0" [style.padding-left]="'1rem'">Central Station/System Info</h3>
                    <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                        BOC?
                    </button>
                    <button class="btn btn-primary boc-btn float-right" [style.margin-left]="'5rem'" id="showContractNotesModal" (click)="showContractNotesModal()">
                        Contract Notes
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <div id="alarm_Account"></div>
    <div class="table-responsive padding-bottom10">
        <table class="table align-items-center table-borderless">
            <thead class="systemInfo-bg">
                <tr>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0" [style.padding-left]="'1.5rem'">Account</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">C/S</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Contract Date</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Expires</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Maint</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">RMR</th>
                </tr>
            </thead>
            <tbody id="systemInfo" #systemInfo *ngFor="let item of assistantsystems">
                <tr class="system-info-collection"></tr>
                <td class="system-info-collectionItem" data-id=" ' + {{item.customer_System_Id}} +' " (click)="showaccountInfoModal(item.customer_System_Id)" [style.padding-left]="'1.5rem'">{{ item.alarm_Account }} <br> 
                    <span *ngIf="item?.featureMessage?.length > 0" [style.color]="'red'" [style.fontWeight]="'900'" class="pr-2">{{ item.featureMessage }}</span>
                    <span [style.color]="'black'" [style.fontWeight]="'500'" [style.fontSize]="'.8125rem'">{{ item.siteAddress }}</span>
                </td>
                <td>{{ item.alarm_Company_Code }}</td>
                <td>{{ item.system_Code }}</td>
                <td>{{ item.contract_Start_Date }}</td>
                <td>{{ item.contractExpiration }}</td>
                <td>{{ item.contractExpirationMessage }}</td>
                <td>{{ item.warranty }}</td>
                <td>{{ item.rmrAmount | currency }}</td>
            </tbody>
        </table>
    </div>
</div>
<!-- end new layout -->

<!-- Customer Contract Notes Modal -->
<div class="modal fade" id="contractNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h2 class="modal-title" id="exampleModalLabel"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card" id="afa-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="lead font-weight900 mt-0"> Contract Notes </h2>
                                <div class="row table-responsive">
                                    <div class="col-md-12">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Business Name</th>
                                                    <th>Site Status</th>
                                                    <th>Site Number</th>
                                                    <th>Address</th>
                                                    <th>Note Preview</th>
                                                    <!-- <th>Note</th> -->
                                                </tr>
                                            </thead>
                                            <tbody 
                                              *ngFor="let item of contractNotes">
                                                <tr>
                                                  <td>{{ item.businessName }}</td>
                                                  <td>{{ item.siteStatus || 'N/A' }}</td>
                                                  <td>{{ item.site_Number || 'N/A' }}</td>
                                                  <td>{{ item.address_1 || 'N/A' }}</td>
                                                  <td class="system-info-collectionItem" data-id=" ' + {{item.customer_Notes_Id}} +' " (click)="showContractNotes(item.customer_Notes_Id)">{{ item.notePreview }}</td>
                                                  <!-- <td>{{ item.notes }}</td> -->
                                                  <!-- <td (click)="showHide($event)">
                                                      <button class="btn btn-primary">click</button>
                                                      <ng-container *ngIf="show">
                                                          {{ item.notes }}
                                                          {{ note }}
                                                      </ng-container>
                                                  </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            <div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hidePartnerWindowModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Notes Modal -->
<div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header">
               
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body" *ngFor="let item of contractNotes">
                        <!-- <pre>{{ item.notes }}</pre> -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-borderless">
                                <thead>
                                    <tr>          
                                        <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>
                                        <pre>{{ item.notes }}</pre>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hideServiceTicketNotesModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>