<!-- <div class="card shadow systemInfo-bg system-info-border">
    <div class="card-header border-0 systemInfo-bg pb-1">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <h3 class="mb-0">Central Station/System Info</h3>
                    <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                        BOC?
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="alarm_Account"></div>
    <div class="table-responsive">
        <table class="table align-items-center table-borderless">
            <thead class="systemInfo-bg">
                <tr>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Account</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">C/S</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Contract Date</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Expires</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Maint</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">RMR</th>
                </tr>
            </thead>
            <tbody id="systemInfo" #systemInfo *ngFor="let item of assistantsystems">
                <tr class="system-info-collection"></tr>
                <td class="system-info-collectionItem" data-id=" ' + {{item.customer_System_Id}} +' " (click)="showaccountInfoModal(item.customer_System_Id)">{{ item.alarm_Account }} <br> 
                    <span *ngIf="item?.featureMessage?.length > 0" [style.color]="'red'" [style.fontWeight]="'900'" class="pr-2">{{ item.featureMessage }}</span>
                    <span [style.color]="'black'" [style.fontWeight]="'500'" [style.fontSize]="'.8125rem'">{{ item.siteAddress }}</span></td>
                <td>{{ item.alarm_Company_Code }}</td>
                <td>{{ item.system_Code }}</td>
                <td>{{ item.contract_Start_Date }}</td>
                <td>{{ item.contractExpiration }}</td>
                <td>{{ item.contractExpirationMessage }}</td>
                <td>{{ item.warranty }}</td>
                <td>${{ item.rmrAmount }}</td>
            </tbody>
        </table>
    </div>
</div> -->

<!-- begin new layout -->
<div class="card shadow systemInfo-bg system-info-border ml-3 mt-3">
    <div class="card-header border-0 systemInfo-bg pb-1">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <h3 class="mb-0" [style.padding-left]="'1rem'">Central Station/System Info</h3>
                    <button class="btn btn-primary boc-btn float-right" id="showBOCModal" (click)="showBOCModal()">
                        BOC?
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="alarm_Account"></div>
    <div class="table-responsive">
        <table class="table align-items-center table-borderless">
            <thead class="systemInfo-bg">
                <tr>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0" [style.padding-left]="'1.5rem'">Account</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">C/S</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Contract Date</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Expires</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0"></th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">Maint</th>
                    <th scope="col" id="fontSize-75rem" style="margin-bottom:0">RMR</th>
                </tr>
            </thead>
            <tbody id="systemInfo" #systemInfo *ngFor="let item of assistantsystems">
                <tr class="system-info-collection"></tr>
                <td class="system-info-collectionItem" data-id=" ' + {{item.customer_System_Id}} +' " (click)="showaccountInfoModal(item.customer_System_Id)" [style.padding-left]="'1.5rem'">{{ item.alarm_Account }} <br> 
                    <span *ngIf="item?.featureMessage?.length > 0" [style.color]="'red'" [style.fontWeight]="'900'" class="pr-2">{{ item.featureMessage }}</span>
                    <span [style.color]="'black'" [style.fontWeight]="'500'" [style.fontSize]="'.8125rem'">{{ item.siteAddress }}</span></td>
                <td>{{ item.alarm_Company_Code }}</td>
                <td>{{ item.system_Code }}</td>
                <td>{{ item.contract_Start_Date }}</td>
                <td>{{ item.contractExpiration }}</td>
                <td>{{ item.contractExpirationMessage }}</td>
                <td>{{ item.warranty }}</td>
                <td>${{ item.rmrAmount }}</td>
            </tbody>
        </table>
    </div>
</div>
<!-- end new layout -->