<div class="d-flex toggled" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="col-xs-6" id="afa-brand-padding-right">
          <!-- <img src="../../../assets/img/AlarmConnections_Logo_Primary(Without_Tag)_RGB.png" id="afa-brand-logo"> -->
          <img src="../../../assets/img/AlarmConnections_Logo_Icon_RGB.png" id="afa-brand-logo">
        </div>
        <div class="col-xs-6" >
          <!-- <a [routerLink]="['/']" class="logo">Alarm Connections</a>
           -->
          <a [routerLink]="['/']" class="logo"></a>
        </div>
      </div>
      {{message}}
      <div class="list-group list-group-flush">
        <a [routerLink]="['/login']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="!authService.loggedIn()">Login</a>
        
        <span *ngIf="authService.loggedIn() && authService.isPartner()">
          <a [routerLink]="['/partner-dashboard']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isPartner() || authService.loggedIn() && authService.isEmployeeWithIncentiveAccess" (click)="removeDashboardData()">Partner View</a>
        </span>
        <!-- <a [routerLink]="['/partner-dashboard']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isPartner() || authService.loggedIn() && authService.isEmployeeWithIncentiveAccess" (click)="removeDashboardData()">Partner View</a> -->

        <span *ngIf="authService.loggedIn() && authService.isEmployee()">
          <a [routerLink]="['/incentive-entry']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && !authService.isPartner() || authService.loggedIn() && authService.isEmployeeWithIncentiveAccess" (click)="removeDashboardData()">Incentive Entry</a>
        </span>
        
        <hr>

        <a [routerLink]="['/recent-customers']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isEmployee() || authService.loggedIn() && authService.isAdminOrSuperAdmin()" (click)="automaticallyCloseNav()">Recent Customers</a>

        <a [routerLink]="['/dashboard']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isEmployee() || authService.loggedIn() && authService.isAdminOrSuperAdmin()" (click)="automaticallyCloseNav()">Customer Care View</a>
        
        <a [routerLink]="['/service-view']" routerLinkActive="active" class="list-group-item list-group-item-action disable-anchor-tag" *ngIf="authService.loggedIn() && authService.isEmployee() || authService.loggedIn() && authService.isAdminOrSuperAdmin()">Service View</a>

        <a [routerLink]="['/collections-view']" routerLinkActive="active" class="list-group-item list-group-item-action disable-anchor-tag" *ngIf="authService.loggedIn() && authService.isEmployee() || authService.loggedIn() && authService.isAdminOrSuperAdmin()">Collections View</a>

        <a [routerLink]="['/admin']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isAdminOrSuperAdmin()" (click)="automaticallyCloseNav()" disabled>Admin</a>
      </div>
      <hr>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/register']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="authService.loggedIn() && authService.isAdminOrSuperAdmin()" (click)="automaticallyCloseNav()">Register</a>
      </div>
      <div class="list-group list-group-flush" [ngStyle]="{position: 'absolute',bottom:'0'}">
        <ul>
          <li>Version: {{ currentApplicationVersion }}</li>
        </ul>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar navbar-expand-lg navbar-bg">
        <button class="btn btn-primary" id="menu-toggle">&#x2630;</button>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <span *ngIf="authService.loggedIn() && authService.isEmployee()">
          <span class="h4 ls-headline5 mb-0 text-white text-uppercase d-none d-lg-inline-block" id="text-logo">The Customer Care Connection</span>
        </span>
        <span *ngIf="authService.loggedIn() && !authService.isEmployee()">
          <!-- <span class="h4 ls-headline5 mb-0 text-black-50 text-uppercase d-none d-lg-inline-block" id="afa-text-black-50">The Partnership Connection</span> -->
          <span>
            <img src="../../../assets/img/AlarmConnections_Logo_Primary(Without_Tag)WordmarkReversed_RGB.svg" id="afa-logo">
          </span>
        </span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="mx-auto mb-0 black-text" id="showPartnerWindowModal" (click)="showPartnerWindowModal()" *ngIf="authService.loggedIn()">
            <app-partnerwindow></app-partnerwindow>
          </a>
          
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
              <a class="nav-link dropdown-toggle afa-text-black-50" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <app-currentuser #userDropdown></app-currentuser>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item list-group-item list-group-item-action" [routerLink]="['/profile']" routerLinkActive="active" *ngIf="authService.loggedIn() && !authService.isTestUser()"> <i class="ni ni-single-02"></i> My Profile</a>
                <a (click)="onLogoutClick()" class="dropdown-item list-group-item list-group-item-action" *ngIf="authService.loggedIn()"> <i class="ni ni-user-run"></i> Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="flashMessage">
        <flash-messages></flash-messages>
    </div>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->

  <div class="modal fade" id="partnerWindowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h2 class="modal-title" id="exampleModalLabel"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="card" id="afa-card">
                    <div class="card-body" id="partnerWindow">
                        <div class="row" *ngFor="let item of partnerInformation">
                            <div class="col-md-5">
                                <div>
                                    <h2 class="lead font-weight900 mt-0" id="partnerCode">{{ item.partnerCode }}</h2>
                                </div>
                                <div class="marginTopBottom-1rem">
                                    <span id="eMail" class="blue-text">{{ item.eMail }}</span>
                                </div>
                            </div>
                            <div class="col-md-7">
                              <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="address1">{{ item.address1 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="address2">{{ item.address2 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="city">{{ item.city }}</span>, <span id="state">{{ item.state }}</span>&nbsp;<span id="zipCode">{{ item.zipCode }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="phone1">{{ item.phone1 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="phone2">{{ item.phone2 }}</span>
                            </div>
                            </div>
                        </div>
                        <div>
                          <h2 class="dark-blue-text mb-0">Primary Contacts</h2>
                        </div>
                        <div class="row table-responsive">
                          <table class="table table-borderless" *ngIf="partnerInformation">
                              <thead>
                                  <tr></tr>
                              </thead>
                              <tbody>
                                  <tr id="contacts" *ngFor="let item of contactList">
                                    <td [style.padding-left]="'15px'">{{ item.title }}</td>
                                    <td>{{ item.contact_Name }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td class="text-right pr-0"> <a href="mailto:{{ item.e_Mail }}">{{ item.e_Mail }}</a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="row">
                          <div class="col-md-12 pt-1 pb-4 pt-3">
                              <small class="dark-blue-text" [style.fontWeight]="'600'">Additional contacts listed after notes</small>
                          </div>
                      </div>
                      <!--start tabs form customerCareNote-->
                        <!-- <div class="afa-bg-tan note-padding" *ngFor="let item of partnerInformation">
                          <span>
                            <pre>{{ item.customerCareNote }}</pre>
                          </span>
                        </div> -->

                        <div class="custcare-servicenote-container">

                          <div class="tabs margin-top3" id="padding0">
                              <div class="tab-button-outer">
                                  <ul id="tab-button-partner">
                                      <li class="menu" (click)="toggleShow('tab-1')"><a href="#tab01">Customer Care Note</a></li>
                                      <li class="menu" (click)="toggleShow('tab-2')"><a href="#tab02">Service Note</a></li>
                                  </ul>
                              </div>
                      
                              <div class="tabs-stage" [ngSwitch]="activeTab" *ngFor="let item of partnerInformationNew">
                                  <div id="tab-1" *ngSwitchCase="'tab-1'" [style.background-color]="'#f9f9a7'" [style.padding]="'.5em 1em 1em'">
                                    <!-- <p>
                                      Critical message text...
                                    </p> -->
                                    <pre id="criticalMessage">
                                      {{ item.customerCareNote }}
                                      </pre>
                                  </div>
                                  <div id="tab-2" *ngSwitchCase="'tab-2'" [style.background-color]="'#f9f9a7'" [style.padding]="'.5em 1em 1em'">
                                    <!-- <p>
                                      Last note text...
                                    </p> -->
                                    <pre id="lastNote">
                                      {{ item.serviceNote }}
                                  </pre>
                                  </div>
                                </div>
                          </div>
                      
                      </div>

                        <!--end tabs form customerCareNote-->
                        <div class="card-header border-0 padding-left0 pb-0">
                            <h2 class="dark-blue-text mb-0">Additional Contacts</h2>
                        </div>
                        <div class="row table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr id="contacts" *ngFor="let c of contactListAdditional">
                                      <td [style.padding-left]="'15px'">{{ c.title }}</td>
                                      <td>{{ c.contact_Name }}</td>
                                      <td>{{ c.phone }}</td>
                                      <td class="text-right pr-0"> <a href="mailto:{{ c.e_Mail }}">{{ c.e_Mail }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hidePartnerWindowModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
