<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="col-xs-6" id="afa-brand-padding-right">
          <img src="../../../assets/img/tpc_logo.jpg" id="afa-brand-logo">
      </div>
          <a [routerLink]="['/']" class="logo">The Partnership Connection</a>
      </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/login']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="!authService.loggedIn()">Login</a>
        <a [routerLink]="['/register']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="!authService.loggedIn()">Register</a>
        <a [routerLink]="['/dashboard']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Dashboard</a>
        <!-- <a [routerLink]="['/customer-access-list']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Customer Access List</a>
        <a [routerLink]="['/customer-care-dashboard-info']" routerLinkActive="active"  class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Customer Care Dashboard Info</a> -->
        <a [routerLink]="['/recent-customers']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Recent Customers</a>
        <a [routerLink]="['/customer-care-view']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Customer Care View</a>
        <a [routerLink]="['/service-view']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Service View</a>
        <a [routerLink]="['/collections-view']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Collections View</a>
        <a [routerLink]="['/admin']" routerLinkActive="active" class="list-group-item list-group-item-action" *ngIf="authService.loggedIn()">Admin</a>
      </div>
      <!-- <button class="btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button> -->
      <!-- <button class="btn-danger my-2 my-sm-0">Logout</button> -->
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar navbar-expand-lg border-bottom">
        <button class="btn btn-primary" id="menu-toggle">&#x2630;</button>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="h4 mb-0 text-black-50 text-uppercase d-none d-lg-inline-block" id="afa-text-black-50">The Partnership Connection</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="mx-auto mb-0 black-text" id="showPartnerWindowModal" (click)="showPartnerWindowModal()" *ngIf="authService.loggedIn()">
            <i class="ni ni-fat-add" id="add-icon-blue"></i>
            <!-- <span *ngFor="let item of dashboardinfo">{{ item.partnerName }}</span> -->
            <app-partnerwindow></app-partnerwindow>
          </a>
          

          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
              <a class="nav-link dropdown-toggle afa-text-black-50" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <app-currentuser></app-currentuser>
                <!-- CurrentUser@AlarmFundingAssociates.com -->
                <!-- {{ user.email }} -->
                <!-- {{ currentUser$ | async }} -->
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item list-group-item list-group-item-action" [routerLink]="['/profile']" routerLinkActive="active" *ngIf="authService.loggedIn()"> <i class="ni ni-single-02"></i> My Profile</a>
                <a (click)="onLogoutClick()" class="dropdown-item list-group-item list-group-item-action" *ngIf="authService.loggedIn()"> <i class="ni ni-user-run"></i> Logout</a>
                <!-- <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="flashMessage">
        <flash-messages></flash-messages>
    </div>
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->

  <div class="modal fade" id="partnerWindowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="maxWidth-900">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" id="afa-card">
                    <div class="card-body" id="partnerWindow" *ngFor="let item of partnerInformation">
                        <div class="row">
                            <div class="col-md-5">
                                <div>
                                    <h2 class="lead font-weight900 mt-0" id="partnerCode">{{ item.partnerCode }}</h2>
                                </div>
                                <!-- <div class="marginTopBottom-1rem">
                                    <span id="address1">{{ item.address1 }}</span>
                                </div>
                                <div class="marginTopBottom-1rem">
                                    <span id="address2">{{ item.address2 }}</span>
                                </div>
                                <div class="marginTopBottom-1rem">
                                    <span id="city">{{ item.city }}</span>, <span id="state">{{ item.state }}</span>&nbsp;<span id="zipCode">{{ item.zipCode }}</span>
                                </div>
                                <div class="marginTopBottom-1rem">
                                    <span id="phone1">{{ item.phone1 }}</span>
                                </div>
                                <div class="marginTopBottom-1rem">
                                    <span id="phone2">{{ item.phone2 }}</span>
                                </div> -->
                                <div class="marginTopBottom-1rem">
                                    <span id="eMail" class="blue-text">{{ item.eMail }}</span>
                                </div>
                            </div>
                            <div class="col-md-7">
                              <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="address1">{{ item.address1 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="address2">{{ item.address2 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="city">{{ item.city }}</span>, <span id="state">{{ item.state }}</span>&nbsp;<span id="zipCode">{{ item.zipCode }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="phone1">{{ item.phone1 }}</span>
                            </div>
                            <div class="marginTopBottom-1rem text-right mr-2">
                                <span id="phone2">{{ item.phone2 }}</span>
                            </div>
                                <!-- <div class="afa-bg-tan note-padding">
                                    <span id="customerCareNote" style="width:100px;word-wrap:break-word;">
                                      <pre>{{ item.customerCareNote }}</pre>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                        <div>
                          <h2 class="dark-blue-text">Primary Contacts</h2>
                        </div>
                        <div class="row table-responsive">
                          <table class="table table-borderless">
                              <thead>
                                  <tr></tr>
                              </thead>
                              <tbody>
                                  <tr id="contacts" *ngFor="let item of contactList">
                                    <td [style.padding-left]="'15px'">{{ item.title }}</td>
                                    <td>{{ item.contact_Name }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td class="text-right pr-0"> <a href="mailto:{{ item.e_Mail }}">{{ item.e_Mail }}</a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                        <div class="afa-bg-tan note-padding">
                          <span>
                            <pre>{{ item.customerCareNote }}</pre>
                          </span>
                        </div>

                        <div class="card-header border-0 padding-left0">
                            <h2 class="dark-blue-text">Additional Contacts</h2>
                        </div>
                        <div class="row table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr id="contacts" *ngFor="let item of contactList">
                                      <td [style.padding-left]="'15px'">{{ item.title }}</td>
                                      <td>{{ item.contact_Name }}</td>
                                      <td>{{ item.phone }}</td>
                                      <td class="text-right pr-0"> <a href="mailto:{{ item.e_Mail }}">{{ item.e_Mail }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="hidePartnerWindowModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
