body {
    overflow-x: hidden;
}

.headline-5 {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;/*24px*/
  line-height: 24px;
  letter-spacing: 0.011rem;
}

.ls-headline5 {
  letter-spacing: 0.011rem;
}

.disable-anchor-tag {
    pointer-events: none;
}

.navbar-bg {
  background-color: rgba(35, 3, 106, 1);
  /* border-bottom: 2px solid rgba(144,197,238,1); */
  border-bottom: 2px solid rgba(35,3,106,1);
}
.nav-link {
  color: #525f7f00;
}

.afa-text-black-50 {
  color: transparent !important;
}

#text-logo {
  color: #E3F1FA !important;
}

#menu-toggle {
  color: rgba(144,197,238,1);
}

.list-group-item {
    border: 0px solid #e9ecef00;
}
  
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
  
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
    width: 15rem;
}
  
#page-content-wrapper {
    min-width: 100vw;
    background: linear-gradient(87deg, #ffffff 0, #eeeeee 100%) !important;
}
  
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

  .list-group-item.active {
    color: #000;
  }

  .logo {
    color: black;
  }

  pre {
    font-family: 'Open Sans';
    white-space: pre-line;
    font-size: inherit;
    overflow-y: scroll;
    height: 50vh;
  }

  .tabs {
    max-width: 100%;
  }

  .table td {
    padding: 1rem 0 0 1rem;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }