/* #suggestedTopics.list-group-item.prompt.checkbox + input[type=checkbox]:checked {
    text-decoration: line-through;
    color:red;
} */
.inbox {
    max-width: 400px;
    /* margin: 10px auto; */
    background: transparent;
    border-radius: 5px;
    /* box-shadow: 10px 10px 0 rgba(0,0,0,0.1); */
  }

  .item {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #F1F1F1; */
  }

  .item:last-child {
    border-bottom: 0;
  }

  input:checked + p {
    background: transparent;
    text-decoration: line-through;
    text-decoration-color: tomato;
  }

  input[type="checkbox"] {
    /* margin: 20px; */
    margin: 10px;
  }

  p {
    margin: 0;
    /* padding: 20px; */
    transition: background 0.2s;
    flex: 1;
    /* font-family:'helvetica neue'; */
    font-size: 1rem;
    font-weight: 400;
    /* border-left: 1px solid #D1E2FF; */
  }

  .padding-bottom10 {
    padding-bottom: 10px;
  }