<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h5 class="headline-5 high-emphasis">Partner Contacts</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 pl-0 mt-2">
            <form [formGroup]="partnerContactsSearchForm">
                <div class="form-group">
                    <div class="d-flex bd-highlight mb-2">
                        <div class="form-inline float-left pl-3 mr-auto">
                            <label>Search by typing a Partner Name:</label>
                            <input 
                                placeholder="Click clear to reset the list"
                                type="text" 
                                class="form-control ml-2" 
                                name="searchTerm" 
                                [(ngModel)]="searchTerm" 
                                formControlName="SearchTerm"
                                (input)="search($event.target.value)"
                                (change)="onChangeClearSearch($event)"
                            >
                            <div class="bd-highlight pl-3">
                              <button class="btn btn-secondary" (click)="clearSearch()">Clear</button>
                            </div>
                          </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Partner Code<i class="fas fa-sort pl-1" (click)="onClickSortPartnerCode($event)"></i></th>
                        <th scope="col">Partner Name</th>
                        <th scope="col">Sedona Contact Email</th>
                        <th scope="col">TPC Login Exists</th>
                        <th scope="col">RM Assigned<i class="fas fa-filter pl-1" (click)="onOpenRMFilterModal(rmAssigned)"></i></th>
                        <th scope="col">Last Login</th>
                        <th scope="col">State<i class="fas fa-filter pl-1" (click)="onOpenStateFilterModal(state)"></i></th>
                        <th scope="col">Primary Contact<i class="fas fa-filter pl-1" (click)="onOpenFilterPrimaryContactModal(primaryContact)"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listPartnerContacts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <!-- <td id="{{ item.service_Ticket_Id }}" class="hyperlink" (click)="onOpenPartnerServiceListingModal(item.service_Ticket_Id, item.ticket_Number, item.creation_Date, item.problem_Code, item.contactName, item.contactPhone, item.acContact, item.sitePhone, item.acContactEmail, item.customer_Number, item.customer_Name, item.customerRMR, item.customer_Since, item.collectionQueue, item.cancelStatus, item.business_Name, item.comResStatus, item.address_1, item.address_2, item.address_3, item.city, item.state, item.zipCode, item.status3G, item.csAccount, item.systemType, item.panelType, item.centralStation, item.panel_Location, item.customerComments)">{{ item.ticket_Number }}</td> -->
                        <td class="hyperlink" (click)="onClickOpenPartnerLandingPage(item.partnerCode, item.sedonaContactEmail, item.partnerName)">{{ item.partnerCode }}</td>
                        <td>{{ item.partnerName }}</td>
                        <td>{{ item.sedonaContactEmail }}</td>
                        <td>{{ item.tpcLoginExists }}</td>
                        <td>{{ item.rmAssigned }}</td>
                        <td>{{ item.lastLoginOn }}</td>
                        <td>{{ item.usState }}</td>
                        <td>{{ item.primaryContact }}</td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination
                [collectionSize]="listPartnerContacts?.length"
                [(page)]="page" 
                [maxSize]="5" 
                [rotate]="true" 
                [ellipses]="false" 
                [boundaryLinks]="true"
                class="d-flex justify-content-center mt-5">
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #rmAssigned let-modal>
    <div class="modal-header">
        <button class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
            <span aria-label="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="partnerViewListFilterForm">
                    <div class="row">
                        <div class="col">
                            <h5>Regional Manager</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="myColumns" >
                            <div class="form-check" *ngFor="let item of rmListForTPC; let i = index">
                                <input  
                                    class="form-check-input" 
                                    type="radio" 
                                    formControlName="FilterRM"
                                    id="{{item.rmid}}"
                                    value="{{item.rmAssigned}}" 
                                    (change)="onChangeFilterRM($event)"
                                />
                                    {{item.rmAssigned}}
                        </div>
                    </div>         
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #state let-modal>
    <div class="modal-header">
        <button class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
            <span aria-label="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="partnerViewListFilterForm">
                    <div class="row">
                        <div class="col">
                            <h5>State</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="myColumns" >
                            <div class="form-check" *ngFor="let item of tpcStateList; let i = index">
                                <input  
                                    class="form-check-input" 
                                    type="radio" 
                                    formControlName="FilterState"
                                    id="{{item.usStateID}}"
                                    value="{{item.usStateName}}" 
                                    (change)="onChangeFilterState($event)"/>
                                    
                                    {{item.usStateName}}
                        </div>
                    </div>         
                  </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #primaryContact let-modal>
    <div class="modal-header">
        <button class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
            <span aria-label="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="primaryContactFilterForm">
                    <div class="row">
                        <div class="col">
                            <h5>Primary Contact Filter</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="my-columns">
                            <div class="form-check">
                                <input 
                                    type="radio"
                                    formControlName="FilterPrimaryContact"
                                    id="all"
                                    value="n" 
                                    (change)="onChangeFilterPrimaryContact($event)">All Contacts
                                <input
                                    type="radio"
                                    formControlName="FilterPrimaryContact"
                                    id="primary"
                                    value="y" 
                                    (change)="onChangeFilterPrimaryContact($event)">Primary Contacts
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner>
