<div class="clearfix">
    <button class="btn btn-primary call-summary-btn float-right" id="showCallSummaryModal">
        Call Summary
    </button>

    <div class="modal fade" id="callSummaryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="maxWidth-900">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="snackbar-container"></div>
                            <h2 class="modal-title" id="exampleModalLabel" style="padding-left: 1.5rem;color:#1220EF;font-weight:700;">Call Summary</h2>
                        </div>
                    </div>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body" id="callSummary">
                            <div class="row mt-2 mb-2">
                                <div class="col-md-12" *ngFor="let item of custNameNumb">
                                   #<span id="callSummaryCustomerNumber">{{ item.customerNumber }}</span>
                                   &nbsp;&nbsp;&nbsp;
                                    <span id="callSummaryCustomerName">{{ item.customerName }}</span>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <form [formGroup]="callSummaryAddForm" (ngSubmit)="onSubmit(callSummaryAddForm)">
                                    <div class="row mt-2 mb-2">
                                        <!-- This currently breaks the system selection because an ID cannot be fetched to append to the call -->
                                        <!-- <div *ngIf="site?.length > 1"> 
                                            <div class="col-md-6">
                                                <div class="form-group btn-group" id="callTypeDropdown">
                                                    <label class="d-block call-summary-select">Site</label>
                                                    <div class="dropdown">
                                                        <select formControlName="site" class="form-control form-control-lg" id="callSummarySiteSelect" [ngClass]="{ 'is-invalid': submitted && f.site.errors }" [(ngModel)]="selectedValue" (ngModelChange)="changeSystem($event)">
                                                            <option *ngFor="let site of site" value="{{ site.customerSiteID }}" [ngValue]="site.customerSiteID">{{ site.address_1 }}</option>
                                                        </select>
                                                        <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                                                            <div *ngIf="f.site.errors.required">Site is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-6">
                                            <div class="form-group btn-group" id="callTypeDropdown">
                                                <label class="d-block call-summary-select">Site</label>
                                                <div class="dropdown">
                                                    <select formControlName="site" class="form-control form-control-lg" id="callSummarySiteSelect" [ngClass]="{ 'is-invalid': submitted && f.site.errors }" [(ngModel)]="selectedValue" (ngModelChange)="changeSystem($event)">
                                                        <option *ngFor="let site of site" value="{{ site.customerSiteID }}" [ngValue]="site.customerSiteID">{{ site.address_1 }}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                                                        <div *ngIf="f.site.errors.required">A site selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group btn-group" id="callTypeDropdown">
                                                <label class="d-block call-summary-select">System</label>
                                                <div class="dropdown">
                                                    <select formControlName="SystemID" class="form-control form-control-lg" id="callSummarySystemSelect" [ngClass]="{ 'is-invalid': submitted && f.SystemID.errors }">
                                                        <option *ngFor="let system of siteToSystemList" value="{{ system.customerSystemID }}" [ngValue]="system.customerSystemID">
                                                            {{system.alarm_Account}} - {{ system.systemType }}
                                                            <!-- {{ system.key }} - {{ system.value }} -->
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && f.SystemID.errors" class="invalid-feedback">
                                                        <div *ngIf="f.SystemID.errors.required">A system selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-md-3">
                                            <div class="form-group btn-group" id="callTypeDropdown">
                                                <label class="d-block call-summary-select">Call Type</label>
                                                <div class="dropdown">
                                                    <select formControlName="callSummaryClassList" class="form-control form-control-lg" id="callSummaryClassListSelect" [ngClass]="{ 'is-invalid': submitted && f.callSummaryClassList.errors }" [(ngModel)]="selectedCallType" (ngModelChange)="showProblemsBasedOnClassSelect($event)">
                                                        <option *ngFor="let type of callSummaryClassList" value="{{ type.problem_Class_id }}" [ngValue]="type.problem_Class_id">{{ type.problem_Class_description }}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.callSummaryClassList.errors" class="invalid-feedback">
                                                        <div *ngIf="f.callSummaryClassList.errors.required">A call type selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group btn-group" id="callTypeDropdown">
                                                <label class="d-block call-summary-select">Problems</label>
                                                <div class="dropdown">
                                                    <select formControlName="ProblemID" class="form-control form-control-lg" id="callSummaryProblems" [ngClass]="{ 'is-invalid': submitted && f.ProblemID.errors }">
                                                        <option *ngFor="let problem of callSummaryProblems" value="{{ problem.problem_Id }}" [ngValue]="problem.problem_Id">{{ problem.description }}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.ProblemID.errors" class="invalid-feedback">
                                                        <div *ngIf="f.ProblemID.errors.required">A problem selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group btn-group" id="callTypeDropdown" *ngIf="show">
                                                <label class="d-block call-summary-select">Resolution</label>
                                                <div class="dropdown">
                                                    <select formControlName="ResolutionID" class="form-control form-control-lg" id="callSummaryResolutions" [ngClass]="{ 'is-invalid': submitted && f.ResolutionID.errors }">
                                                        <option *ngFor="let resolution of callSummaryResolutions" value="{{ resolution.resolution_Id }}" [ngValue]="resolution.resolution_Id">{{ resolution.description }}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.ResolutionID.errors" class="invalid-feedback">
                                                        <div *ngIf="f.ResolutionID.errors.required">A resolution selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group btn-group" id="callTypeDropdown" *ngIf="!show"> 
                                                <label class="d-block call-summary-select">Next Step</label>
                                                <div class="dropdown">
                                                    <select formControlName="CallSummaryNextSteps" class="form-control form-control-lg" id="callSummaryNextSteps" [ngClass]="{ 'is-invalid': submitted && f.CallSummaryNextSteps.errors }">
                                                        <option *ngFor="let nextStep of callSummaryNextSteps" value="{{ nextStep.employeeID }}" [ngValue]="nextStep.employeeID">{{ nextStep.employeeName }}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.CallSummaryNextSteps.errors" class="invalid-feedback">
                                                        <div *ngIf="f.CallSummaryNextSteps.errors.required">A next step selection is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-md-6">
                                            <div class="form-group btn-group">
                                                <label>Was the issue resolved?</label>
                                                <input checked type="checkbox" class="ml-1 mt-1" (change)="isIssueResolved($event)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Customer On Call</label>
                                                <input type="text" [(ngModel)]="customerOnCall" formControlName="CustomerOnCall" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerOnCall.errors }">
                                                <div *ngIf="submitted && f.CustomerOnCall.errors" class="invalid-feedback">
                                                    <div *ngIf="f.CustomerOnCall.errors.required">Customer On Call is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Customer Call Back Phone</label>
                                                <!-- <input type="text" [(ngModel)]="customerCallBackPhone" formControlName="CustomerCallBackPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerCallBackPhone.errors }" placeholder="(123) 456-789 ext" mask="(000) 000 0000 000"> -->
                                                <input type="text" [(ngModel)]="customerCallBackPhone" formControlName="CustomerCallBackPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerCallBackPhone.errors }" [specialCharacters]="[ ' ' ,'-' ,'(', ')' ,'[' ,']' , 'x' ]" mask="(000) 000-0000 x000">
                                                <div *ngIf="submitted && f.CustomerCallBackPhone.errors" class="invalid-feedback">
                                                    <div *ngIf="f.CustomerCallBackPhone.errors.required">A customer call back phone # is required</div>
                                                    <div *ngIf="f.CustomerCallBackPhone.errors.minlength">Minimum 10 characters are required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-md-12">
                                            <div class="form-group" id="custCommentsTextArea" *ngIf="!show">
                                                <label>Customer Comments</label>
                                                <textarea formControlName="CustomerComments" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CustomerComments.errors }"></textarea>
                                                <div *ngIf="submitted && f.CustomerComments.errors" class="invalid-feedback">
                                                    <div *ngIf="f.CustomerComments.errors.required">Customer Comments are required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-md-12">
                                            <div class="form-group" id="resNotesTextArea" *ngIf="show">
                                                <label>Resolution Notes</label>
                                                <textarea formControlName="TechNotes" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.TechNotes.errors }"></textarea>
                                                <div *ngIf="submitted && f.TechNotes.errors" class="invalid-feedback">
                                                    <div *ngIf="f.TechNotes.errors.required">Tech Notes are required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-2">
                                        <!-- <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary float-right save-btn" id="callSummaryAdd">Save</button>
                                        </div> -->
                                        <div class="col-md-6">
                                            <h5>Ticket Number</h5>
                                            <p class="text-danger" id="ticket-number" #ticketNumber></p>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary float-right save-btn" id="callSummaryAdd" [disabled]="clicked">Save</button>
                                        </div>
                                    </div>
                                </form>
                                <button type="reset" class="btn float-right save-btn bg-danger text-white call-summary-reset" (click)="ticketFieldResetButton()" [disabled]="enableReset">Reset</button>
                                <!-- Result -->
                                <!-- <div id="ticketNumberResult" class="pt-4">
                                    <h5>Ticket Number</h5>
                                    <p id="ticket-number" #ticketNumber></p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="hideCallSummaryModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>