.call-summary-select {
    color: #1220EF;
    font-weight:700;
}
/* input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
	border-color: #dc3545;
} */
.call-summary-reset {
    position: relative;
    top: -80px;
    left: 500px;
}
.toast {
    position: absolute;
    top: 0;
    left: 0;
    /* position: inherit; */
}
::ng-deep .toast-header {
    color: #ff0101;
}
.update-btn {
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: orangered;
    padding: 0.1rem 2.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}