.partner-dashbrd-btn {
    white-space: break-spaces;
    cursor: pointer;
}
.card-deck > .card {
    width: 31%;
    flex-wrap: wrap;
    flex: initial;
}
.footer-logo {
    color: #1B5EAC;
}
.mt-25 {
    margin-top: 25px;
}

.bg-gradient-partner-dashboard {
    background: #23036A;
}
.card {
    border-radius: 0.875rem;
    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}