<!-- <div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
    </div>
  </div>
</div> -->

<div class="ml-4 mr-4">
  <div class="row card-deck">
      <div class="card">
          <div class="card-body d-flex flex-column">
              <h2 class="card-title text-success">Customers with 3G Systems</h2>
              <div class="row">
                  <div class="col-md-8">
                      <p class="card-text text-primary">AT&amp;T: 232 systems to go. Customers lose connectivity in 8 months!</p>
                      <p class="card-text text-primary">Verizon: 166 systems to go. Customers lose connectivity in 16 months!</p>
                  </div>
                  <div class="col-md-4 align-self-end text-right">
                      <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block" (click)="routeToCustomer3GList()">View All 3G Customers</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body d-flex flex-column">
              <h2 class="card-title text-success">Prospects</h2>
              <div class="row">
                  <div class="col-md-8">
                      <p class="card-text text-primary">38 Pending prospects</p>
                      <p class="card-text text-primary">The oldest is from 10-16-2018</p>
                  </div>
                  <div class="col-md-4 align-self-end text-right">
                      <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block">View Prospects</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body d-flex flex-column">
              <h2 class="card-title text-success">Atrrition Summary</h2>
              <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4 align-self-end text-right">
  
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row card-deck">
      <div class="card mt-3 mb-3">
          <div class="card-body d-flex flex-column">
              <h2 class="card-title text-success">Incentives</h2>
              <div class="row">
                  <div class="col-md-8">
                      <p class="card-text text-primary">12 Incentives Approved this Month</p>
                      <p class="card-text text-primary">9 Incentives are in Process</p>
                      <p class="card-text text-primary">
                          <span class="text-danger font-weight-bold">!</span> 4 Incentives are on Hold
                      </p>
                      </div>
                      <div class="col-md-4 align-self-end text-right">
                          <button class="btn btn-primary flex-column partner-dashbrd-btn mb-2 btn-block" style="cursor: pointer;" (click)="routeToIncentiveEntry()">Create an Incentive</button>
                          <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block">View Incentives</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card mt-3 mb-3">
              <div class="card-body d-flex flex-column">
                  <h2 class="card-title text-success">Pending Cancels</h2>
                  <div class="row">
                      <div class="col-md-8">
                          <p class="card-text text-primary">There are 56 people with pending cancellations.</p>
                          <p class="card-text text-primary">They have a combined RMR of $1,868.93</p>
                      </div>
                      <div class="col-md-4 align-self-end text-right">
                          <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block">View the Cancels</button>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <div>
  
              </div>
          </div>
      </div>
      <div class="row card-deck">
          <div class="card">
              <div class="card-body d-flex flex-column">
                  <h2 class="card-title text-success">Service Requests</h2>
                  <div class="row">
                      <div class="col-md-8">
                          <p class="card-text text-primary">160 Service Requests pending.</p>
                          <p class="card-text text-primary">0 Service Invoices on hold.</p>
                          <p class="card-text text-primary">0 Service Invoices awaiting approval.</p>
                      </div>
                      <div class="col-md-4 align-self-end text-right">
                          <button class="btn btn-primary flex-column partner-dashbrd-btn mb-2 btn-block">Create a Request</button>
                          <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block">View Requests</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="card-body d-flex flex-column">
                  <h2 class="card-title text-success">Aging Summary</h2>
                  <div class="row">
                      <div class="col-md-8">
                          <div class="row ml-0">
                              <p class="card-text pr-3 text-primary">Over 30 Days</p>
                              <p class="card-text pr-3 text-primary">122</p>
                              <p class="card-text text-primary">$9,249.46</p>
                          </div>
                          <div class="row ml-0">
                              <p class="card-text pr-3 text-primary">Over 60 Days</p>
                              <p class="card-text pr-3 text-primary">50</p>
                              <p class="card-text text-primary">$4,049.76</p>
                          </div>
                          <div class="row ml-0">
                              <p class="card-text pr-3 text-warning">Over 90 Days</p>
                              <p class="card-text pr-3 text-warning">25</p>
                              <p class="card-text text-warning">$1,948.22</p>
                          </div>
                          <div class="row ml-0">
                              <p class="card-text pr-3 text-danger">Over 120 Days</p>
                              <p class="card-text pr-3 text-danger">26</p>
                              <p class="card-text text-danger">$3,387.54</p>
                          </div>
                      </div>
                      <div class="col-md-4 align-self-end text-right">
                          <button class="btn btn-primary flex-column partner-dashbrd-btn btn-block">View Aging</button>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <div>
  
              </div>
          </div>
      </div>
  </div>

<!-- <div class="ml-4 mr-4">
  <div class="row">
    <div class="col-lg-4">

      <div class="card">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Customers with 3G Systems</h2>
          <div class="row">
            <div class="col-md-8">
              <p class="card-text text-primary">AT&amp;T: 232 systems to go. Customers lose connectivity in 8 months!</p>
              <p class="card-text text-primary">Verizon: 166 systems to go. Customers lose connectivity in 16 months!</p>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn" (click)="routeToCustomer3GList()">View All 3G Customers</button></div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Prospects</h2>
          <div class="row">
            <div class="col-md-8">
              <p class="card-text text-primary">38 Pending prospects</p>
              <p class="card-text text-primary">The oldest is from 10-16-2018</p>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn">View Prospects</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Atrrition Summary</h2>
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary">View Atrrition Summary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mt-3 mb-3">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Incentives</h2>
          <div class="row">
            <div class="col-md-8">
              <p class="card-text text-primary">12 Incentives Approved this Month</p>
              <p class="card-text text-primary">9 Incentives are in Process</p>
              <p class="card-text text-primary"> <span class="text-danger font-weight-bold">!</span> 4 Incentives are on Hold</p>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn" (click)="routeToIncentiveEntry()">Create an Incentive</button>
              <button class="btn btn-primary flex-column partner-dashbrd-btn">View Incentives</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mt-3 mb-3">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Pending Cancels</h2>
          <div class="row">
            <div class="col-md-8">
              <p class="card-text text-primary">There are 56 people with pending cancellations.</p>
              <p class="card-text text-primary">They have a combined RMR of $1,868.93</p>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn">View the Cancels</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="">
        <div class="">
          <p>Coming Soon</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Service Requests</h2>
          <div class="row">
            <div class="col-md-8">
              <p class="card-text text-primary">160 Service Requests pending.</p>
              <p class="card-text text-primary">0 Service Invoices on hold.</p>
              <p class="card-text text-primary">0 Service Invoices awaiting approval.</p>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn">Create a Request</button>
              <button class="btn btn-primary flex-column partner-dashbrd-btn">View Requests</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title text-success">Aging Summary</h2>
          <div class="row">
            <div class="col-md-8">
              <div class="row ml-0">
                <p class="card-text pr-3 text-primary">Over 30 Days</p>
                <p class="card-text pr-3 text-primary">122</p>
                <p class="card-text text-primary">$9,249.46</p>
              </div>
              <div class="row ml-0">
                <p class="card-text pr-3 text-primary">Over 60 Days</p>
                <p class="card-text pr-3 text-primary">50</p>
                <p class="card-text text-primary">$4,049.76</p>
              </div>
              <div class="row ml-0">
                <p class="card-text pr-3 text-warning">Over 90 Days</p>
                <p class="card-text pr-3 text-warning">25</p>
                <p class="card-text text-warning">$1,948.22</p>
              </div>
              <div class="row ml-0">
                <p class="card-text pr-3 text-danger">Over 120 Days</p>
                <p class="card-text pr-3 text-danger">26</p>
                <p class="card-text text-danger">$3,387.54</p>
              </div>
            </div>
            <div class="col-md-4 align-self-end text-right">
              <button class="btn btn-primary flex-column partner-dashbrd-btn">View Aging</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="">
        <div class="">
          <p>Coming Soon</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<footer class="footer">
  <div class="ml-5 mr-5">
    <div class="row">
      <div class="col-md-3">
        <h2 class="font-weight-bolder footer-logo">The Partnership Connection</h2>
      </div>
      <div class="col-md-1">
        <p class="font-weight-bold footer-logo mb-0 mt-25">powered by </p>
      </div>
      <div class="col-md-8">
        <img src="../../../assets/img/AlarmConnections_Logo_Primary(With_Tag)_RGB.svg" id="afa-brand-logo">
      </div>
      <!-- <div class="col-sm-12">
        <h2 class="">The Partnership Connection</h2>
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-sm-12">
        <p class="">powered by Alarm Connections</p>
      </div>
    </div> -->
  </div>
</footer>

<!-- <div class="row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h3>Partner Dashboard</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" (click)="load3GList()">3G List</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 pl-0 mt-2">
                        <div class="d-flex flex-row-reverse bd-highlight mb-2">
                            <div class="p-2 bd-highlight">
                              <select (change)="onTableSizeChange($event)" class="custom-select">
                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                  {{ size }}
                                </option>
                              </select>
                            </div>
                          </div>
                        
                          <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Alarm Account</th>
                                    <th scope="col">Customer Number</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Customer Type</th>
                                    <th scope="col">Site Name</th>
                                    <th scope="col">Site Number</th>
                                    <th scope="col">Address 1</th>
                                    <th scope="col">Address 2</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Zip Code</th>
                                    <th scope="col">Panel Type Code</th>
                                    <th scope="col">Panel Location</th>
                                    <th scope="col">System Code</th>
                                    <th scope="col">Cell Type</th>
                                    <th scope="col">Cell Generation</th>
                                    <th scope="col">Cell Model</th>
                                    <th scope="col">Carrier</th>
                                    <th scope="col">Offer 1</th>
                                    <th scope="col">Offer 2</th>
                                    <th scope="col">Offer 3</th>
                                    <th scope="col">Offer 4</th>
                                    <th scope="col">RMR at Customer</th>
                                    <th scope="col">RMR at Site</th>
                                    <th scope="col">RMR at System</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of customer3glisting | paginate : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count
                                          };
                                    ">
                                    <th scope="row">{{item.alarm_Account}}</th>
                                    <td>{{ item.customer_Number }}</td>
                                    <td>{{ item.customer_Name }}</td>
                                    <td>{{ item.customerType }}</td>
                                    <td>{{ item.siteName }}</td>
                                    <td>{{ item.site_Number }}</td>
                                    <td>{{ item.address_1 }}</td>
                                    <td>{{ item.address_2 }}</td>
                                    <td>{{ item.city }}</td>
                                    <td>{{ item.state }}</td>
                                    <td>{{ item.zipCode }}</td>
                                    <td>{{ item.panel_Type_Code }}</td>
                                    <td>{{ item.panel_Location }}</td>
                                    <td>{{ item.system_Code }}</td>
                                    <td>{{ item.cellType }}</td>
                                    <td>{{ item.cellGeneration }}</td>
                                    <td>{{ item.cellModel }}</td>
                                    <td>{{ item.carrier }}</td>
                                    <td>{{ item.offer1 }}</td>
                                    <td>{{ item.offer2 }}</td>
                                    <td>{{ item.offer3 }}</td>
                                    <td>{{ item.offer4 }}</td>
                                    <td>{{ item.rmrAtCustomer }}</td>
                                    <td>{{ item.rmrAtSite }}</td>
                                    <td>{{ item.rmrAtSystem }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            
                              <div class="d-flex justify-content-center">
                                <pagination-controls  
                                  previousLabel="Prev" 
                                  nextLabel="Next" 
                                  (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner> -->
