<div class="row">
  <div class="col-xl-8">
      <div style="width: 100%;">
          <div class="col-xl-12 mb-5 mb-xl-0 pr-0">
              <button class="btn btn-primary" (click)="routeToCustomer3GList()">View 3G List</button>
              <button class="btn btn-primary" (click)="routeToIncentiveEntry()">Enter an Incentive</button>
              <!-- <app-customercaredashboardinfo></app-customercaredashboardinfo> -->
              <!-- <app-systeminfo></app-systeminfo> -->
          </div>
      </div>
  </div>
  <div class="col-xl-4">
      <!-- <app-callsummary></app-callsummary> -->
      <!-- <app-suggestedtopics></app-suggestedtopics> -->
      <!-- <app-criticalmessage></app-criticalmessage> -->
  </div>
</div>
<footer class="footer">
  <div class="container footer-cca">
      <p class="float-right">Partner</p>
  </div>
</footer>

<!-- <div class="row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h3>Partner Dashboard</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" (click)="load3GList()">3G List</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 pl-0 mt-2">
                        <div class="d-flex flex-row-reverse bd-highlight mb-2">
                            <div class="p-2 bd-highlight">
                              <select (change)="onTableSizeChange($event)" class="custom-select">
                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                  {{ size }}
                                </option>
                              </select>
                            </div>
                          </div>
                        
                          <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Alarm Account</th>
                                    <th scope="col">Customer Number</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Customer Type</th>
                                    <th scope="col">Site Name</th>
                                    <th scope="col">Site Number</th>
                                    <th scope="col">Address 1</th>
                                    <th scope="col">Address 2</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Zip Code</th>
                                    <th scope="col">Panel Type Code</th>
                                    <th scope="col">Panel Location</th>
                                    <th scope="col">System Code</th>
                                    <th scope="col">Cell Type</th>
                                    <th scope="col">Cell Generation</th>
                                    <th scope="col">Cell Model</th>
                                    <th scope="col">Carrier</th>
                                    <th scope="col">Offer 1</th>
                                    <th scope="col">Offer 2</th>
                                    <th scope="col">Offer 3</th>
                                    <th scope="col">Offer 4</th>
                                    <th scope="col">RMR at Customer</th>
                                    <th scope="col">RMR at Site</th>
                                    <th scope="col">RMR at System</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of customer3glisting | paginate : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count
                                          };
                                    ">
                                    <th scope="row">{{item.alarm_Account}}</th>
                                    <td>{{ item.customer_Number }}</td>
                                    <td>{{ item.customer_Name }}</td>
                                    <td>{{ item.customerType }}</td>
                                    <td>{{ item.siteName }}</td>
                                    <td>{{ item.site_Number }}</td>
                                    <td>{{ item.address_1 }}</td>
                                    <td>{{ item.address_2 }}</td>
                                    <td>{{ item.city }}</td>
                                    <td>{{ item.state }}</td>
                                    <td>{{ item.zipCode }}</td>
                                    <td>{{ item.panel_Type_Code }}</td>
                                    <td>{{ item.panel_Location }}</td>
                                    <td>{{ item.system_Code }}</td>
                                    <td>{{ item.cellType }}</td>
                                    <td>{{ item.cellGeneration }}</td>
                                    <td>{{ item.cellModel }}</td>
                                    <td>{{ item.carrier }}</td>
                                    <td>{{ item.offer1 }}</td>
                                    <td>{{ item.offer2 }}</td>
                                    <td>{{ item.offer3 }}</td>
                                    <td>{{ item.offer4 }}</td>
                                    <td>{{ item.rmrAtCustomer }}</td>
                                    <td>{{ item.rmrAtSite }}</td>
                                    <td>{{ item.rmrAtSystem }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            
                              <div class="d-flex justify-content-center">
                                <pagination-controls  
                                  previousLabel="Prev" 
                                  nextLabel="Next" 
                                  (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait...</p>  
</ngx-spinner> -->
