.partner-dashbrd-btn {
    white-space: break-spaces;
    cursor: pointer;
}
.card-deck > .card {
    width: 31%;
    flex-wrap: wrap;
    flex: initial;
}
.footer-logo {
    color: #1B5EAC;
}
.mt-25 {
    margin-top: 25px;
}